unpackaged/main/default/flows/Account_Find.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Domain_Count</name>
        <label>Assign Domain Count</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>varDomainCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Account3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_Account_Domain</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>666</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varAccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account1</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_0</name>
        <label>Assignment</label>
        <locationX>710</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>varAccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account2</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>School_Assign_3</name>
        <label>School Assign 3</label>
        <locationX>270</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>varAccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Account</name>
        <label>Found Account Sheer</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Keep Looking</defaultConnectorLabel>
        <rules>
            <name>Keep_Looking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account2</targetReference>
            </connector>
            <label>Keep Looking</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Account_Domain</name>
        <label>Found Account Domain</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <defaultConnectorLabel>Keep Looking</defaultConnectorLabel>
        <rules>
            <name>Only_One_Domain_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDomainCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Account</targetReference>
            </connector>
            <label>Only One Domain Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Account_Name</name>
        <label>Found Account Name</label>
        <locationX>446</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>Should_Update_SheerID_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>Keep_Looking2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account3</targetReference>
            </connector>
            <label>Keep Looking</label>
        </rules>
    </decisions>
    <decisions>
        <name>SheerIDName_has_value</name>
        <label>SheerIDName has value?</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Account1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varSheerIDName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSheerIDName</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varSheerIDName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account2</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Update_Sheer_ID_Domain</name>
        <label>Should Update Sheer ID Domain</label>
        <locationX>270</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>School_Assign_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yes_Update2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Account.SheerID_School_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSheerIDName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_School3</targetReference>
            </connector>
            <label>Yes Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Update_SheerID_Name</name>
        <label>Should Update SheerID Name</label>
        <locationX>710</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Assignment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yes_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSheerIDName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account2.SheerID_School_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_School2_0</targetReference>
            </connector>
            <label>Yes Update</label>
        </rules>
    </decisions>
    <description>Add in Domain Searching</description>
    <interviewLabel>Account Find {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Find</label>
    <loops>
        <name>Loop_Account</name>
        <label>Loop Account</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <collectionReference>Account3</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Should_Update_Sheer_ID_Domain</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Account1</name>
        <label>Account Sheer ID Lookup</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SheerID_School_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSheerIDName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Account2</name>
        <label>Account Name Lookup</label>
        <locationX>446</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Account_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSchoolName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Account3</name>
        <label>Account Domain Lookup</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Domain_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Domain__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDomain</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_School2_0</name>
        <label>Update School2</label>
        <locationX>578</locationX>
        <locationY>1310</locationY>
        <connector>
            <targetReference>Assignment_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account2.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SheerID_School_Name__c</field>
            <value>
                <elementReference>varSheerIDName</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_School3</name>
        <label>Update School3</label>
        <locationX>138</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>School_Assign_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SheerID_School_Name__c</field>
            <value>
                <elementReference>varSheerIDName</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SheerIDName_has_value</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>objAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDomain</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDomainCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varSchoolName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSheerIDName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
