unpackaged/main/default/flows/Build_Partner_Products_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Partner_Product</name>
        <label>Assign Partner Product</label>
        <locationX>291</locationX>
        <locationY>1383</locationY>
        <assignmentItems>
            <assignToReference>varPartnerProduct.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Partner_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPartnerProduct.Permission_To_Share__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPartnerProduct.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expressed Interest</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPartnerProduct.Subject_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLead.Subject_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPartnerProduct.Times_Filled_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPartnerProduct.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Partner_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Assign</name>
        <label>Contact Assign</label>
        <locationX>401</locationX>
        <locationY>922</locationY>
        <assignmentItems>
            <assignToReference>varPartnerProduct.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPartnerProduct.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObjContact.Subject_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Partner_Product_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_Assign</name>
        <label>Lead Assign</label>
        <locationX>180</locationX>
        <locationY>925</locationY>
        <assignmentItems>
            <assignToReference>varPartnerProduct.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPartnerProduct.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLead.Subject_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Partner_Product_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Assign</name>
        <label>Update Assign</label>
        <locationX>526</locationX>
        <locationY>1134</locationY>
        <assignmentItems>
            <assignToReference>Contact_PP_Dup_Check.Times_Filled_Out__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Assign_0</name>
        <label>Update Assign</label>
        <locationX>50</locationX>
        <locationY>1129</locationY>
        <assignmentItems>
            <assignToReference>Lead_PP_Dup_Check.Times_Filled_Out__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_PP_Dup_Check.Subject_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLead.Subject_Interest__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PP_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_or_Lead</name>
        <label>Contact or Lead</label>
        <locationX>283</locationX>
        <locationY>541</locationY>
        <defaultConnector>
            <targetReference>Lead_PP_Dup_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_PP_Dup_Check</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continent</name>
        <label>Continent</label>
        <locationX>283</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>Get_Partner_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed</defaultConnectorLabel>
        <rules>
            <name>End</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varContinent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Europe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContinent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContinent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>End</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Partner_Product_Found</name>
        <label>Was Partner Product Found</label>
        <locationX>283</locationX>
        <locationY>1132</locationY>
        <defaultConnector>
            <targetReference>Assign_Partner_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_PP_Dup_Check</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assign</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
        <rules>
            <name>Lead_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_PP_Dup_Check</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assign_0</targetReference>
            </connector>
            <label>Lead Found</label>
        </rules>
    </decisions>
    <description>Remove Subject reference on lead v2</description>
    <environments>Default</environments>
    <interviewLabel>Build Partner Products Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Build Partner Products Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Partner_Product</name>
        <label>Create Partner Product</label>
        <locationX>291</locationX>
        <locationY>1598</locationY>
        <inputReference>varPartnerProduct</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Contact_PP_Dup_Check</name>
        <label>Contact PP Dup Check</label>
        <locationX>401</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Partner_ID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_ID</name>
        <label>Get Partner ID</label>
        <locationX>291</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_or_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPartnerName</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lead_PP_Dup_Check</name>
        <label>Lead PP Dup Check</label>
        <locationX>180</locationX>
        <locationY>720</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLead.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Partner_ID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PP</name>
        <label>Update PP</label>
        <locationX>526</locationX>
        <locationY>1330</locationY>
        <inputReference>Contact_PP_Dup_Check</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PP_0</name>
        <label>Update PP</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <inputReference>Lead_PP_Dup_Check</inputReference>
    </recordUpdates>
    <start>
        <locationX>165</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Continent</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>sObjContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varContinent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varPartnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPartnerProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner_Product__c</objectType>
    </variables>
</Flow>
