unpackaged/main/default/flows/Build_Better_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignError</name>
        <label>AssignError</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fMissingThings</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Book_Assignment</name>
        <label>Book Assignment</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>varOpp.Closer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCloser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBookRTID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fClosedBookName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDesc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Duplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Duplicate_Found</name>
        <label>Duplicate Found</label>
        <locationX>402</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>varResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Dup exists, no change: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOppID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Tutor_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Primary_Assignment</name>
        <label>Primary Assignment</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>varOpp.Book__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBookID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Students__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStudents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Class_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCSD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Department_Adoption__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDept</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Need_Rollup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Saving_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSavingNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Book_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Output_Variables</name>
        <label>Set Output Variables</label>
        <locationX>182</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>varOppID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Role_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Renewal</name>
        <label>Set Renewal</label>
        <locationX>974</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>varOpp.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OppDup_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tutor_Assignment</name>
        <label>Tutor Assignment</label>
        <locationX>270</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>varOpp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTutorStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTutorRTID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Department_Adoption__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Closer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCloserTutor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Dup_Name_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fOppSort</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTutorName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpp.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDescTutor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Find_Duplicates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Build_Book_Opp</name>
        <label>Build Book Opp?</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Build_Tutor_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tutor only</defaultConnectorLabel>
        <rules>
            <name>Yes_Build_Book_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed Adoption Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Book_Assignment</targetReference>
            </connector>
            <label>Yes Build Book Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Build_Tutor_Opp</name>
        <label>Build Tutor Opp?</label>
        <locationX>402</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>Update_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Yes_Build_Tutor_Opp</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>varStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed Adoption Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varTutorStage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tutor_Assignment</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpp.Book__r.Tutor_Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSkipTutor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tutor_Assignment</targetReference>
            </connector>
            <label>Yes Build Tutor Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_year2</name>
        <label>Match year?</label>
        <locationX>688</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>Set_Renewal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Previous</defaultConnectorLabel>
        <rules>
            <name>Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fBaseYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loopOpp.Base_Year__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicate_Found</targetReference>
            </connector>
            <label>Duplicate</label>
        </rules>
        <rules>
            <name>Future_adoption</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fBaseYear</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>loopOpp.Base_Year__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OppDup_Loop</targetReference>
            </connector>
            <label>Future adoption?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_Anything</name>
        <label>Missing Anything?</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>GetRecordTypeIDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed</defaultConnectorLabel>
        <rules>
            <name>Missing_Something</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varBookID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignError</targetReference>
            </connector>
            <label>Missing Something</label>
        </rules>
        <rules>
            <name>Needs_CSD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCSD</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CSD</targetReference>
            </connector>
            <label>Needs CSD</label>
        </rules>
    </decisions>
    <description>auto-layout for sanity</description>
    <formulas>
        <name>fBaseYear</name>
        <dataType>Number</dataType>
        <expression>IF(MONTH({!varCSD})&gt;6,Year({!varCSD}),Year({!varCSD})-1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fClosedBookName</name>
        <dataType>String</dataType>
        <expression>LEFT({!varOpp.Book__r.Short_Book_Name__c}&amp;
IF( {!varOpp.Department_Adoption__c}, 
    &quot; Department - &quot;&amp; {!varOpp.Account.Name}, 
    &quot; - &quot;&amp;{!varContactName})
&amp;&quot; - &quot;&amp;
{!fSchoolYear}
,80)</expression>
    </formulas>
    <formulas>
        <name>fCloser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>fCloserTutor</name>
        <dataType>String</dataType>
        <expression>IF({!fTutorStage}=&quot;Confirmed Adoption Won&quot;, {!$User.Id},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fCurrentDate</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Flow.CurrentDate}))
&amp;&quot;-&quot;&amp;
IF(LEN(TEXT(MONTH({!$Flow.CurrentDate})))&lt;2,&quot;0&quot;,&quot;&quot;)&amp;TEXT(MONTH({!$Flow.CurrentDate}))
&amp;&quot;-&quot;&amp;
IF(LEN(TEXT(DAY({!$Flow.CurrentDate})))&lt;2,&quot;0&quot;,&quot;&quot;)&amp;TEXT(DAY({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>fDesc</name>
        <dataType>String</dataType>
        <expression>IF(ISNUMBER(LEFT({!varDesc},4)),
{!varDesc},
{!fCurrentDate}&amp;&quot; - &quot;&amp;{!$User.FirstName}&amp;&quot; &quot;&amp;{!$User.LastName}&amp;&quot; - &quot;&amp;IF(ISBLANK({!varDesc}),&quot;No input&quot;,{!varDesc})
)</expression>
    </formulas>
    <formulas>
        <name>fDescTutor</name>
        <dataType>String</dataType>
        <expression>IF(ISNUMBER(LEFT({!varDescTutor},4)),
{!varDescTutor},
{!fCurrentDate}&amp;&quot; - &quot;&amp;{!$User.FirstName}&amp;&quot; &quot;&amp;{!$User.LastName}&amp;&quot; - &quot;&amp;IF(ISBLANK({!varDescTutor}),&quot;Created because tutor book was adopted&quot;,{!varDescTutor})
)</expression>
    </formulas>
    <formulas>
        <name>fMissingThings</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varAccountID}),&quot;Missing Account &quot;,&quot;&quot;)+
IF(ISBLANK({!varContactID}),&quot;Missing Contact &quot;,&quot;&quot;)+
IF(ISBLANK({!varBookID}),&quot;Missing Book&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fOppSort</name>
        <dataType>String</dataType>
        <expression>{!varOpp.sort__c}</expression>
    </formulas>
    <formulas>
        <name>fSavingNumber</name>
        <dataType>Number</dataType>
        <expression>CASE(TEXT({!varOpp.Account.Type}),
&quot;High School&quot;, IF(TEXT({!varOpp.Book__r.Book_Type__c})=&quot;AP&quot;,{!Find_Savings_Number.AP__c},{!Find_Savings_Number.High_School__c}),
&quot;Elementary School&quot;, IF(TEXT({!varOpp.Book__r.Book_Type__c})=&quot;AP&quot;,{!Find_Savings_Number.AP__c},{!Find_Savings_Number.High_School__c}),
&quot;Middle/Junior High School&quot;, IF(TEXT({!varOpp.Book__r.Book_Type__c})=&quot;AP&quot;,{!Find_Savings_Number.AP__c},{!Find_Savings_Number.High_School__c}),
&quot;K-12 School&quot;, IF(TEXT({!varOpp.Book__r.Book_Type__c})=&quot;AP&quot;,{!Find_Savings_Number.AP__c},{!Find_Savings_Number.High_School__c}),
&quot;School District&quot;, IF(TEXT({!varOpp.Book__r.Book_Type__c})=&quot;AP&quot;,{!Find_Savings_Number.AP__c},{!Find_Savings_Number.High_School__c}),
&quot;Home School&quot;, IF(TEXT({!varOpp.Book__r.Book_Type__c})=&quot;AP&quot;,{!Find_Savings_Number.AP__c},{!Find_Savings_Number.High_School__c}),
{!Find_Savings_Number.Saving_Amount__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fSchoolYear</name>
        <dataType>String</dataType>
        <expression>CASE(YEAR( {!varOpp.Class_Start_Date__c} )-IF(MONTH( {!varOpp.Class_Start_Date__c} )&lt;7,1,0),
2011, &quot;2011 - 12&quot;, 
2012, &quot;2012 - 13&quot;, 
2013, &quot;2013 - 14&quot;, 
2014, &quot;2014 - 15&quot;, 
2015, &quot;2015 - 16&quot;, 
2016, &quot;2016 - 17&quot;, 
2017, &quot;2017 - 18&quot;, 
2018, &quot;2018 - 19&quot;, 
2019, &quot;2019 - 20&quot;, 
2020, &quot;2020 - 21&quot;, 
2021, &quot;2021 - 22&quot;, 
2022, &quot;2022 - 23&quot;, 
2023, &quot;2023 - 24&quot;, 
2024, &quot;2024 - 25&quot;, 
2025, &quot;2025 - 26&quot;, 
2026, &quot;2026 - 27&quot;, 
&quot;fix formula&quot;)</expression>
    </formulas>
    <formulas>
        <name>fTutorName</name>
        <dataType>String</dataType>
        <expression>IF({!varTutorStage}=&quot;Confirmed Adoption Won&quot;, &quot;Tutor Won&quot;, &quot;Tutor Open&quot;)</expression>
    </formulas>
    <formulas>
        <name>fTutorStage</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varTutorStage}), &quot;Discovery&quot;, {!varTutorStage})</expression>
    </formulas>
    <interviewLabel>Build Better Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Build Better Opportunities</label>
    <loops>
        <name>OppDup_Loop</name>
        <label>OppDup Loop</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <assignNextValueToReference>loopOpp</assignNextValueToReference>
        <collectionReference>Find_Duplicates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Match_year2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Contact_Role_Create</name>
        <label>Contact Role Create</label>
        <locationX>182</locationX>
        <locationY>2582</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Build_Tutor_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>varOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Decision Maker</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp</name>
        <label>Create Opp</label>
        <locationX>182</locationX>
        <locationY>2342</locationY>
        <connector>
            <targetReference>Set_Output_Variables</targetReference>
        </connector>
        <inputReference>varOpp</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Duplicates</name>
        <label>Find Duplicates</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OppDup_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpp.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpp.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpp.Book__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Department_Adoption__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpp.Department_Adoption__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpp.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Base_Year__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Savings_Number</name>
        <label>Find Savings Number</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Base_Year__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fBaseYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Savings__mdt</object>
        <sortField>Base_Year__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CSD</name>
        <label>Get CSD</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeIDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Early__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Bug__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CSD__mdt</object>
        <outputAssignments>
            <assignToReference>varCSD</assignToReference>
            <field>Date__c</field>
        </outputAssignments>
        <sortField>Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>534</locationX>
        <locationY>1814</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_In_Touch_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Missing_Anything</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>GetRecordTypeIDs</name>
        <label>GetRecordTypeIDs</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>Find_Savings_Number</targetReference>
        </connector>
        <flowName>GetOppRecordTypes</flowName>
        <outputAssignments>
            <assignToReference>varBookRTID</assignToReference>
            <name>varBookOppID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTutorRTID</assignToReference>
            <name>varTutorOppID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>loopOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBookRTID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Test Name</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varCSD</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDept</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varDesc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDescTutor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeadSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Skip Tutor Loop</description>
        <name>varSkipTutor</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStudents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varTutorRTID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTutorStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
