unpackaged/main/default/flows/Case_Flow_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_New_Assignments</name>
        <label>Add New Assignments</label>
        <locationX>1678</locationX>
        <locationY>4247</locationY>
        <assignmentItems>
            <assignToReference>objTopicAssignment.TopicId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThroughNewTopics.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objTopicAssignment.EntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ThroughNewTopics</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Topics_Existing</name>
        <label>Add Topics Existing</label>
        <locationX>1810</locationX>
        <locationY>5015</locationY>
        <assignmentItems>
            <assignToReference>$Record.Topics__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Related_Assignments_Loop.Topic.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Topics__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_Assignments_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Topics_New</name>
        <label>Add Topics New</label>
        <locationX>1810</locationX>
        <locationY>5351</locationY>
        <assignmentItems>
            <assignToReference>$Record.Topics__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Assignments_Loop.Topic.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Topics__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Assignments_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prior_Assignment_Text_Build</name>
        <label>Prior Assignment Text Build</label>
        <locationX>1590</locationX>
        <locationY>1991</locationY>
        <assignmentItems>
            <assignToReference>colPriorTopicsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colPriorTopicsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.Issue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colPriorTopicsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.Feature__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colPriorTopicsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.Book__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Assignments_Text_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Removes the prior values from the new values collection. So if one of the 4 values doesn&apos;t change then we don&apos;t have to look at that one.</description>
        <name>Remove_Prior_values</name>
        <label>Remove Prior values</label>
        <locationX>1678</locationX>
        <locationY>2231</locationY>
        <assignmentItems>
            <assignToReference>colNewTopicsText</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Prior_Assignments_Text_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prior_Assignments_Text_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Attachment</name>
        <label>Set Case Attachment</label>
        <locationX>1876</locationX>
        <locationY>5903</locationY>
        <assignmentItems>
            <assignToReference>$Record.Has_Attachment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Reopened_Date</name>
        <label>Set Case Reopened Date</label>
        <locationX>1744</locationX>
        <locationY>6239</locationY>
        <assignmentItems>
            <assignToReference>$Record.Reopen_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Update2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Storage_field</name>
        <label>Set Case Storage field</label>
        <locationX>2008</locationX>
        <locationY>6239</locationY>
        <assignmentItems>
            <assignToReference>$Record.Storage__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.Case_Duration_Minutes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Update2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Values</name>
        <label>Set Case Values</label>
        <locationX>2008</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>$Record.Web_Browser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transcript_Lookup.Browser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ChatTranscript__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transcript_Lookup.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Operating_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transcript_Lookup.Platform</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_we_need_to_add_topics</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Assignment</name>
        <label>Set New Assignment</label>
        <locationX>2558</locationX>
        <locationY>3383</locationY>
        <assignmentItems>
            <assignToReference>objTopicAssignment.TopicId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filtered_All_Topics_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objTopicAssignment.EntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colAssignmentsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objTopicAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filtered_All_Topics_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Assignment_Text</name>
        <label>Set New Assignment Text</label>
        <locationX>1722</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>colNewTopicsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colNewTopicsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Issue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colNewTopicsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Feature__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colNewTopicsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Book__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Prior_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>I&apos;m combining the topic defining and adding to collection here, but it might need to be separated</description>
        <name>Set_New_Topic</name>
        <label>Set New Topic</label>
        <locationX>2998</locationX>
        <locationY>3023</locationY>
        <assignmentItems>
            <assignToReference>objTopic.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Assignments_Text_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTopicsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objTopic</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filtered_All_Topics_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Related_Topics_Count</name>
        <label>Set Related Topics Count</label>
        <locationX>2690</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>varRelatedTopicsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Related_Assignments_Filter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Assignment_already_exist</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Filters the all topics list to look at just the one that matches the current topic text</description>
        <name>All_Topics_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>All Topics Filter</label>
        <locationX>2470</locationX>
        <locationY>2663</locationY>
        <assignNextValueToReference>currentItem_All_Topics_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>All_Topics</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_All_Topics_Filter.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>New_Assignments_Text_Loop</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filtered_All_Topics_Loop</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Related_Assignments_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Related Assignments Filter</label>
        <locationX>2690</locationX>
        <locationY>3023</locationY>
        <assignNextValueToReference>currentItem_Related_Assignments_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Related_Assignments</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Related_Assignments_Filter.TopicId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Filtered_All_Topics_Loop.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Related_Topics_Count</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Blocked</name>
        <label>Blocked?</label>
        <locationX>1029</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Is_there_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed</defaultConnectorLabel>
        <rules>
            <name>End_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Lookup.Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blocked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Delete</targetReference>
            </connector>
            <label>End Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Status</name>
        <label>Case Status</label>
        <locationX>2008</locationX>
        <locationY>6119</locationY>
        <defaultConnector>
            <targetReference>Case_Update2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Reopened</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Reopened_Date</targetReference>
            </connector>
            <label>Yes Reopened</label>
        </rules>
        <rules>
            <name>Close_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Storage_field</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Close Closed</label>
        </rules>
    </decisions>
    <decisions>
        <description>The whole section off of this diamond to the add topics path is just to make sure the case has all of the topics necessary based on the 4 fields below</description>
        <name>Do_we_need_to_add_topics</name>
        <label>Do we need to add topics?</label>
        <locationX>2008</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>Attachment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No new topics</defaultConnectorLabel>
        <rules>
            <name>Topics_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Feature__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Issue__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Book__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Topics</targetReference>
            </connector>
            <label>Topics Changed</label>
        </rules>
        <rules>
            <name>Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>All_Topics</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Assignment_already_exist</name>
        <label>Does Assignment already exist</label>
        <locationX>2690</locationX>
        <locationY>3263</locationY>
        <defaultConnector>
            <targetReference>Filtered_All_Topics_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assignment exists</defaultConnectorLabel>
        <rules>
            <name>Needs_new_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRelatedTopicsCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Assignment</targetReference>
            </connector>
            <label>Needs new Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <description>This</description>
        <name>Does_Topic_already_exist</name>
        <label>Does Topic already exist?</label>
        <locationX>2844</locationX>
        <locationY>2903</locationY>
        <defaultConnector>
            <targetReference>Set_New_Topic</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Build New Topic</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filtered_All_Topics_Loop.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_Assignments_Text_Loop</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_Assignments_Filter</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Prior_values</name>
        <label>Has Prior values?</label>
        <locationX>1722</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>New_Assignments_Text_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Brand New</defaultConnectorLabel>
        <rules>
            <name>Yes_Prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prior_Assignment_Text_Build</targetReference>
            </connector>
            <label>Yes Prior</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_attachment</name>
        <label>Is there an attachment</label>
        <locationX>2008</locationX>
        <locationY>5783</locationY>
        <defaultConnector>
            <targetReference>Case_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yes_attachment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Attachment_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Attachment</targetReference>
            </connector>
            <label>Yes attachment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_contact</name>
        <label>Is there contact</label>
        <locationX>2008</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Contact_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yup</defaultConnectorLabel>
        <rules>
            <name>Nope</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transcript_Lookup</targetReference>
            </connector>
            <label>Nope</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Assignments_Needed</name>
        <label>New Assignments Needed?</label>
        <locationX>1722</locationX>
        <locationY>4559</locationY>
        <defaultConnector>
            <targetReference>Related_Assignments_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Build_new_assignments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colAssignmentsToInsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Assignments</targetReference>
            </connector>
            <label>Yes Build new assignments</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Topics_to_Create</name>
        <label>New Topics to Create?</label>
        <locationX>1722</locationX>
        <locationY>3887</locationY>
        <defaultConnector>
            <targetReference>New_Assignments_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No new ones</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Topics</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colTopicsToInsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Topics</targetReference>
            </connector>
            <label>Yes New Topics</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_this_be_blocked</name>
        <label>Should this be blocked?</label>
        <locationX>1128</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_there_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed</defaultConnectorLabel>
        <rules>
            <name>FilterOut</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Filter</label>
        </rules>
        <rules>
            <name>Check_Conctact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Lookup</targetReference>
            </connector>
            <label>Check Conctact</label>
        </rules>
    </decisions>
    <description>Add domain filter</description>
    <environments>Default</environments>
    <formulas>
        <name>fProduct</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Origin})=&quot;Errata&quot;,&quot;Textbook&quot;,
IF(CONTAINS({!$Record.Subject},&quot;Internal Support&quot;),&quot;Internal Support&quot;,
IF(TEXT({!$Record.Product__c})=&quot;College&quot;,&quot;Textbook&quot;,
IF(ISBLANK(TEXT({!$Record.Product__c})),&quot;General&quot;,
TEXT({!$Record.Product__c})))))</expression>
    </formulas>
    <interviewLabel>Case Flow Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Flow Trigger</label>
    <loops>
        <name>Filtered_All_Topics_Loop</name>
        <label>Filtered All Topics Loop</label>
        <locationX>2470</locationX>
        <locationY>2783</locationY>
        <collectionReference>All_Topics_Filter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_Topic_already_exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Assignments_Text_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>New_Assignments_Loop</name>
        <label>New Assignments Loop</label>
        <locationX>1722</locationX>
        <locationY>5231</locationY>
        <collectionReference>colAssignmentsToInsert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Topics_New</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Attachment_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>We&apos;re looping through the 4 new topics to see if they 1 already exist 2 need to assign the new topic 3 need to create the new topic</description>
        <name>New_Assignments_Text_Loop</name>
        <label>New Assignments Text Loop</label>
        <locationX>1722</locationX>
        <locationY>2543</locationY>
        <collectionReference>colNewTopicsText</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>All_Topics_Filter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Topics_to_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Prior_Assignments_Text_Loop</name>
        <label>Prior Assignments Text Loop</label>
        <locationX>1590</locationX>
        <locationY>2111</locationY>
        <collectionReference>colPriorTopicsText</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Remove_Prior_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Assignments_Text_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This is just to populated the Topics field</description>
        <name>Related_Assignments_Loop</name>
        <label>Related Assignments Loop</label>
        <locationX>1722</locationX>
        <locationY>4895</locationY>
        <collectionReference>colRelatedTopics</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Topics_Existing</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Assignments_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ThroughNewTopics</name>
        <label>ThroughNewTopics</label>
        <locationX>1590</locationX>
        <locationY>4127</locationY>
        <collectionReference>colTopicsToInsert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_New_Assignments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>New_Assignments_Needed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Assignments</name>
        <label>Create New Assignments</label>
        <locationX>1590</locationX>
        <locationY>4679</locationY>
        <connector>
            <targetReference>Related_Assignments_Loop</targetReference>
        </connector>
        <inputReference>colAssignmentsToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Topics</name>
        <label>Create New Topics</label>
        <locationX>1590</locationX>
        <locationY>4007</locationY>
        <connector>
            <targetReference>ThroughNewTopics</targetReference>
        </connector>
        <inputReference>colTopicsToInsert</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Case_Delete</name>
        <label>Case Delete</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>All_Topics</name>
        <label>All Topics</label>
        <locationX>1722</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Assignments</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Topic</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Attachment_0</name>
        <label>Attachment</label>
        <locationX>2008</locationX>
        <locationY>5663</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_attachment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HasAttachment</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Contact_Lookup</name>
        <label>Contact Lookup</label>
        <locationX>1029</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Blocked</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>All_Emails__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>All_Emails__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Filter</name>
        <label>Filter</label>
        <locationX>1128</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_this_be_blocked</targetReference>
        </connector>
        <filterLogic>1 AND (2 or 3)</filterLogic>
        <filters>
            <field>Case_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Domain__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Domain__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Filter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Related_Assignments</name>
        <label>Related Assignments</label>
        <locationX>1722</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_New_Assignment_Text</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TopicAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Transcript_Lookup</name>
        <label>Transcript Lookup</label>
        <locationX>2008</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Case_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LiveChatTranscript</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Case_Update2</name>
        <label>Case Update</label>
        <locationX>2008</locationX>
        <locationY>6455</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Contact_Update</name>
        <label>Contact Update</label>
        <locationX>2096</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Transcript_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_In_Touch_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Case__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>1002</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Filter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Skip__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>colAssignmentsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TopicAssignment</objectType>
    </variables>
    <variables>
        <description>A collection for the 4 fields to add tags to</description>
        <name>colNewTopicsText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colPriorTopicsText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colRelatedTopics</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TopicAssignment</objectType>
    </variables>
    <variables>
        <name>colTopicsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Topic</objectType>
    </variables>
    <variables>
        <name>currentItem_All_Topics_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Topic</objectType>
    </variables>
    <variables>
        <name>currentItem_Related_Assignments_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TopicAssignment</objectType>
    </variables>
    <variables>
        <name>loopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TopicAssignment</objectType>
    </variables>
    <variables>
        <name>objTopic</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Topic</objectType>
    </variables>
    <variables>
        <name>objTopicAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TopicAssignment</objectType>
    </variables>
    <variables>
        <name>varAllTopics</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAttachment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBlockedID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBrowser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmailMessageID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRelatedTopicsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTopicName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
