unpackaged/main/default/flows/Choose_Book.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Account_Only</name>
        <label>Account Only</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Create_Book_Interests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Normal</defaultConnectorLabel>
        <rules>
            <name>AccountOnly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2_0</targetReference>
            </connector>
            <label>AccountOnly</label>
        </rules>
    </decisions>
    <decisions>
        <name>Book_Opps_Found</name>
        <label>Book Opps Found?</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colBookInterest</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Book_Interests</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if person selected Other.</description>
        <name>Other_Selected</name>
        <label>Other Selected?</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Lookup_Book_Interests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yes_more_books</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Book</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2</targetReference>
            </connector>
            <label>Yes more books</label>
        </rules>
    </decisions>
    <description>Account Only, won&apos;t break if no book interests 2</description>
    <dynamicChoiceSets>
        <name>AllBooks</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Book__c</object>
        <outputAssignments>
            <assignToReference>varAnnualizationNumber</assignToReference>
            <field>Annualization_number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBookID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBookName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPublishDate</assignToReference>
            <field>Publish_Date__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BookInterest</name>
        <dataType>String</dataType>
        <displayField>BookName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <object>Book_Interest__c</object>
        <outputAssignments>
            <assignToReference>varAnnualizationNumber</assignToReference>
            <field>Annualization_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBookName</assignToReference>
            <field>BookName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBookID</assignToReference>
            <field>Book__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPublishDate</assignToReference>
            <field>Publish_Date__c</field>
        </outputAssignments>
        <sortField>BookName__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Book__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fSubjectPlus</name>
        <dataType>String</dataType>
        <expression>{!varSubjects}&amp;&quot;; &quot;&amp;{!All_books}</expression>
    </formulas>
    <interviewLabel>Choose Book {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Choose Book</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <description>Deletes the book interests that were created.</description>
        <name>Delete_Book_Interests</name>
        <label>Delete Book Interests</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <inputReference>colBookInterest</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Finds all the book interests that were created.</description>
        <name>Lookup_Book_Interests</name>
        <label>Lookup Book Interests</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Book_Opps_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <object>Book_Interest__c</object>
        <outputReference>colBookInterest</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Contacts book interest to add the book</description>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Lookup_Book_Interests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subject_Interest__c</field>
            <value>
                <elementReference>fSubjectPlus</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <description>Lists books of interest and Other as options to choose from.</description>
        <name>Pick_Book</name>
        <label>Pick Book</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Other_Selected</targetReference>
        </connector>
        <fields>
            <name>Book</name>
            <choiceReferences>BookInterest</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Book</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Shows a list of all books to chose from.</description>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <fields>
            <name>All_books</name>
            <choiceReferences>AllBooks</choiceReferences>
            <dataType>String</dataType>
            <fieldText>All books</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Shows a list of all books to chose from.</description>
        <name>Screen2_0</name>
        <label>Screen2</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>All_books_0</name>
            <choiceReferences>AllBooks</choiceReferences>
            <dataType>String</dataType>
            <fieldText>All books</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Only</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Creates Book Interests so that only the specific books will show up for a person in the flow.</description>
        <name>Create_Book_Interests</name>
        <label>Create Book Interests</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Pick_Book</targetReference>
        </connector>
        <flowName>Create_Book_Interests</flowName>
        <inputAssignments>
            <name>varContactID</name>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubjectInterest</name>
            <value>
                <elementReference>varSubjects</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>colBookInterest</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Book_Interest__c</objectType>
    </variables>
    <variables>
        <name>varAccountOnly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varAnnualizationNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varBookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBookName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPublishDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSubjects</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
