unpackaged/main/default/flows/Community_Permission_Sharing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Merge_Subjects</name>
        <label>Merge Subjects</label>
        <locationX>600</locationX>
        <locationY>2342</locationY>
        <actionName>MSPLManagement</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjects1</name>
            <value>
                <elementReference>Loop_Accounts.Partner__r.Books_Offered__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjects2</name>
            <value>
                <elementReference>varAllSubjects</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varAllSubjects</assignToReference>
            <name>allSubjects</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>colBooksOffered</assignToReference>
            <name>subjectList</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddBookShare</name>
        <label>AddBookShare</label>
        <locationX>644</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>colNewBookShare</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newBookShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FilterLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Partner_ID</name>
        <label>Assign Partner ID</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>PartnerCon.Community_User_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_All_Accounts</name>
        <label>Set All Accounts</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>colAllAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_This_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_This_Account_Parent_or_Child</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_All_Accounts_0</name>
        <label>Set All Accounts</label>
        <locationX>248</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>colAllAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Children</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Book_Share</name>
        <label>Set Book Share</label>
        <locationX>644</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>newBookShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FilterLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newBookShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newBookShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartnerCon.Community_User_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddBookShare</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Book</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Book</label>
        <locationX>556</locationX>
        <locationY>3254</locationY>
        <assignNextValueToReference>currentItem_Filter_Book</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>AllBooks</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Book.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Through_Books_Offered</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>FilterLoop</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Are_there_New</name>
        <label>Are there New?</label>
        <locationX>380</locationX>
        <locationY>3926</locationY>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yes_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colNewBookShare</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Book_Shares</targetReference>
            </connector>
            <label>Yes New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Book_Shares_exist</name>
        <label>Do Book Shares exist?</label>
        <locationX>380</locationX>
        <locationY>2678</locationY>
        <defaultConnector>
            <targetReference>AllBooks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Book_Shares</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Book_Shares</targetReference>
            </connector>
            <label>Yup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dup_Exists</name>
        <label>Dup Exists?</label>
        <locationX>600</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Create_New_Account_Share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yes_Dup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Share_Dup_Check</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Share</targetReference>
            </connector>
            <label>Yes Dup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_UserID</name>
        <label>Does PartnerCon have User ID</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_This_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed</defaultConnectorLabel>
        <rules>
            <name>Nope</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PartnerCon.Community_User_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User</targetReference>
            </connector>
            <label>Nope</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_Account_Parent_or_Child</name>
        <label>Is This Account Parent or Child</label>
        <locationX>380</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Loop_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Child</defaultConnectorLabel>
        <rules>
            <name>Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_This_Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Children</targetReference>
            </connector>
            <label>Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_User_Found</name>
        <label>Was User Found?</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>No User - End</defaultConnectorLabel>
        <rules>
            <name>User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Partner_ID</targetReference>
            </connector>
            <label>User Found</label>
        </rules>
    </decisions>
    <description>Updated for Partner Object</description>
    <interviewLabel>Community Permission Sharing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Community Permission Sharing</label>
    <loops>
        <name>FilterLoop</name>
        <label>FilterLoop</label>
        <locationX>556</locationX>
        <locationY>3374</locationY>
        <collectionReference>Filter_Book</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Book_Share</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Through_Books_Offered</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Accounts</name>
        <label>Loop Accounts</label>
        <locationX>380</locationX>
        <locationY>1766</locationY>
        <collectionReference>colAllAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Account_Share_Dup_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Book_Shares</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Through_Books_Offered</name>
        <label>Through Books Offered</label>
        <locationX>380</locationX>
        <locationY>3134</locationY>
        <collectionReference>colBooksOffered</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Book</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_New</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Account_Share</name>
        <label>Create New Account Share</label>
        <locationX>732</locationX>
        <locationY>2126</locationY>
        <connector>
            <targetReference>Merge_Subjects</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Loop_Accounts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>PartnerCon.Community_User_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>AccountShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Book_Shares</name>
        <label>Create New Book Shares</label>
        <locationX>248</locationX>
        <locationY>4046</locationY>
        <inputReference>colNewBookShare</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Book_Shares</name>
        <label>Delete Book Shares</label>
        <locationX>248</locationX>
        <locationY>2798</locationY>
        <connector>
            <targetReference>AllBooks</targetReference>
        </connector>
        <inputReference>Get_Book_Shares</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Account_Share_Dup_Check</name>
        <label>Account Share Dup Check</label>
        <locationX>600</locationX>
        <locationY>1886</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dup_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Accounts.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartnerCon.Community_User_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AllBooks</name>
        <label>AllBooks</label>
        <locationX>380</locationX>
        <locationY>3014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Through_Books_Offered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Book__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Book_Shares</name>
        <label>Get Book Shares</label>
        <locationX>380</locationX>
        <locationY>2558</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_Book_Shares_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartnerCon.Community_User_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Book__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Children</name>
        <label>Get Children</label>
        <locationX>248</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_All_Accounts_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_This_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_This_Account</name>
        <label>Get This Account</label>
        <locationX>380</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_All_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartnerCon.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartnerCon.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the partner contact record</description>
        <name>PartnerCon</name>
        <label>PartnerCon</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_UserID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Contact_Update</name>
        <label>Contact Update</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Get_This_Account</targetReference>
        </connector>
        <inputReference>PartnerCon</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Share</name>
        <label>Update Account Share</label>
        <locationX>468</locationX>
        <locationY>2126</locationY>
        <connector>
            <targetReference>Merge_Subjects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Share_Dup_Check.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <object>AccountShare</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PartnerCon</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colAllAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>colBooksOffered</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colNewBookShare</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Book__Share</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Book</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Book__c</objectType>
    </variables>
    <variables>
        <name>newBookShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Book__Share</objectType>
    </variables>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleBook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Book__c</objectType>
    </variables>
    <variables>
        <name>varAllSubjects</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
