unpackaged/main/default/flows/Contact_Screen_for_Partner_Permission_Fixing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Automation for Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Screen for Partner Permission Fixing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Fix_Partner_Permissions</name>
        <label>Fix Partner Permissions</label>
        <locationX>476</locationX>
        <locationY>91</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Community_Permission_Settings</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;Trigger Permissions fixing for partner. Makes sure they can edit the account records and all the book records at those partners.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Fix_Partner_Permissions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Community_Permission_Settings</name>
        <label>Community Permission Settings</label>
        <locationX>672</locationX>
        <locationY>190</locationY>
        <flowName>Community_Permission_Sharing</flowName>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>RecordID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
