unpackaged/main/default/flows/Contact_Flow_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>All_Emails_Add</name>
        <label>All Emails Add</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.All_Emails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_Build_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Partner</name>
        <label>Assign Partner</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Partner_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_All_Emails_field</name>
        <label>Check All Emails field</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Should_Build_Opps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.All_Emails__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Emails_Add</targetReference>
            </connector>
            <label>Needs Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type?</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_All_Emails_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Everyone Else</defaultConnectorLabel>
        <rules>
            <name>Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Partner</targetReference>
            </connector>
            <label>Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Build_Opps</name>
        <label>Should Build Opps?</label>
        <locationX>446</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Tech_Scout</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Build_Opps</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AdoptionsJSON__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.AdoptionsJSON__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.AdoptionsJSON__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewed_on_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_JSON</targetReference>
            </connector>
            <label>Yes Build Opps</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tech_Scout</name>
        <label>Tech Scout</label>
        <locationX>446</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Build_Partner_Products_Decision</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_selected_on_marketplace_form__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_selected_on_marketplace_form__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Partner_Products</targetReference>
            </connector>
            <label>Build Partner Products</label>
        </rules>
    </decisions>
    <description>Builds from JSON if the Renewed on Date field changes</description>
    <formulas>
        <name>fAdoptionStatusP</name>
        <dataType>String</dataType>
        <expression>IF( {!varYearCurrent} &gt; 0, &quot;Current Adopter&quot;, 
IF( {!varYearFuture} &gt; 0, &quot;Future Adopter&quot;, 
IF(OR({!varYearPrevious} &gt; 0, {!varYearPast} &gt;0), &quot;Past Adopter&quot;, &quot;Not Adopter&quot; 
) 
) 
)</expression>
    </formulas>
    <formulas>
        <name>fAllEmails</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!varAllEmails})),{!varAllEmails},{!varEmail})</expression>
    </formulas>
    <formulas>
        <name>fConfEmail</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!varConfEmails},&quot;,&quot;),LEFT({!varConfEmails},FIND(&quot;,&quot;,{!varConfEmails},1)-1),{!varConfEmails})</expression>
    </formulas>
    <formulas>
        <name>fManySubject</name>
        <dataType>Boolean</dataType>
        <expression>Contains({!varSubject},&quot;;&quot;)</expression>
    </formulas>
    <interviewLabel>Contact Flow Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Flow Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Partner_Contact</name>
        <label>Update Partner Contact</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Build_Partner_Products</name>
        <label>Build Partner Products</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <flowName>Build_Partner_Products_Flow</flowName>
        <inputAssignments>
            <name>sObjContact</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContinent</name>
            <value>
                <elementReference>$Record.Account.Continent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPartnerName</name>
            <value>
                <elementReference>$Record.Partner_selected_on_marketplace_form__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Process_JSON</name>
        <label>Process JSON</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Tech_Scout</targetReference>
        </connector>
        <flowName>Reported_Adoptions</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>JSONString</name>
            <value>
                <elementReference>$Record.AdoptionsJSON__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varAllEmails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConfEmails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFacConfimredDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFacStatusChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFacultyVerified</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varForceTrigger</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSendFvTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSkipEmails</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varSkipFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubjectChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTheme</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varYearCurrent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varYearFuture</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varYearPast</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varYearPrevious</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
