unpackaged/main/default/flows/Contact_Adoportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Chatter_Post</name>
        <label>Chatter Post</label>
        <locationX>960</locationX>
        <locationY>2060</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Opportunities build with button</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_recordId</name>
        <label>Assign recordId</label>
        <locationX>406</locationX>
        <locationY>352</locationY>
        <assignmentItems>
            <assignToReference>varContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_or_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BuildJSON_Field</name>
        <label>BuildJSON Field</label>
        <locationX>641</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>varJSON</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;Books&quot;:[{&quot;name&quot;:&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJSON</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varBookName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJSON</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;,&quot;students&quot;:&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJSON</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Number_of_Students</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varJSON</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;}]}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dept_Gather_Info_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_to_Null</name>
        <label>Set Contact to Null</label>
        <locationX>677</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>varAccountOnly</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choose_Book</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Both</name>
        <choiceText>Individual and Dept</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both</stringValue>
        </value>
    </choices>
    <choices>
        <name>cDefaultChoice</name>
        <choiceText>{!varDefaultSource}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varDefaultSource</elementReference>
        </value>
    </choices>
    <choices>
        <name>ConfirmedAdoptionWon</name>
        <choiceText>Confirmed Adoption Won</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirmed Adoption Won</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>OnlyDept</name>
        <choiceText>Just Department</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OnlyDept</stringValue>
        </value>
    </choices>
    <choices>
        <name>OnlyIA</name>
        <choiceText>Just Individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OnlyIA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Previous_Choice</name>
        <choiceText>{!Engagement_Stage}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Engagement_Stage</elementReference>
        </value>
    </choices>
    <choices>
        <name>Semester</name>
        <choiceText>Semester</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Semester</stringValue>
        </value>
    </choices>
    <choices>
        <name>Year</name>
        <choiceText>Year</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Year</stringValue>
        </value>
    </choices>
    <constants>
        <name>Display</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>Book_Published1</name>
        <label>Book Published?</label>
        <locationX>636</locationX>
        <locationY>1213</locationY>
        <defaultConnector>
            <targetReference>BuildJSON_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Published</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPublishDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fIsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Published1</targetReference>
            </connector>
            <label>Not Published</label>
        </rules>
    </decisions>
    <decisions>
        <name>Book_Published2</name>
        <label>Book Published?</label>
        <locationX>1085</locationX>
        <locationY>1203</locationY>
        <defaultConnector>
            <targetReference>Build_Better_Opportunities_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Published_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPublishDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fIsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Published1_2</targetReference>
            </connector>
            <label>Not Published</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_or_Account</name>
        <label>Contact or Account</label>
        <locationX>471</locationX>
        <locationY>495</locationY>
        <defaultConnector>
            <targetReference>Choose_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_to_Null</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Present</name>
        <label>Contact Present?</label>
        <locationX>967</locationX>
        <locationY>1620</locationY>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>ContactPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Update</targetReference>
            </connector>
            <label>ContactPresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dept_Gather_Info_0</name>
        <label>Dept Gather Info</label>
        <locationX>853</locationX>
        <locationY>1417</locationY>
        <defaultConnector>
            <targetReference>Contact_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ending</defaultConnectorLabel>
        <rules>
            <name>Need_Dept_Info_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fNeedDept</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dept_Info_Gather</targetReference>
            </connector>
            <label>Need Dept Info</label>
        </rules>
    </decisions>
    <decisions>
        <name>IA_or_Dept_Only</name>
        <label>IA or Dept Only?</label>
        <locationX>855</locationX>
        <locationY>1000</locationY>
        <defaultConnector>
            <targetReference>Shouldn_t_Happen1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Wrong_Position</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varPosition</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Student</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPosition</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPosition</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Instructional Designer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPosition</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Librarian</stringValue>
                </rightValue>
            </conditions>
            <label>Wrong Position</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fNeedOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_Info</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Depts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fNeedDept</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dept_Info_Gather</targetReference>
            </connector>
            <label>Depts</label>
        </rules>
        <rules>
            <name>Everyone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Display</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opp_Info</targetReference>
            </connector>
            <label>Everyone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_ID_present</name>
        <label>Record ID present</label>
        <locationX>483</locationX>
        <locationY>227</locationY>
        <defaultConnector>
            <targetReference>Contact_or_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Record_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_recordId</targetReference>
            </connector>
            <label>Has Record ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Role_Check</name>
        <label>Role Check</label>
        <locationX>468</locationX>
        <locationY>690</locationY>
        <defaultConnector>
            <targetReference>Choose_Book</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resume</defaultConnectorLabel>
        <rules>
            <name>Wrong_Role</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varPosition</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Student</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPosition</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPosition</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Instructional Designer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPosition</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Librarian</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display2</targetReference>
            </connector>
            <label>Wrong Role</label>
        </rules>
    </decisions>
    <description>chatter too</description>
    <dynamicChoiceSets>
        <name>OppStage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OppStages</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Opp_Stage__c</object>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OppStudentNoStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Student_No_Status__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PartnerSourceChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Partner_Source__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Source</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fBaseYear</name>
        <dataType>Number</dataType>
        <expression>IF(MONTH({!varCSD})&lt;7,YEAR({!varCSD})-1,
IF(MONTH({!varCSD})&gt;7,YEAR({!varCSD}),
IF(DAY({!varCSD})&lt;21,YEAR({!varCSD})-1,
IF(DAY({!varCSD})&gt;21,YEAR({!varCSD}),
211952551183115))))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fCloser</name>
        <dataType>String</dataType>
        <expression>CASE({!Engagement_Stage},
&quot;Confirmed Adoption Won&quot;,{!$User.Id},
&quot;Confirmed Will Recommend&quot;, {!$User.Id},
&quot;Previous Adoption&quot;,{!$User.Id},
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fCloserDept</name>
        <dataType>String</dataType>
        <expression>CASE({!Dept_Stage},
&quot;Confirmed Adoption Won&quot;,{!$User.Id},
&quot;Confirmed Will Recommend&quot;, {!$User.Id},
&quot;Previous Adoption&quot;,{!$User.Id},
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fContact</name>
        <dataType>String</dataType>
        <expression>IF({!varDept},&quot;&quot;,{!varContactID})</expression>
    </formulas>
    <formulas>
        <name>fCurrentDate</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Flow.CurrentDate}))
&amp;&quot;-&quot;&amp;
IF(LEN(TEXT(MONTH({!$Flow.CurrentDate})))&lt;2,&quot;0&quot;,&quot;&quot;)&amp;TEXT(MONTH({!$Flow.CurrentDate}))
&amp;&quot;-&quot;&amp;
IF(LEN(TEXT(DAY({!$Flow.CurrentDate})))&lt;2,&quot;0&quot;,&quot;&quot;)&amp;TEXT(DAY({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>fDeptDefaultDescription</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Description}),{!fCurrentDate}&amp;&quot;, &quot;&amp;{!fUser}&amp;&quot;, &quot;,{!Description})</expression>
    </formulas>
    <formulas>
        <name>fDescCon</name>
        <dataType>String</dataType>
        <expression>{!Description}&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp;{!varConDesc}</expression>
    </formulas>
    <formulas>
        <name>fDescOpp</name>
        <dataType>String</dataType>
        <expression>{!Description}&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp;{!varOppDesc}</expression>
    </formulas>
    <formulas>
        <name>fDescOppDept</name>
        <dataType>String</dataType>
        <expression>{!Dept_Description}&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp;{!varDeptOppDesc}</expression>
    </formulas>
    <formulas>
        <name>fIsWon</name>
        <dataType>Boolean</dataType>
        <expression>IF(
CASE({!varStage},
&quot;Confirmed Will Recommend&quot;,&quot;TRUE&quot;,
&quot;Confirmed Adoption Won&quot;,&quot;TRUE&quot;,
&quot;Previous Adoption&quot;, &quot;TRUE&quot;,
&quot;FALSE&quot;)= &quot;TRUE&quot;,TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>fNeedDept</name>
        <dataType>Boolean</dataType>
        <expression>OR({!Dept_Wise}={!Both},{!Dept_Wise}={!OnlyDept},ISBLANK({!varContactID}))</expression>
    </formulas>
    <formulas>
        <name>fNeedOpp</name>
        <dataType>Boolean</dataType>
        <expression>OR({!Dept_Wise}={!OnlyIA},{!Dept_Wise}={!Both})</expression>
    </formulas>
    <formulas>
        <name>fSchoolName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!varSchoolName}, &quot;(Primary)&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fUser</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}&amp;&quot; &quot;&amp;{!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Contact Adopertunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Adoportunities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Contact_Lookup</name>
        <label>Contact Lookup</label>
        <locationX>275</locationX>
        <locationY>688</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Role_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varConDesc</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPosition</assignToReference>
            <field>Position__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSubjects</assignToReference>
            <field>Subject_Interest__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCSD</name>
        <label>GetCSD</label>
        <locationX>863</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CSD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bug__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Early__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>CSD__mdt</object>
        <outputAssignments>
            <assignToReference>varCSD</assignToReference>
            <field>Date__c</field>
        </outputAssignments>
        <sortField>Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Contact_Update</name>
        <label>Contact Update</label>
        <locationX>976</locationX>
        <locationY>1888</locationY>
        <connector>
            <targetReference>Chatter_Post</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AdoptionsJSON__c</field>
            <value>
                <elementReference>varJSON</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>fDescCon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dont_Renew_After__c</field>
            <value>
                <elementReference>End_Adoption_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_In_Touch_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Dept_Info_Gather</name>
        <label>Dept Info Gather</label>
        <locationX>862</locationX>
        <locationY>1201</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Book_Published2</targetReference>
        </connector>
        <fields>
            <name>Depttext</name>
            <fieldText>Now we need to gather information for the department.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dept_Stage</name>
            <choiceReferences>Previous_Choice</choiceReferences>
            <choiceReferences>OppStage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dept Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DeptStudent</name>
            <dataType>Number</dataType>
            <fieldText>Number of Students in Department (semester)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Dept_Time_Period</name>
            <choiceReferences>Semester</choiceReferences>
            <choiceReferences>Year</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Semester</defaultSelectedChoiceReference>
            <fieldText>Time Period (for Students)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dept_Student_No_Status</name>
            <choiceReferences>OppStudentNoStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dept Student No Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dept_SourceField</name>
            <choiceReferences>Source</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dept Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dept_Partner_Source</name>
            <choiceReferences>N_A</choiceReferences>
            <choiceReferences>PartnerSourceChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>N_A</defaultSelectedChoiceReference>
            <fieldText>Dept Partner Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Only use this if the adoption was reported by a partner.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dept_Description</name>
            <defaultValue>
                <stringValue>{!fDeptDefaultDescription}</stringValue>
            </defaultValue>
            <fieldText>Dept Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display2</name>
        <label>Wrong Position</label>
        <locationX>477</locationX>
        <locationY>914</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display1</name>
            <fieldText>Cannot build opps for this role (Student, Librarian, Instructional Designer, Administrator)</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_CSD</name>
        <label>Get CSD/Stage</label>
        <locationX>863</locationX>
        <locationY>835</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IA_or_Dept_Only</targetReference>
        </connector>
        <fields>
            <name>Class_Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>varCSD</elementReference>
            </defaultValue>
            <fieldText>Class Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Engagement_Stage</name>
            <choiceReferences>ConfirmedAdoptionWon</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Engagement Stage</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;This flow is only for building opportunities won. Open opps will come later&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>space</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dept_Wise</name>
            <choiceReferences>OnlyIA</choiceReferences>
            <choiceReferences>Both</choiceReferences>
            <choiceReferences>OnlyDept</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>OnlyIA</defaultSelectedChoiceReference>
            <fieldText>Dept Info</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Display</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Opp_Info</name>
        <label>Get Opp Info</label>
        <locationX>644</locationX>
        <locationY>1001</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Book_Published1</targetReference>
        </connector>
        <fields>
            <name>Ask1</name>
            <fieldText>Individual Adoption information</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Number_of_Students</name>
            <dataType>Number</dataType>
            <fieldText>Number of Students</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Time_Period</name>
            <choiceReferences>Semester</choiceReferences>
            <choiceReferences>Year</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Semester</defaultSelectedChoiceReference>
            <fieldText>Time Period (for students)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Display</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Student_No_Status</name>
            <choiceReferences>OppStudentNoStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Student No Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Display</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SourceField</name>
            <choiceReferences>cDefaultChoice</choiceReferences>
            <choiceReferences>Source</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Display</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Partner_Source</name>
            <choiceReferences>N_A</choiceReferences>
            <choiceReferences>PartnerSourceChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>N_A</defaultSelectedChoiceReference>
            <fieldText>Partner Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Only use this field if this adoption was reported by a partner</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Display</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!fCurrentDate}, {!fUser},</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Adoption_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Adoption Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>This is the date that the grad student is going to stop being a grad student or an associate professor teaching for this course.</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Display</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Published1</name>
        <label>Not Published</label>
        <locationX>384</locationX>
        <locationY>1212</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Nopenopenope_2</name>
            <fieldText>The book was not published, so we can&apos;t make an Opp won</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Published1_2</name>
        <label>Not Published</label>
        <locationX>1293</locationX>
        <locationY>1202</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Nopenopenope_2_2</name>
            <fieldText>The book was not published so only an opportunity was made, not an IA.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Shouldn_t_Happen1_1</name>
        <label>Shouldn&apos;t Happen1</label>
        <locationX>1091</locationX>
        <locationY>995</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Nopenopenope_1</name>
            <fieldText>This shouldn&apos;t happen. Stage was somehow entered wrong, even though you&apos;re given limited options.

Engagement Stage: {!Engagement_Stage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>350</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Record_ID_present</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Build_Better_Opportunities_0</name>
        <label>Build Better Opportunities</label>
        <locationX>1093</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Contact_Present</targetReference>
        </connector>
        <flowName>Build_Better_Opportunities</flowName>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varBookID</name>
            <value>
                <elementReference>varBookID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContactID</name>
            <value>
                <elementReference>fContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCSD</name>
            <value>
                <elementReference>varCSD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDept</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDesc</name>
            <value>
                <elementReference>Dept_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLeadSource</name>
            <value>
                <elementReference>Dept_SourceField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStage</name>
            <value>
                <elementReference>varStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStudents</name>
            <value>
                <elementReference>DeptStudent</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Choose_Account</name>
        <label>Choose Account</label>
        <locationX>274</locationX>
        <locationY>499</locationY>
        <connector>
            <targetReference>Contact_Lookup</targetReference>
        </connector>
        <flowName>Choose_Account</flowName>
        <inputAssignments>
            <name>varContactID</name>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <name>varAccountID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSchoolName</assignToReference>
            <name>varSchoolName</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Choose_Book</name>
        <label>Choose Book</label>
        <locationX>677</locationX>
        <locationY>686</locationY>
        <connector>
            <targetReference>GetCSD</targetReference>
        </connector>
        <flowName>Choose_Book</flowName>
        <inputAssignments>
            <name>varAccountOnly</name>
            <value>
                <elementReference>varAccountOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContactID</name>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubjects</name>
            <value>
                <elementReference>varSubjects</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varAN</assignToReference>
            <name>varAnnualizationNumber</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBookID</assignToReference>
            <name>varBookID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBookName</assignToReference>
            <name>varBookName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPublishDate</assignToReference>
            <name>varPublishDate</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountOnly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varAN</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varBookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBookName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConDesc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCSD</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Class_Start_Date</elementReference>
        </value>
    </variables>
    <variables>
        <name>varDefaultSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Customer Service Ticket</stringValue>
        </value>
    </variables>
    <variables>
        <name>varDept</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varDeptOppDesc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeptOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDupFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppDesc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPosition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPublishDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSchoolName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Engagement_Stage</elementReference>
        </value>
    </variables>
    <variables>
        <name>varSubjects</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Denver Tester</stringValue>
        </value>
    </variables>
</Flow>
