unpackaged/main/default/flows/Contact_Find_Upgraded.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Contact_ID_Assign</name>
        <label>Contact ID Assign</label>
        <locationX>725</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>sObjContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts_by_ID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Contact_ID_Assign_0</name>
        <label>Contact ID Assign</label>
        <locationX>340</locationX>
        <locationY>940</locationY>
        <assignmentItems>
            <assignToReference>sObjContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts_by_Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Contact_ID_Assign_0_0</name>
        <label>Contact ID Assign</label>
        <locationX>818</locationX>
        <locationY>1152</locationY>
        <assignmentItems>
            <assignToReference>sObjContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts_by_All_Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UUID_Assign</name>
        <label>UUID Assign</label>
        <locationX>193</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>sObjContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts_by_UUID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Has_UUID</name>
        <label>Has UUID</label>
        <locationX>575</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>Get_Contacts_by_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Just Email</defaultConnectorLabel>
        <rules>
            <name>Has_Contact_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts_by_ID</targetReference>
            </connector>
            <label>Has Contact ID</label>
        </rules>
        <rules>
            <name>UUID_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUUID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUUID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts_by_UUID</targetReference>
            </connector>
            <label>UUID Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Contact_Found_by_Email</name>
        <label>Was Contact Found by Email</label>
        <locationX>572</locationX>
        <locationY>942</locationY>
        <defaultConnector>
            <targetReference>Get_Contacts_by_All_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Keep Going</defaultConnectorLabel>
        <rules>
            <name>Yup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts_by_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_ID_Assign_0</targetReference>
            </connector>
            <label>Yup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_UUID_Found</name>
        <label>Was UUID Found</label>
        <locationX>415</locationX>
        <locationY>526</locationY>
        <defaultConnector>
            <targetReference>Get_Contacts_by_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Keep Looking</defaultConnectorLabel>
        <rules>
            <name>UUID_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts_by_UUID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UUID_Assign</targetReference>
            </connector>
            <label>UUID Found</label>
        </rules>
    </decisions>
    <description>Check email and All Email separately 2</description>
    <interviewLabel>Contact Find Upgraded {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Find Upgraded</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Find contacts by email address. This flow allows two emails to be passed in for some reason, so we search for the All_Emails field on the Contact for either of those values.

Gets the most recent record by sorting on Id descending and only fetching the first one.</description>
        <name>Get_Contacts_by_All_Email</name>
        <label>Get Contacts by All Email</label>
        <locationX>817</locationX>
        <locationY>941</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_ID_Assign_0_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>All_Emails__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find contacts by email address. This flow allows two emails to be passed in for some reason, so we search for the All_Emails field on the Contact for either of those values.

Gets the most recent record by sorting on Id descending and only fetching the first one.</description>
        <name>Get_Contacts_by_Email</name>
        <label>Get Contacts by Email</label>
        <locationX>579</locationX>
        <locationY>749</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Contact_Found_by_Email</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find contacts by email address. This flow allows two emails to be passed in for some reason, so we search for the All_Emails field on the Contact for either of those values.

Gets the most recent record by sorting on Id descending and only fetching the first one.</description>
        <name>Get_Contacts_by_ID</name>
        <label>Get Contacts by ID</label>
        <locationX>725</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_ID_Assign</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find contacts by email address. This flow allows two emails to be passed in for some reason, so we search for the All_Emails field on the Contact for either of those values.

Gets the most recent record by sorting on Id descending and only fetching the first one.</description>
        <name>Get_Contacts_by_UUID</name>
        <label>Get Contacts by UUID</label>
        <locationX>423</locationX>
        <locationY>334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_UUID_Found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Accounts_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUUID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>457</locationX>
        <locationY>28</locationY>
        <connector>
            <targetReference>Has_UUID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>sObjContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUUID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
