unpackaged/main/default/flows/Create_Book_Interests.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_BI_Collection</name>
        <label>Add to BI Collection</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>colBookInt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varBI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pop_colBookInterest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BI_variables</name>
        <label>Set BI variables</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varBI.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBI.Book__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopvariable1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_BI_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Interest_in_this_subject</name>
        <label>Interest in this subject?</label>
        <locationX>396</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Pop_colBookInterest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSubjectInterest</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopvariable1.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BI_variables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Subject to Subject Interest</description>
    <environments>Default</environments>
    <interviewLabel>Create Book Interests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Book Interests</label>
    <loops>
        <name>Pop_colBookInterest</name>
        <label>Pop colBookInterest</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNextValueToReference>loopvariable1</assignNextValueToReference>
        <collectionReference>colAllBooks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Interest_in_this_subject</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_BIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_BIs</name>
        <label>Create BIs</label>
        <locationX>176</locationX>
        <locationY>1070</locationY>
        <inputReference>colBookInt</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Contact</name>
        <label>Find Contact</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_colAllBooks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varSubjectInterest</assignToReference>
            <field>Subject_Interest__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Populate_colAllBooks</name>
        <label>Populate colAllBooks</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pop_colBookInterest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Book__c</object>
        <outputReference>colAllBooks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colAllBooks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Book__c</objectType>
    </variables>
    <variables>
        <name>colBookInt</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Book_Interest__c</objectType>
    </variables>
    <variables>
        <name>loopvariable1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Book__c</objectType>
    </variables>
    <variables>
        <name>varBI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Book_Interest__c</objectType>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSubjectInterest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
