unpackaged/main/default/flows/Formstack_Renewal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Fall_Update</name>
        <label>Fall Update</label>
        <locationX>899</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>Get_Opp.Fall_Students__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLead.Number_of_Students__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opp.Fall_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CSD.Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opp.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal - Verified</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Spring_Update</name>
        <label>Spring Update</label>
        <locationX>900</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>Get_Opp.Spring_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CSD.Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opp.Spring_Students__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLead.Number_of_Students__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opp.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal - Verified</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Was_Opp_Found</name>
        <label>Was Opp Found?</label>
        <locationX>168</locationX>
        <locationY>409</locationY>
        <defaultConnector>
            <targetReference>Get_CSD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed</defaultConnectorLabel>
        <rules>
            <name>DNE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>DNE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Semester</name>
        <label>Which Semester</label>
        <locationX>625</locationX>
        <locationY>409</locationY>
        <defaultConnector>
            <targetReference>Spring_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Spring</defaultConnectorLabel>
        <rules>
            <name>Fall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fCurrentTerm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fall</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fall_Update</targetReference>
            </connector>
            <label>Fall</label>
        </rules>
    </decisions>
    <description>Sets type to renewal verified</description>
    <formulas>
        <name>fCurrentBaseYear</name>
        <dataType>Number</dataType>
        <expression>IF(MONTH({!$Flow.CurrentDate})&gt;6,Year({!$Flow.CurrentDate}),Year({!$Flow.CurrentDate})-1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fCurrentTerm</name>
        <dataType>String</dataType>
        <expression>IF(MONTH({!$Flow.CurrentDate})&gt;6,&quot;Fall&quot;,&quot;Spring&quot;)</expression>
    </formulas>
    <interviewLabel>Formstack Renewal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Formstack Renewal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CSD</name>
        <label>Get CSD</label>
        <locationX>412</locationX>
        <locationY>407</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Semester</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Early__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Bug__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CSD__mdt</object>
        <sortField>Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opp</label>
        <locationX>176</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Opp_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Book_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLead.Faculty_Book__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLead.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Base_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fCurrentBaseYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Opp_Update</name>
        <label>Opp Update</label>
        <locationX>1130</locationX>
        <locationY>401</locationY>
        <inputReference>Get_Opp</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
