unpackaged/main/default/flows/GetOppRecordTypes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>BookOppAssign</name>
        <label>BookOppAssign</label>
        <locationX>706</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>varBookOppID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_Record_Tyeps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TutorOppAssign</name>
        <label>TutorOppAssign</label>
        <locationX>707</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>varTutorOppID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_Record_Tyeps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Routing</name>
        <label>Routing</label>
        <locationX>964</locationX>
        <locationY>313</locationY>
        <defaultConnector>
            <targetReference>Through_Record_Tyeps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Book_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRT.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Book Opp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BookOppAssign</targetReference>
            </connector>
            <label>Book Opp</label>
        </rules>
        <rules>
            <name>Tutor_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRT.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tutor Opp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TutorOppAssign</targetReference>
            </connector>
            <label>Tutor Opp</label>
        </rules>
    </decisions>
    <interviewLabel>GetOppRecordTypes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GetOppRecordTypeIDs</label>
    <loops>
        <name>Through_Record_Tyeps</name>
        <label>Through Record Tyeps</label>
        <locationX>455</locationX>
        <locationY>310</locationY>
        <assignNextValueToReference>varRT</assignNextValueToReference>
        <collectionReference>colRecordTypeIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Routing</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Opp_Record_Type_Lookup</name>
        <label>Opp Record Type Lookup</label>
        <locationX>454</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Through_Record_Tyeps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>colRecordTypeIDs</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>Opp_Record_Type_Lookup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colRecordTypeIDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>varBookOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>varTutorOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
