unpackaged/main/default/flows/Lead_Flow_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Contact_Subjects</name>
        <label>Contact Subjects</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <actionName>MSPLManagement</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Contact_merging</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjects1</name>
            <value>
                <elementReference>GetNewLead.Subject_Interest__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjects2</name>
            <value>
                <elementReference>varContact.Subject_Interest__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varContact.Subject_Interest__c</assignToReference>
            <name>allSubjects</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Instant_Conversion_0</name>
        <label>Instant Conversion</label>
        <locationX>578</locationX>
        <locationY>2903</locationY>
        <actionName>LeadConversion</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LeadInput</name>
            <value>
                <elementReference>GetNewLead.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lead_Subjects</name>
        <label>Lead Subjects</label>
        <locationX>578</locationX>
        <locationY>1847</locationY>
        <actionName>MSPLManagement</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Primary_Merging</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subjects1</name>
            <value>
                <elementReference>GetNewLead.Subject_Interest__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjects2</name>
            <value>
                <elementReference>GetPrimary.Subject_Interest__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>GetPrimary.Subject_Interest__c</assignToReference>
            <name>allSubjects</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>GetNewLead.School_Total_Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNewLead.School__r.Total_School_Enrollment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetNewLead.School_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNewLead.School__r.Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SaveNewLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_merging</name>
        <label>Contact merging</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>varContact.All_Emails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactAllEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.Subject_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAllSubjects</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.Newsletter_Opt_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNewsletterContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPhoneContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.Accounts_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAccountIDContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.Accounts_UUID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fUUIDContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.Tutor_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTutorInterestContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.who_chooses_books__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNewLead.who_chooses_books__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.FV_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFVStatusContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.AdoptionsJSON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNewLead.AdoptionsJSON__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Assign</name>
        <label>New Assign</label>
        <locationX>1370</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>GetNewLead.Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetNewLead.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetNewLead.All_Emails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNewLead.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetNewLead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetNewLead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assignment.varUserID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewLeadAssign</name>
        <label>NewLeadAssign</label>
        <locationX>1106</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>GetNewLead.FromLeadMerge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetNewLead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assignment.varUserID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Primary_Merging</name>
        <label>Primary Merging</label>
        <locationX>578</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>GetPrimary.All_Emails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>primaryAllEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPrimary.Subject_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAllSubjects</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPrimary.Newsletter_Opt_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNewsletterLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPrimary.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPhoneLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPrimary.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRoleLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPrimary.Accounts_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAccountIDLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPrimary.Accounts_UUID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fUUIDLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPrimary.SheerID_School_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSheerIDName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPrimary.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCompanyLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPrimary.School__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fAccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPrimary.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPrimary.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCityLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPrimary.BRI_Marketing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fBRILead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPrimary.Title_1_school__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTitle1Lead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPrimary.Tutor_Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTutorInterestLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPrimary.who_chooses_books__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fWhoChoosesPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPrimary.FV_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFVStatusPrimary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPrimary.Instant_Conversion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fNeedsConvert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPrimary.FromLeadMerge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPrimary.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assignment.varUserID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SaveNewLead</name>
        <label>SaveNewLead</label>
        <locationX>842</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>StoredNewLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetNewLead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UUID_Assignment</name>
        <label>UUID Assignment</label>
        <locationX>776</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>GetPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPrimary_UUID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WasPrimaryFound</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Conversion_Needed</name>
        <label>Conversion Needed</label>
        <locationX>578</locationX>
        <locationY>2783</locationY>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Skip_Conversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Search</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Skip Conversion</label>
        </rules>
        <rules>
            <name>Yes_convert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fNeedsConvert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Merging</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contact_merging</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Instant_Conversion_0</targetReference>
            </connector>
            <label>Yes convert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Present</name>
        <label>Is Account Present</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Account_Find</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetNewLead.School__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Primary</name>
        <label>Is Primary?</label>
        <locationX>1238</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>New_Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Brand New</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetNewLead.Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewLeadAssign</targetReference>
            </connector>
            <label>Yes Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_Partner_Product</name>
        <label>Needs Partner Product</label>
        <locationX>578</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>Filter_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Partner_Marketplace</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_selected_on_marketplace_form__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_selected_on_marketplace_form__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fNeedsConvert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Partner_Products</targetReference>
            </connector>
            <label>Partner Marketplace</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Contact_Found</name>
        <label>Was Contact Found?</label>
        <locationX>842</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>GetPrimary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact</defaultConnectorLabel>
        <rules>
            <name>ContactFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetNewLead.FromLeadMerge__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Subjects</targetReference>
            </connector>
            <label>ContactFound</label>
        </rules>
        <rules>
            <name>UUID_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetNewLead.Accounts_UUID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPrimary_UUID</targetReference>
            </connector>
            <label>UUID Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Contact_Found_UUID</name>
        <label>Was Contact Found UUID</label>
        <locationX>908</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>GetPrimary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPrimary_UUID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UUID_Assignment</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>WasPrimaryFound</name>
        <label>Was Primary Found?</label>
        <locationX>908</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Is_Primary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary</defaultConnectorLabel>
        <rules>
            <name>Primary_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPrimary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetNewLead.FromLeadMerge__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Subjects</targetReference>
            </connector>
            <label>Primary Found</label>
        </rules>
    </decisions>
    <description>Search on filter to prevent conversion</description>
    <environments>Default</environments>
    <formulas>
        <name>contactAllEmail</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!varContact.All_Emails__c}) , {!varContact.Email}, {!varContact.All_Emails__c})
 &amp; IF( OR( CONTAINS({!varContact.All_Emails__c},{!GetNewLead.Email}), {!GetNewLead.Email} = {!varContact.Email}),
&quot;&quot;, &quot;, &quot;&amp;{!GetNewLead.Email})</expression>
    </formulas>
    <formulas>
        <name>fAccountID</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK(   {!GetPrimary.School__c}  )  ,   {!GetNewLead.School__c},   {!GetPrimary.School__c})</expression>
    </formulas>
    <formulas>
        <name>fAccountIDContact</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK(   {!varContact.Accounts_ID__c} )  ,   {!GetNewLead.Accounts_ID__c},   {!varContact.Accounts_ID__c})</expression>
    </formulas>
    <formulas>
        <name>fAccountIDLead</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK( {!GetPrimary.Accounts_ID__c}  )  ,   {!GetNewLead.Accounts_ID__c} ,   {!GetPrimary.Accounts_ID__c}  )</expression>
    </formulas>
    <formulas>
        <name>fBRILead</name>
        <dataType>Boolean</dataType>
        <expression>OR( {!GetPrimary.BRI_Marketing__c} , {!GetNewLead.BRI_Marketing__c})</expression>
    </formulas>
    <formulas>
        <name>fCityLead</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK(   {!GetPrimary.City}  )  ,   {!GetNewLead.City},   {!GetPrimary.City})</expression>
    </formulas>
    <formulas>
        <name>fCompanyLead</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK(   {!GetPrimary.Company}   )  ,   {!GetNewLead.Company},   {!GetPrimary.Company})</expression>
    </formulas>
    <formulas>
        <name>fContinent</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varContact.Account.Continent__c}) , {!StoredNewLead.School__r.Continent__c} , {!varContact.Account.Continent__c} )</expression>
    </formulas>
    <formulas>
        <name>fCountry</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK(   {!GetPrimary.Country} )  ,   {!GetNewLead.Country},   {!GetPrimary.Country} )</expression>
    </formulas>
    <formulas>
        <name>fFVStatusContact</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK(TEXT({!varContact.FV_Status__c})) ,TEXT({!GetNewLead.FV_Status__c}), TEXT({!varContact.FV_Status__c})  )</expression>
    </formulas>
    <formulas>
        <name>fFVStatusPrimary</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK(TEXT({!GetNewLead.FV_Status__c})) , TEXT({!GetPrimary.FV_Status__c}) , TEXT({!GetNewLead.FV_Status__c}))</expression>
    </formulas>
    <formulas>
        <name>fLeadID</name>
        <dataType>String</dataType>
        <expression>IF( {!ContactFound} , &quot;&quot;, 
IF( ISBLANK( {!GetPrimary.Id}) , {!StoredNewLead.Id}, {!GetPrimary.Id})
)</expression>
    </formulas>
    <formulas>
        <name>fNeedsConvert</name>
        <dataType>Boolean</dataType>
        <expression>OR(TEXT({!GetNewLead.FV_Status__c}) = &quot;confirmed_faculty&quot;,
NOT(ISBLANK({!GetNewLead.AdoptionsJSON__c})),
{!GetNewLead.Instant_Conversion__c} = TRUE,
{!varInstantConvervsion} = TRUE )</expression>
    </formulas>
    <formulas>
        <name>fNewsletterContact</name>
        <dataType>Boolean</dataType>
        <expression>OR( {!varContact.Newsletter_Opt_Out__c},  
AND ( NOT( {!GetNewLead.Newsletter_Opt_In__c}), TEXT({!GetNewLead.LeadSource})= &quot;Instructor Verification&quot; )
 )</expression>
    </formulas>
    <formulas>
        <name>fNewsletterLead</name>
        <dataType>Boolean</dataType>
        <expression>OR({!GetPrimary.Newsletter_Opt_In__c}, {!GetNewLead.Newsletter_Opt_In__c})</expression>
    </formulas>
    <formulas>
        <name>fPhoneContact</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK( {!varContact.Phone}),   {!GetNewLead.Phone},   {!varContact.Phone})</expression>
    </formulas>
    <formulas>
        <name>fPhoneLead</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK( {!GetPrimary.Phone}),   {!GetNewLead.Phone},    {!GetPrimary.Phone})</expression>
    </formulas>
    <formulas>
        <name>fRecordID</name>
        <dataType>String</dataType>
        <expression>IF( NOT(ISBLANK({!GetPrimary.Id})) , {!GetPrimary.Id},
IF( NOT(ISBLANK({!varContact.Id})) , {!varContact.Id},
{!GetNewLead.Id}))</expression>
    </formulas>
    <formulas>
        <name>fRoleLead</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK(  TEXT( {!GetPrimary.Role__c})  )  ,   TEXT({!GetNewLead.Role__c}) ,   TEXT({!GetPrimary.Role__c})  )</expression>
    </formulas>
    <formulas>
        <name>fSheerIDName</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK(  {!GetPrimary.SheerID_School_Name__c}   )  ,   {!GetNewLead.SheerID_School_Name__c},   {!GetPrimary.SheerID_School_Name__c})</expression>
    </formulas>
    <formulas>
        <name>fTitle1Lead</name>
        <dataType>Boolean</dataType>
        <expression>OR( {!GetPrimary.Title_1_school__c},  {!GetNewLead.Title_1_school__c}  )</expression>
    </formulas>
    <formulas>
        <name>fTutorInterestContact</name>
        <dataType>Boolean</dataType>
        <expression>OR( {!varContact.Tutor_Interest__c} , {!GetNewLead.Tutor_Interest__c}, TEXT( {!GetNewLead.Application_Source__c} ) = &quot;Tutor Signup&quot; )</expression>
    </formulas>
    <formulas>
        <name>fTutorInterestLead</name>
        <dataType>Boolean</dataType>
        <expression>OR( {!GetPrimary.Tutor_Interest__c} , {!GetNewLead.Tutor_Interest__c}, TEXT( {!GetNewLead.Application_Source__c} ) = &quot;Tutor Signup&quot; )</expression>
    </formulas>
    <formulas>
        <name>fUUIDContact</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK(   {!varContact.Accounts_UUID__c}  )  ,   {!GetNewLead.Accounts_UUID__c},   {!varContact.Accounts_UUID__c})</expression>
    </formulas>
    <formulas>
        <name>fUUIDLead</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK(   {!GetPrimary.Accounts_UUID__c} )  ,   {!GetNewLead.Accounts_UUID__c},   {!GetPrimary.Accounts_UUID__c})</expression>
    </formulas>
    <formulas>
        <name>fWhoChoosesContact</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK(  TEXT( {!varContact.who_chooses_books__c} )  )  ,   TEXT( {!GetNewLead.who_chooses_books__c} ) ,   TEXT( {!varContact.who_chooses_books__c} )  )</expression>
    </formulas>
    <formulas>
        <name>fWhoChoosesPrimary</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK(  TEXT( {!GetPrimary.who_chooses_books__c})  )  ,   TEXT( {!GetNewLead.who_chooses_books__c} ) ,   TEXT( {!GetPrimary.who_chooses_books__c} )  )</expression>
    </formulas>
    <formulas>
        <name>primaryAllEmail</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!GetPrimary.All_Emails__c}) , {!GetPrimary.Email}, {!GetPrimary.All_Emails__c})
 &amp; IF( OR( CONTAINS({!GetPrimary.All_Emails__c},{!GetNewLead.Email}), {!GetNewLead.Email} = {!GetPrimary.Email}),
&quot;&quot;, &quot;, &quot;&amp;{!GetNewLead.Email})</expression>
    </formulas>
    <interviewLabel>Lead Flow Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Flow Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_New_Lead</name>
        <label>Delete New Lead</label>
        <locationX>578</locationX>
        <locationY>2207</locationY>
        <connector>
            <targetReference>Needs_Partner_Product</targetReference>
        </connector>
        <inputReference>GetNewLead</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Filter_Search</name>
        <label>Filter Search</label>
        <locationX>578</locationX>
        <locationY>2663</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conversion_Needed</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Lead_Rule__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Domain__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Domain__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Filter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNewLead</name>
        <label>GetNewLead</label>
        <locationX>842</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPrimary</name>
        <label>Get Primary</label>
        <locationX>1040</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WasPrimaryFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetNewLead.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPrimary_UUID</name>
        <label>Get Primary UUID</label>
        <locationX>908</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Contact_Found_UUID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Accounts_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetNewLead.Accounts_UUID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Delete_New_Lead</targetReference>
        </connector>
        <inputReference>varContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates in case the account ID wasn&apos;t set but now it is</description>
        <name>Update_Existing_Lead</name>
        <label>Update Existing Lead</label>
        <locationX>1106</locationX>
        <locationY>2087</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Needs_Partner_Product</targetReference>
        </connector>
        <inputReference>GetNewLead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>578</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Delete_New_Lead</targetReference>
        </connector>
        <inputReference>GetPrimary</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0</name>
        <label>Update Lead</label>
        <locationX>1370</locationX>
        <locationY>2087</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Needs_Partner_Product</targetReference>
        </connector>
        <inputReference>GetNewLead</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetNewLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Account_Find</name>
        <label>Account Find</label>
        <locationX>974</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>SaveNewLead</targetReference>
        </connector>
        <flowName>Account_Find</flowName>
        <inputAssignments>
            <name>varDomain</name>
            <value>
                <elementReference>$Record.Domain__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSchoolName</name>
            <value>
                <elementReference>GetNewLead.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSheerIDName</name>
            <value>
                <elementReference>GetNewLead.Company</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>GetNewLead.School__c</assignToReference>
            <name>varAccountID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Find_Contact</targetReference>
        </connector>
        <flowName>Assignment</flowName>
        <inputAssignments>
            <name>varFacStatus</name>
            <value>
                <elementReference>GetNewLead.FV_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInstitutionalPartner</name>
            <value>
                <elementReference>GetNewLead.School__r.K_I_P__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInstitutionStudentCount</name>
            <value>
                <elementReference>GetNewLead.School__r.Approximate_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLeadSource</name>
            <value>
                <elementReference>GetNewLead.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSchoolType</name>
            <value>
                <elementReference>GetNewLead.School__r.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStudentCount</name>
            <value>
                <elementReference>GetNewLead.Number_of_Students__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Build_Partner_Products</name>
        <label>Build Partner Products</label>
        <locationX>446</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>Filter_Search</targetReference>
        </connector>
        <flowName>Build_Partner_Products_Flow</flowName>
        <inputAssignments>
            <name>sObjContact</name>
            <value>
                <elementReference>varContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContinent</name>
            <value>
                <elementReference>fContinent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLead</name>
            <value>
                <elementReference>StoredNewLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPartnerName</name>
            <value>
                <elementReference>StoredNewLead.Partner_selected_on_marketplace_form__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Find_Contact</name>
        <label>Find Contact</label>
        <locationX>842</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Was_Contact_Found</targetReference>
        </connector>
        <flowName>Contact_Find_Upgraded</flowName>
        <inputAssignments>
            <name>varContactID</name>
            <value>
                <elementReference>GetNewLead.Contact_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varEmail</name>
            <value>
                <elementReference>GetNewLead.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varUUID</name>
            <value>
                <elementReference>GetNewLead.Accounts_UUID__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varContact</assignToReference>
            <name>sObjContact</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Fields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoredNewLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>varAllSubjects</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varInstantConvervsion</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varNewLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
