unpackaged/main/default/flows/Lead_Verification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Confirm_Assign</name>
        <label>Confirm Assign</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Lead.FV_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>confirmed_faculty</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reject_Assign</name>
        <label>Reject Assign</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Lead.FV_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>rejected_faculty</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Confirm</name>
        <choiceText>Confirmed Faculty</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirm</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Not faculty</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Confirmed_or_Rejected</name>
        <label>Confirmed or Rejected</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Reject_Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reject</defaultConnectorLabel>
        <rules>
            <name>ConfirmChoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_verify_this_lead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Confirm</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Assign</targetReference>
            </connector>
            <label>Confirm</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead Verification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Verification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lead</name>
        <label>Lead</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verification_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <inputReference>Lead</inputReference>
    </recordUpdates>
    <screens>
        <name>Verification_Screen</name>
        <label>Verification Screen</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmed_or_Rejected</targetReference>
        </connector>
        <fields>
            <name>Please_verify_this_lead</name>
            <choiceReferences>Confirm</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please verify this lead</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
