unpackaged/main/default/flows/Opportunity_Flow_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Opp_Rollup</name>
        <label>Opp Rollup</label>
        <locationX>1151</locationX>
        <locationY>762</locationY>
        <actionName>OppRollup</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Opps</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>All_assign</name>
        <label>All assign</label>
        <locationX>1688</locationX>
        <locationY>1114</locationY>
        <assignmentItems>
            <assignToReference>$Record.Dup_Name_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.sort__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Update2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Book_Opp_Field_on_Tutor</name>
        <label>Set Book Opp Field on Tutor</label>
        <locationX>2247</locationX>
        <locationY>941</locationY>
        <assignmentItems>
            <assignToReference>$Record.Book_Opp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Book_Opp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Update_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Book_Opp_Field_on_Tutor_2</name>
        <label>Set Book Opp Field on Tutor 2</label>
        <locationX>2025</locationX>
        <locationY>1068</locationY>
        <assignmentItems>
            <assignToReference>$Record.Book_Opp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCreatedBookOppId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Update_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Student_assign</name>
        <label>Student assign</label>
        <locationX>1551</locationX>
        <locationY>1023</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fall_Dept_Max_Students__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFallDeptStudents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fall_Students__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFallStudents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Spring_Dept_Max_Students__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSpringDeptStudents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Spring_Students__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSpringStudents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fall_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fFallStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Spring_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fSpringStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Need_Rollup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Class_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fCSDUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Students_Stored__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fStudentStored</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Dept_Students_Stored__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDeptStudentStored</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Students__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_assign</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Does a book opp already exist?</description>
        <name>Book_Opp_Exist</name>
        <label>Book Opp Exist?</label>
        <locationX>2116</locationX>
        <locationY>733</locationY>
        <defaultConnector>
            <targetReference>Create_Book_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Book_Opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Book_Opp_Field_on_Tutor</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpenClosedTutorBook</name>
        <label>OpenCloseTutorBook</label>
        <locationX>1537</locationX>
        <locationY>564</locationY>
        <defaultConnector>
            <targetReference>DeleteOpenBookOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open Book</defaultConnectorLabel>
        <rules>
            <name>OpenTutor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tutor Opp</stringValue>
                </rightValue>
            </conditions>
            <label>OpenTutor</label>
        </rules>
        <rules>
            <name>ClosedTutorWon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tutor Opp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Book_Opp</targetReference>
            </connector>
            <label>ClosedTutorWon</label>
        </rules>
        <rules>
            <name>Closed_Book</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Book Opp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Season</targetReference>
            </connector>
            <label>Closed Book</label>
        </rules>
    </decisions>
    <decisions>
        <name>Routing</name>
        <label>Routing</label>
        <locationX>1142</locationX>
        <locationY>563</locationY>
        <defaultConnector>
            <targetReference>Get_Term</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed</defaultConnectorLabel>
        <rules>
            <name>Trigger_Rollup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trigger_Rollup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Rollup</targetReference>
            </connector>
            <label>Trigger Rollup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Season</name>
        <label>Are there students?</label>
        <locationX>1668</locationX>
        <locationY>817</locationY>
        <defaultConnector>
            <targetReference>Student_assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Student Change</defaultConnectorLabel>
        <rules>
            <name>No_New_Students</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Students__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_assign</targetReference>
            </connector>
            <label>No New Students</label>
        </rules>
    </decisions>
    <description>students to 0</description>
    <formulas>
        <name>fCSDtoUse</name>
        <dataType>Date</dataType>
        <expression>IF( ISBLANK( {!$Record.CSDInput__c} ), {!$Record.Class_Start_Date__c}, {!$Record.CSDInput__c} )</expression>
    </formulas>
    <formulas>
        <name>fCSDUpdate</name>
        <dataType>Date</dataType>
        <expression>IF(
NOT(ISBLANK( {!$Record.Class_Start_Date__c} )),    {!$Record.Class_Start_Date__c},
IF(
NOT(ISBLANK( {!$Record.Fall_Start_Date__c} )),    {!$Record.Fall_Start_Date__c},
IF(
NOT(ISBLANK( {!$Record.Spring_Start_Date__c} )),   {!$Record.Spring_Start_Date__c},
{!$Record.Summer_Start_Date__c}
)))</expression>
    </formulas>
    <formulas>
        <name>fDeptStudentStored</name>
        <dataType>Number</dataType>
        <expression>IF( ISBLANK( {!$Record.Dept_Students_Stored__c} ) ,{!$Record.Students__c} ,{!$Record.Dept_Students_Stored__c} )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fFallDeptStudents</name>
        <dataType>Number</dataType>
        <expression>IF( AND( {!$Record.Department_Adoption__c} , {!Get_Term.Term__c} = &quot;Fall&quot; ),
{!$Record.Students__c}, {!$Record.Fall_Dept_Max_Students__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fFallStartDate</name>
        <dataType>Date</dataType>
        <expression>IF( {!Get_Term.Term__c} = &quot;Fall&quot;, {!fCSDtoUse}, {!$Record.Fall_Start_Date__c})</expression>
    </formulas>
    <formulas>
        <name>fFallStudents</name>
        <dataType>Number</dataType>
        <expression>IF( AND( NOT({!$Record.Department_Adoption__c}) , {!Get_Term.Term__c} = &quot;Fall&quot; ),
{!$Record.Students__c}, {!$Record.Fall_Students__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fSpringDeptStudents</name>
        <dataType>Number</dataType>
        <expression>IF( AND( {!$Record.Department_Adoption__c} , {!Get_Term.Term__c} = &quot;Spring&quot; ),
{!$Record.Students__c}, {!$Record.Spring_Dept_Max_Students__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fSpringStartDate</name>
        <dataType>Date</dataType>
        <expression>IF( {!Get_Term.Term__c} = &quot;Spring&quot;, {!fCSDtoUse}, {!$Record.Spring_Start_Date__c})</expression>
    </formulas>
    <formulas>
        <name>fSpringStudents</name>
        <dataType>Number</dataType>
        <expression>IF( AND( NOT({!$Record.Department_Adoption__c}) , {!Get_Term.Term__c} = &quot;Spring&quot; ),
{!$Record.Students__c}, {!$Record.Spring_Students__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fStudentStored</name>
        <dataType>Number</dataType>
        <expression>IF( ISBLANK({!$Record.Students_Stored__c}) , {!$Record.Students__c} ,{!$Record.Students_Stored__c} )</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Opportunity Flow Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Flow Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DeleteOpenBookOpp</name>
        <label>DeleteOpenBookOpp</label>
        <locationX>1405</locationX>
        <locationY>808</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Find_Book_Opp</name>
        <label>Find Book Opp</label>
        <locationX>1946</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Book_Opp_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Book Opp</stringValue>
            </value>
        </filters>
        <filters>
            <field>Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Book__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Term__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Term</name>
        <label>Get Term</label>
        <locationX>1371</locationX>
        <locationY>562</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpenClosedTutorBook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Year__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fCSDtoUse</elementReference>
            </value>
        </filters>
        <filters>
            <field>Bug__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CSD__mdt</object>
        <sortField>Year__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Opp_Update2</name>
        <label>Opp Update</label>
        <locationX>1688</locationX>
        <locationY>1298</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Opp_Update_Created</name>
        <label>Opp Update Created</label>
        <locationX>2026</locationX>
        <locationY>1229</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Opp_Update_Exists</name>
        <label>Opp Update Exists</label>
        <locationX>2247</locationX>
        <locationY>1088</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>460</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Assign_the_Record</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_the_Record</name>
        <label>Assign the Record</label>
        <locationX>918</locationX>
        <locationY>560</locationY>
        <connector>
            <targetReference>Routing</targetReference>
        </connector>
        <flowName>Assignment</flowName>
        <inputAssignments>
            <name>varFacStatus</name>
            <value>
                <elementReference>$Record.Contact__r.FV_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInstitutionalPartner</name>
            <value>
                <elementReference>$Record.Account.K_I_P__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInstitutionStudentCount</name>
            <value>
                <elementReference>$Record.Account.Total_School_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLeadSource</name>
            <value>
                <elementReference>$Record.Contact__r.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSchoolType</name>
            <value>
                <elementReference>$Record.Account.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStudentCount</name>
            <value>
                <elementReference>$Record.Students__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>$Record.OwnerId</assignToReference>
            <name>varUserID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Book_Opp</name>
        <label>Create Book Opp</label>
        <locationX>2025</locationX>
        <locationY>936</locationY>
        <connector>
            <targetReference>Set_Book_Opp_Field_on_Tutor_2</targetReference>
        </connector>
        <flowName>Build_Better_Opportunities</flowName>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varBookID</name>
            <value>
                <elementReference>$Record.Book__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContactID</name>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContactName</name>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCSD</name>
            <value>
                <elementReference>Get_Term.Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDesc</name>
            <value>
                <stringValue>Tutor Opp Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLeadSource</name>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSkipTutor</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStage</name>
            <value>
                <stringValue>Confirmed Adoption Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStudents</name>
            <value>
                <elementReference>$Record.Students__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCreatedBookOppId</assignToReference>
            <name>varOppID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>testdate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreatedBookOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0061D000001fKLv</stringValue>
        </value>
    </variables>
</Flow>
