unpackaged/main/default/flows/ParseField.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Sub_to_collection</name>
        <label>Add Sub to collection</label>
        <locationX>394</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>colOut</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>First</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_from_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Make_Duplicate_value</name>
        <label>Make Duplicate value</label>
        <locationX>153</locationX>
        <locationY>181</locationY>
        <assignmentItems>
            <assignToReference>varSubjects</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubjects</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Subjects_Parsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_from_collection</name>
        <label>Remove from collection</label>
        <locationX>395</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>varSubjects</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveFirst</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Subjects_Parsed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Subjects_Parsed</name>
        <label>All Subjects Parsed?</label>
        <locationX>161</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>Add_Sub_to_collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSubjects</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Too_many</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQuantity</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>varReturnCount</elementReference>
                </rightValue>
            </conditions>
            <label>Too many</label>
        </rules>
    </decisions>
    <description>Variable limit</description>
    <formulas>
        <name>First</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!varSubjects},FIND(&apos;;&apos;,{!varSubjects})-1))</expression>
    </formulas>
    <formulas>
        <name>RemoveFirst</name>
        <dataType>String</dataType>
        <expression>TRIM(
RIGHT({!varSubjects},LEN({!varSubjects})-FIND(&apos;;&apos;,{!varSubjects})
)
)</expression>
    </formulas>
    <interviewLabel>ParseField {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ParseField</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Make_Duplicate_value</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colOut</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varInput</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varReturnCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSubjects</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
