unpackaged/main/default/flows/Partner_Usage_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Partner_Change</name>
        <label>Set Partner Change</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>objPartnerChange.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPartnerChange.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Usage</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPartnerChange.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_accounts.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UploadScreen_0</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>fUserID</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varUserID}), {!$User.Id},{!varUserID})</expression>
    </formulas>
    <interviewLabel>Partner Usage Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Usage Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Partner_Change</name>
        <label>Create Partner Change</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>UploadScreen</targetReference>
        </connector>
        <inputReference>objPartnerChange</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_accounts</name>
        <label>Find accounts</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Partner_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Thank you. Your report has been received.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UploadScreen</name>
        <label>Upload Screen</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <fields>
            <name>idscree</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Upload your product usage report here. Please include date range and product name on your file.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select file</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>objPartnerChange.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.csv,.xls,.xlsx</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FileNames</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your report has been received.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FileUpload.fileNames</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <helpText>&lt;p&gt;ISBLANK({!FileUpload.fileNames})&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UploadScreen_0</name>
        <label>Upload Screen</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Partner_Change</targetReference>
        </connector>
        <fields>
            <name>idscree_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Upload your product usage report here. Please include date range and product name on your file.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>&lt;p&gt;ISBLANK({!FileUpload.fileNames})&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Partner_Find</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Partner_Find</name>
        <label>Partner Find</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Find_accounts</targetReference>
        </connector>
        <flowName>Partner_Find_School</flowName>
        <inputAssignments>
            <name>varUserId</name>
            <value>
                <elementReference>fUserID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <name>varAccountID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>objPartnerChange</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner_Change__c</objectType>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
