unpackaged/main/default/flows/Partner_Find_School.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Account_ID_Child_Solo</name>
        <label>Set Account ID Child Solo</label>
        <locationX>490</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>varAccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Through_Children.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_Children</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Child_ID</name>
        <label>Set Child ID</label>
        <locationX>666</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varAccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lookup_User.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Number_of_Children</name>
        <label>Set Number of Children</label>
        <locationX>226</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>NumberOfChildren</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Children</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_Many_Organizatigons</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>How_Many_Organizatigons</name>
        <label>How Many Organizatigons</label>
        <locationX>226</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Through_Children</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Only 1</defaultConnectorLabel>
        <rules>
            <name>More_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfChildren</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_account</targetReference>
            </connector>
            <label>More than 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_or_Child</name>
        <label>Parent or Child?</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Set_Child_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Child</defaultConnectorLabel>
        <rules>
            <name>Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_User.Contact.Account.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Children</targetReference>
            </connector>
            <label>Parent</label>
        </rules>
    </decisions>
    <description>Works with new partner hierarchy system.</description>
    <dynamicChoiceSets>
        <name>ChildrenChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lookup_User.Account.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>fUserId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varUserId}), {!$User.Id},{!varUserId})</expression>
    </formulas>
    <interviewLabel>Community Find School {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Find School</label>
    <loops>
        <name>Through_Children</name>
        <label>Through Children</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Children</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Account_ID_Child_Solo</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Children</name>
        <label>Get Children</label>
        <locationX>226</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Number_of_Children</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lookup_User.Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_User</name>
        <label>Lookup User</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_or_Child</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Choose_account</name>
        <label>Choose account</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Choose_Display</name>
            <fieldText>&lt;p&gt;Please choose which product you would like to update&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Products</name>
            <choiceReferences>ChildrenChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Products</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lookup_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NumberOfChildren</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
