unpackaged/main/default/flows/Partner_Lead_Email_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Partner_Lead</name>
        <label>Email Partner Lead</label>
        <locationX>176</locationX>
        <locationY>612</locationY>
        <actionName>Partner_Notification__c.Partner_Lead_Notification_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Record</name>
        <label>Set Record</label>
        <locationX>176</locationX>
        <locationY>732</locationY>
        <assignmentItems>
            <assignToReference>$Record.Needs_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_Lead_Email_Sent_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Time_Period</name>
        <label>Time Period</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Once a Month</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fTodaysDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Partner_Lead</targetReference>
            </connector>
            <label>Monthly</label>
        </rules>
        <rules>
            <name>Weekly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Once a Week</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fDayOfWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Partner_Lead</targetReference>
            </connector>
            <label>Weekly</label>
        </rules>
        <rules>
            <name>Daily</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Once a Day</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Partner_Lead</targetReference>
            </connector>
            <label>Daily</label>
        </rules>
    </decisions>
    <formulas>
        <name>fDayOfWeek</name>
        <dataType>String</dataType>
        <expression>CASE( MOD( {!$Flow.CurrentDate} - DATE(1900, 1, 7), 7), 0, &quot;Sunday&quot;, 1, &quot;Monday&quot;, 2, &quot;Tuesday&quot;, 3,
&quot;Wednesday&quot;, 4, &quot;Thursday&quot;, 5, &quot;Friday&quot;, 6, &quot;Saturday&quot;,&quot;Error&quot;)</expression>
    </formulas>
    <formulas>
        <name>fTodaysDate</name>
        <dataType>Number</dataType>
        <expression>Day({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Partner Lead Email Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Lead Email Schedule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>176</locationX>
        <locationY>852</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Time_Period</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Needs_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Partner_Notification__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-03-22</startDate>
            <startTime>09:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>PartnerEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hello,
You have new leads from http://openstax.org! Log in to the OpenStax Partner Portal to get their information and contact details: https://openstax-community.force.com/partnerportal
Thank you for partnering with us!
-OpenStax</text>
    </textTemplates>
    <variables>
        <name>colEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>loopEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
