unpackaged/main/default/flows/Partner_Product_Flow_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Col</name>
        <label>Add to Col</label>
        <locationX>396</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>colUpdatePartnerNotifications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Through_Notifications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Through_Notifications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_List_Size</name>
        <label>Set List Size</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>varListSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Partner_Notifications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_Many_Partners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Partner_notification</name>
        <label>Set Partner notification</label>
        <locationX>396</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Through_Notifications.Needs_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Service</name>
        <label>Set Service</label>
        <locationX>176</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>$Record.Service_for_Roll_up__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Partner_Product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>How_Many_Partners</name>
        <label>How Many Partners</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Through_Notifications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More than Zero</defaultConnectorLabel>
        <rules>
            <name>Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varListSize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Service</targetReference>
            </connector>
            <label>Zero</label>
        </rules>
    </decisions>
    <description>Update Partner Product field values</description>
    <interviewLabel>Partner Product Flow Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Product Flow Trigger</label>
    <loops>
        <name>Through_Notifications</name>
        <label>Through Notifications</label>
        <locationX>308</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Partner_Notifications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Partner_notification</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Notification_Updates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Partner_Notifications</name>
        <label>Get Partner Notifications</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_List_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner__r.Partner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Partner_Notification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Notification_Updates</name>
        <label>Notification Updates</label>
        <locationX>308</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Set_Service</targetReference>
        </connector>
        <inputReference>colUpdatePartnerNotifications</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Partner_Product</name>
        <label>Update Partner Product</label>
        <locationX>176</locationX>
        <locationY>1487</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Partner_Notifications</targetReference>
        </connector>
        <object>Partner_Product__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colUpdatePartnerNotifications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner_Notification__c</objectType>
    </variables>
    <variables>
        <name>varListSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPPID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a0h0B00001M3dFK</stringValue>
        </value>
    </variables>
    <variables>
        <name>varService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
