unpackaged/main/default/flows/Partner_Account_Flow_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Organization</name>
        <label>Set Organization</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjPartner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Partner_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Partner</name>
        <label>Set Partner</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>sobjPartner.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjPartner.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjPartner.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjPartner.Partner_Parent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Partner</targetReference>
        </connector>
    </assignments>
    <description>Adds lookup on the organization to the partner</description>
    <interviewLabel>Partner Flow Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Account Flow Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Partner</name>
        <label>Create Partner</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Set_Organization</targetReference>
        </connector>
        <inputReference>sobjPartner</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Type_ID</name>
        <label>Get Record Type ID</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Partner_Account</name>
        <label>Update Partner Account</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>sobjPartner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner__c</objectType>
    </variables>
</Flow>
