unpackaged/main/default/flows/Partner_Feature_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Account_ID</name>
        <label>Assign Account ID</label>
        <locationX>617</locationX>
        <locationY>605</locationY>
        <assignmentItems>
            <assignToReference>varAccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Partner_Find.varAccountID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>varAccount</targetReference>
        </connector>
    </assignments>
    <description>Works with new partner object</description>
    <formulas>
        <name>fUserId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varUserId}), {!$User.Id},{!varUserId})</expression>
    </formulas>
    <interviewLabel>Partner Feature Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Feature Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>varAccount</name>
        <label>Get Account</label>
        <locationX>768</locationX>
        <locationY>605</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Field_updates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Partner_Type__c</queriedFields>
        <queriedFields>Affordability_Institutional__c</queriedFields>
        <queriedFields>App_available__c</queriedFields>
        <queriedFields>Adaptivity_adaptive_presentation__c</queriedFields>
        <queriedFields>Adaptivity_affective_state__c</queriedFields>
        <queriedFields>Adaptivity_breadth_and_depth__c</queriedFields>
        <queriedFields>Adaptivity_customized_path__c</queriedFields>
        <queriedFields>Adaptivity_instructor_control__c</queriedFields>
        <queriedFields>Adaptivity_quantitative_randomization__c</queriedFields>
        <queriedFields>Adaptivity_varied_level__c</queriedFields>
        <queriedFields>Admin_calendar_links__c</queriedFields>
        <queriedFields>admin_online_submission__c</queriedFields>
        <queriedFields>Admin_realtime_progress__c</queriedFields>
        <queriedFields>Admin_shared_students__c</queriedFields>
        <queriedFields>Admin_Syllabus__c</queriedFields>
        <queriedFields>Assignment_outside_resources__c</queriedFields>
        <queriedFields>Assignment_editing__c</queriedFields>
        <queriedFields>Assignment_multimedia__c</queriedFields>
        <queriedFields>Assignment_multiple_quantitative__c</queriedFields>
        <queriedFields>Assignment_pretest__c</queriedFields>
        <queriedFields>Assignment_scientific_structures__c</queriedFields>
        <queriedFields>Assignment_summative_assessments__c</queriedFields>
        <queriedFields>Autonomy_digital_badges__c</queriedFields>
        <queriedFields>Autonomy_on_demand_extras__c</queriedFields>
        <queriedFields>Autonomy_self_reflection__c</queriedFields>
        <queriedFields>Collaboration_peer_feedback__c</queriedFields>
        <queriedFields>Collaboration_peer_interaction__c</queriedFields>
        <queriedFields>Collaboration_teacher_learner_contact__c</queriedFields>
        <queriedFields>Collaboration_tutor__c</queriedFields>
        <queriedFields>Content_batch_uploads__c</queriedFields>
        <queriedFields>Content_resource_sharing__c</queriedFields>
        <queriedFields>Content_sharing_among_courses__c</queriedFields>
        <queriedFields>Customization_assessment_repository__c</queriedFields>
        <queriedFields>Customization_content_repository__c</queriedFields>
        <queriedFields>Customization_create_learning_outcomes__c</queriedFields>
        <queriedFields>Customization_reorder_content__c</queriedFields>
        <queriedFields>Customization_reorder_learning_outcomes__c</queriedFields>
        <queriedFields>Feedback_early_warning__c</queriedFields>
        <queriedFields>Feedback_individual_and_group__c</queriedFields>
        <queriedFields>Feedback_knowledge_gaps__c</queriedFields>
        <queriedFields>Feedback_multipart__c</queriedFields>
        <queriedFields>Feedback_learner_progress_tasks__c</queriedFields>
        <queriedFields>Feedback_understanding__c</queriedFields>
        <queriedFields>Grading_change_scores__c</queriedFields>
        <queriedFields>Grading_class_and_student_level__c</queriedFields>
        <queriedFields>Grading_group_work__c</queriedFields>
        <queriedFields>Grading_learning_portfolio__c</queriedFields>
        <queriedFields>Grading_rubric_based__c</queriedFields>
        <queriedFields>Grading_tolerances_sig_fig__c</queriedFields>
        <queriedFields>Interactivity_annotate__c</queriedFields>
        <queriedFields>Interactivity_different_representations__c</queriedFields>
        <queriedFields>Interactivity_gaming__c</queriedFields>
        <queriedFields>Interactivity_previous_knowledge__c</queriedFields>
        <queriedFields>Interactivity_simulations__c</queriedFields>
        <queriedFields>Interactivity_varying_means__c</queriedFields>
        <queriedFields>LMS_analytics__c</queriedFields>
        <queriedFields>LMS_sends_grades__c</queriedFields>
        <queriedFields>LMS_SSO__c</queriedFields>
        <queriedFields>Measure_alternate_assessment__c</queriedFields>
        <queriedFields>Measure_assessments_in_most__c</queriedFields>
        <queriedFields>Measure_mapping__c</queriedFields>
        <queriedFields>Reporting_competency__c</queriedFields>
        <queriedFields>Reporting_student_workload__c</queriedFields>
        <queriedFields>Scaffolding_hints__c</queriedFields>
        <queriedFields>Scaffolding_learner_explanations__c</queriedFields>
        <queriedFields>Scaffolding_mental_practice__c</queriedFields>
        <queriedFields>Scaffolding_narrative__c</queriedFields>
        <queriedFields>Scaffolding_social_intervention__c</queriedFields>
        <queriedFields>Usability_design_orients_users__c</queriedFields>
        <queriedFields>Usability_glossary__c</queriedFields>
        <queriedFields>Usability_partial_progress__c</queriedFields>
        <queriedFields>Accessibility_language_content__c</queriedFields>
        <queriedFields>Accessibility_language_UI__c</queriedFields>
        <queriedFields>Accessibility_Universal_Design__c</queriedFields>
        <queriedFields>Accessibility_VPAT__c</queriedFields>
        <queriedFields>Accessibility_WCAG__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Landing_page__c</queriedFields>
        <queriedFields>short_partner_description__c</queriedFields>
        <queriedFields>Books_Offered__c</queriedFields>
        <queriedFields>Rich_Description__c</queriedFields>
        <queriedFields>New_Name__c</queriedFields>
        <queriedFields>New_Partner_Type__c</queriedFields>
        <queriedFields>New_Short_Description__c</queriedFields>
        <queriedFields>New_Landing_Page__c</queriedFields>
        <queriedFields>New_Books_Offered__c</queriedFields>
        <queriedFields>New_Long_Description__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Instructional_level_higher_ed__c</queriedFields>
        <queriedFields>Instructional_level_K12__c</queriedFields>
        <queriedFields>Approval_Status__c</queriedFields>
        <queriedFields>Online_teaching_academic_integrity__c</queriedFields>
        <queriedFields>Online_teaching_asynchronous__c</queriedFields>
        <queriedFields>Online_teaching_audio_video__c</queriedFields>
        <queriedFields>Online_teaching_in_lecture__c</queriedFields>
        <queriedFields>Online_teaching_labs__c</queriedFields>
        <queriedFields>Online_teaching_lecture_streaming__c</queriedFields>
        <queriedFields>Online_teaching_peer_discussion__c</queriedFields>
        <queriedFields>International__c</queriedFields>
        <queriedFields>Affordability_cost__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_Update</name>
        <label>Account Update</label>
        <locationX>1106</locationX>
        <locationY>605</locationY>
        <connector>
            <targetReference>End_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Partner__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accessibility_Universal_Design__c</field>
            <value>
                <elementReference>ACCESSIBILITY5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accessibility_VPAT__c</field>
            <value>
                <elementReference>ACCESSIBILITY4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accessibility_WCAG__c</field>
            <value>
                <elementReference>ACCESSIBILITY3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accessibility_language_UI__c</field>
            <value>
                <elementReference>ACCESSIBILITY1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accessibility_language_content__c</field>
            <value>
                <elementReference>ACCESSIBILITY2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Adaptivity_adaptive_presentation__c</field>
            <value>
                <elementReference>ADAPTIVITY1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Adaptivity_affective_state__c</field>
            <value>
                <elementReference>ADAPTIVITY2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Adaptivity_breadth_and_depth__c</field>
            <value>
                <elementReference>ADAPTIVITY3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Adaptivity_customized_path__c</field>
            <value>
                <elementReference>ADAPTIVITY4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Adaptivity_instructor_control__c</field>
            <value>
                <elementReference>ADAPTIVITY5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Adaptivity_quantitative_randomization__c</field>
            <value>
                <elementReference>ADAPTIVITY6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Adaptivity_varied_level__c</field>
            <value>
                <elementReference>ADAPTIVITY7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Admin_Syllabus__c</field>
            <value>
                <elementReference>COURSEADMINISTRATION5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Admin_calendar_links__c</field>
            <value>
                <elementReference>COURSEADMINISTRATION1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Admin_realtime_progress__c</field>
            <value>
                <elementReference>COURSEADMINISTRATION3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Admin_shared_students__c</field>
            <value>
                <elementReference>COURSEADMINISTRATION4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment_editing__c</field>
            <value>
                <elementReference>ASSIGNMENTMANAGEMENT2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment_multimedia__c</field>
            <value>
                <elementReference>ASSIGNMENTMANAGEMENT3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment_multiple_quantitative__c</field>
            <value>
                <elementReference>ASSIGNMENTMANAGEMENT4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment_outside_resources__c</field>
            <value>
                <elementReference>ASSIGNMENTMANAGEMENT1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment_pretest__c</field>
            <value>
                <elementReference>ASSIGNMENTMANAGEMENT5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment_scientific_structures__c</field>
            <value>
                <elementReference>ASSIGNMENTMANAGEMENT6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment_summative_assessments__c</field>
            <value>
                <elementReference>ASSIGNMENTMANAGEMENT7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Autonomy_digital_badges__c</field>
            <value>
                <elementReference>LEARNERAUTONOMY1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Autonomy_on_demand_extras__c</field>
            <value>
                <elementReference>LEARNERAUTONOMY2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Autonomy_self_reflection__c</field>
            <value>
                <elementReference>LEARNERAUTONOMY3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_peer_feedback__c</field>
            <value>
                <elementReference>COLLABORATION1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_peer_interaction__c</field>
            <value>
                <elementReference>COLLABORATION2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_teacher_learner_contact__c</field>
            <value>
                <elementReference>COLLABORATION3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collaboration_tutor__c</field>
            <value>
                <elementReference>COLLABORATION4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content_batch_uploads__c</field>
            <value>
                <elementReference>CONTENTMANAGEMENT1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content_resource_sharing__c</field>
            <value>
                <elementReference>CONTENTMANAGEMENT2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content_sharing_among_courses__c</field>
            <value>
                <elementReference>CONTENTMANAGEMENT3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customization_assessment_repository__c</field>
            <value>
                <elementReference>CUSTOMIZATION1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customization_content_repository__c</field>
            <value>
                <elementReference>CUSTOMIZATION2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customization_create_learning_outcomes__c</field>
            <value>
                <elementReference>CUSTOMIZATION3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customization_reorder_content__c</field>
            <value>
                <elementReference>CUSTOMIZATION4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customization_reorder_learning_outcomes__c</field>
            <value>
                <elementReference>CUSTOMIZATION5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feedback_early_warning__c</field>
            <value>
                <elementReference>FEEDBACK1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feedback_individual_and_group__c</field>
            <value>
                <elementReference>FEEDBACK2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feedback_knowledge_gaps__c</field>
            <value>
                <elementReference>FEEDBACK3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feedback_learner_progress_tasks__c</field>
            <value>
                <elementReference>FEEDBACK4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feedback_multipart__c</field>
            <value>
                <elementReference>FEEDBACK5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Feedback_understanding__c</field>
            <value>
                <elementReference>FEEDBACK6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grading_change_scores__c</field>
            <value>
                <elementReference>GRADING1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grading_class_and_student_level__c</field>
            <value>
                <elementReference>GRADING2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grading_group_work__c</field>
            <value>
                <elementReference>GRADING3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grading_learning_portfolio__c</field>
            <value>
                <elementReference>GRADING4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grading_rubric_based__c</field>
            <value>
                <elementReference>GRADING5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grading_tolerances_sig_fig__c</field>
            <value>
                <elementReference>GRADING6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interactivity_annotate__c</field>
            <value>
                <elementReference>INTERACTIVITY1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interactivity_different_representations__c</field>
            <value>
                <elementReference>INTERACTIVITY2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interactivity_gaming__c</field>
            <value>
                <elementReference>INTERACTIVITY3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interactivity_previous_knowledge__c</field>
            <value>
                <elementReference>INTERACTIVITY4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interactivity_simulations__c</field>
            <value>
                <elementReference>INTERACTIVITY5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interactivity_varying_means__c</field>
            <value>
                <elementReference>INTERACTIVITY6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LMS_SSO__c</field>
            <value>
                <elementReference>LMS3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LMS_analytics__c</field>
            <value>
                <elementReference>LMS1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LMS_sends_grades__c</field>
            <value>
                <elementReference>LMS2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Measure_alternate_assessment__c</field>
            <value>
                <elementReference>MEASUREMENT1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Measure_assessments_in_most__c</field>
            <value>
                <elementReference>MEASUREMENT2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Measure_mapping__c</field>
            <value>
                <elementReference>MEASUREMENT3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_teaching_academic_integrity__c</field>
            <value>
                <elementReference>ONLINE6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_teaching_asynchronous__c</field>
            <value>
                <elementReference>ONLINE4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_teaching_audio_video__c</field>
            <value>
                <elementReference>ONLINE5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_teaching_in_lecture__c</field>
            <value>
                <elementReference>ONLINE3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_teaching_labs__c</field>
            <value>
                <elementReference>ONLINE7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_teaching_lecture_streaming__c</field>
            <value>
                <elementReference>ONLINE2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_teaching_peer_discussion__c</field>
            <value>
                <elementReference>ONLINE1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporting_competency__c</field>
            <value>
                <elementReference>REPORTING1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporting_student_workload__c</field>
            <value>
                <elementReference>REPORTING2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scaffolding_hints__c</field>
            <value>
                <elementReference>SCAFFOLDING1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scaffolding_learner_explanations__c</field>
            <value>
                <elementReference>SCAFFOLDING2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scaffolding_mental_practice__c</field>
            <value>
                <elementReference>SCAFFOLDING3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scaffolding_narrative__c</field>
            <value>
                <elementReference>SCAFFOLDING4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scaffolding_social_intervention__c</field>
            <value>
                <elementReference>SCAFFOLDING5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Usability_design_orients_users__c</field>
            <value>
                <elementReference>USABILITY1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Usability_glossary__c</field>
            <value>
                <elementReference>USABILITY2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Usability_partial_progress__c</field>
            <value>
                <elementReference>USABILITY3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>admin_online_submission__c</field>
            <value>
                <elementReference>COURSEADMINISTRATION2</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>End_Screen</name>
        <label>End Screen</label>
        <locationX>1282</locationX>
        <locationY>605</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EndScreenDisplay</name>
            <fieldText>&lt;p&gt;Your changes have been submitted.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Field_updates</name>
        <label>Field updates</label>
        <locationX>938</locationX>
        <locationY>605</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Account_Update</targetReference>
        </connector>
        <fields>
            <name>Grouping1</name>
            <fieldText>&lt;p&gt;For the following questions, indicate as accurately as possible whether your product has the specified capability.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;ONLINE&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ONLINE1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Online_teaching_peer_discussion__c</elementReference>
            </defaultValue>
            <fieldText>Facilitates peer to peer discussion</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ONLINE2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Online_teaching_lecture_streaming__c</elementReference>
            </defaultValue>
            <fieldText>Enables in-platform lecture streaming</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ONLINE3</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Online_teaching_in_lecture__c</elementReference>
            </defaultValue>
            <fieldText>Used actively to involve students during lecture</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ONLINE4</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Online_teaching_asynchronous__c</elementReference>
            </defaultValue>
            <fieldText>Used asynchronously outside of lecture</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ONLINE5</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Online_teaching_audio_video__c</elementReference>
            </defaultValue>
            <fieldText>Includes audio/video recording capabilities</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ONLINE6</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Online_teaching_academic_integrity__c</elementReference>
            </defaultValue>
            <fieldText>Contains features to ensure academic integrity in assignments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ONLINE7</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Online_teaching_labs__c</elementReference>
            </defaultValue>
            <fieldText>Offers remote or virtual lab experiences</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grouping1_1</name>
            <fieldText>&lt;p&gt;ADAPTIVITY&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ADAPTIVITY1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Adaptivity_adaptive_presentation__c</elementReference>
            </defaultValue>
            <fieldText>Adaptive presentation of content based on learner goals?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ADAPTIVITY2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Adaptivity_affective_state__c</elementReference>
            </defaultValue>
            <fieldText>Adaptive complexity or presentation of content based on a learner&apos;s affective state</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ADAPTIVITY3</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Adaptivity_breadth_and_depth__c</elementReference>
            </defaultValue>
            <fieldText>Ability to offer variation in level of content and/or depth of coverage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ADAPTIVITY4</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Adaptivity_customized_path__c</elementReference>
            </defaultValue>
            <fieldText>Customized learning paths based on student input</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ADAPTIVITY5</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Adaptivity_instructor_control__c</elementReference>
            </defaultValue>
            <fieldText>Ability for instructor to control adaptivity and personalization</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ADAPTIVITY6</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Adaptivity_quantitative_randomization__c</elementReference>
            </defaultValue>
            <fieldText>Randomization of quantitative problems and steps</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ADAPTIVITY7</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Adaptivity_varied_level__c</elementReference>
            </defaultValue>
            <fieldText>Adaptivity allows for a variation in level of content</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grouping2</name>
            <fieldText>&lt;p&gt;COURSE ADMINISTRATION&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>COURSEADMINISTRATION1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Admin_calendar_links__c</elementReference>
            </defaultValue>
            <fieldText>Calendar links to assignments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>COURSEADMINISTRATION2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.admin_online_submission__c</elementReference>
            </defaultValue>
            <fieldText>Online submission of assignments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>COURSEADMINISTRATION3</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Admin_realtime_progress__c</elementReference>
            </defaultValue>
            <fieldText>Real-time progress monitoring during assessments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>COURSEADMINISTRATION4</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Admin_shared_students__c</elementReference>
            </defaultValue>
            <fieldText>Ability to support faculty, mentors, or course designers interacting in relation to shared students</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>COURSEADMINISTRATION5</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Admin_Syllabus__c</elementReference>
            </defaultValue>
            <fieldText>Ability to generate or analyze a syllabus based on collected course content</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grouping3</name>
            <fieldText>&lt;p&gt;ASSIGNMENT MANAGEMENT&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ASSIGNMENTMANAGEMENT1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Assignment_outside_resources__c</elementReference>
            </defaultValue>
            <fieldText>Ability for students to upload outside resources</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ASSIGNMENTMANAGEMENT2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Assignment_editing__c</elementReference>
            </defaultValue>
            <fieldText>Ability to edit assignments with no coding required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ASSIGNMENTMANAGEMENT3</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Assignment_multimedia__c</elementReference>
            </defaultValue>
            <fieldText>Ability to include multimedia content in assignments or assessments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ASSIGNMENTMANAGEMENT4</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Assignment_multiple_quantitative__c</elementReference>
            </defaultValue>
            <fieldText>System generates multiple versions of quantitative quesitons</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ASSIGNMENTMANAGEMENT5</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Assignment_pretest__c</elementReference>
            </defaultValue>
            <fieldText>Offers pre-tests that give students feedback</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ASSIGNMENTMANAGEMENT6</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Assignment_scientific_structures__c</elementReference>
            </defaultValue>
            <fieldText>Ability to construct scientific structures (e.g., molecular drawing tools)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ASSIGNMENTMANAGEMENT7</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Assignment_summative_assessments__c</elementReference>
            </defaultValue>
            <fieldText>Ability to generate, administer, and proctor summative assessments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grouping4</name>
            <fieldText>&lt;p&gt;LEARNER AUTONOMY&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LEARNERAUTONOMY1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Autonomy_digital_badges__c</elementReference>
            </defaultValue>
            <fieldText>Support for learners to share their work or evidence of learning outside of the course (e.g. digital badges, e-portfolio artifacts)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LEARNERAUTONOMY2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Autonomy_on_demand_extras__c</elementReference>
            </defaultValue>
            <fieldText>Gives learners on-demand access to assessments or interactive objects that are not a required element of instruction</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LEARNERAUTONOMY3</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Autonomy_self_reflection__c</elementReference>
            </defaultValue>
            <fieldText>Prompts learners for self-reflection or evaluation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grouping5</name>
            <fieldText>&lt;p&gt;COLLABORATION&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>COLLABORATION1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Collaboration_peer_feedback__c</elementReference>
            </defaultValue>
            <fieldText>Prompts learners to provide or receive feedback on or from peers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>COLLABORATION2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Collaboration_peer_interaction__c</elementReference>
            </defaultValue>
            <fieldText>Facilitates interaction with peers during learning activities</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>COLLABORATION3</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Collaboration_teacher_learner_contact__c</elementReference>
            </defaultValue>
            <fieldText>Educators or mentors and learners can initiate contact with one another within the courseware interface</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>COLLABORATION4</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Collaboration_tutor__c</elementReference>
            </defaultValue>
            <fieldText>Prompts learners to act as a tutor or mentor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grouping6</name>
            <fieldText>&lt;p&gt;CONTENT MANAGEMENT&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CONTENTMANAGEMENT1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Content_batch_uploads__c</elementReference>
            </defaultValue>
            <fieldText>Batch file uploads</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CONTENTMANAGEMENT2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Content_resource_sharing__c</elementReference>
            </defaultValue>
            <fieldText>Resource sharing among educators, mentors, or course designers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CONTENTMANAGEMENT3</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Content_sharing_among_courses__c</elementReference>
            </defaultValue>
            <fieldText>Content discovery and sharing among courses</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grouping7</name>
            <fieldText>&lt;p&gt;CUSTOMIZATION&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CUSTOMIZATION1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Customization_assessment_repository__c</elementReference>
            </defaultValue>
            <fieldText>Repository of additional assessment items that can be incorporated by educators of course designers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CUSTOMIZATION2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Customization_content_repository__c</elementReference>
            </defaultValue>
            <fieldText>Repository of additional content that can be incorporated by educators or course designers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CUSTOMIZATION3</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Customization_create_learning_outcomes__c</elementReference>
            </defaultValue>
            <fieldText>Ability to create and edit learning objectives or outcomes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CUSTOMIZATION4</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Customization_reorder_content__c</elementReference>
            </defaultValue>
            <fieldText>Ability to re-order and delete learning content and assessments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CUSTOMIZATION5</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Customization_reorder_learning_outcomes__c</elementReference>
            </defaultValue>
            <fieldText>Ability to re-order and delete learning objectives or outcomes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grouping8</name>
            <fieldText>&lt;p&gt;FEEDBACK TO STUDENTS AND INSTRUCTORS&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FEEDBACK1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Feedback_early_warning__c</elementReference>
            </defaultValue>
            <fieldText>Early warning system for instructors identifying students with performance issues</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FEEDBACK2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Feedback_individual_and_group__c</elementReference>
            </defaultValue>
            <fieldText>Ability to track the progress of students cohorts and individual students in single view</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FEEDBACK3</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Feedback_knowledge_gaps__c</elementReference>
            </defaultValue>
            <fieldText>Students receive feedback on knowledge gaps</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FEEDBACK4</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Feedback_learner_progress_tasks__c</elementReference>
            </defaultValue>
            <fieldText>Ability for learner to track progress and remaining tasks in the same interface</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FEEDBACK5</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Feedback_multipart__c</elementReference>
            </defaultValue>
            <fieldText>Multi-part feedback for students</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FEEDBACK6</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Feedback_understanding__c</elementReference>
            </defaultValue>
            <fieldText>Ability to measure student&apos;s level of understanding</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grouping9</name>
            <fieldText>&lt;p&gt;GRADING&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GRADING1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Grading_change_scores__c</elementReference>
            </defaultValue>
            <fieldText>Ability to change or add scores in gradebook</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GRADING2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Grading_class_and_student_level__c</elementReference>
            </defaultValue>
            <fieldText>Analytics on both class-level and student-level competencies</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GRADING3</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Grading_group_work__c</elementReference>
            </defaultValue>
            <fieldText>Ability for students to work and be graded as a group</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GRADING4</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Grading_learning_portfolio__c</elementReference>
            </defaultValue>
            <fieldText>Learner portfolio tools</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GRADING5</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Grading_rubric_based__c</elementReference>
            </defaultValue>
            <fieldText>Ability to add scores using standards or rubric-based grading</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GRADING6</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Grading_tolerances_sig_fig__c</elementReference>
            </defaultValue>
            <fieldText>Ability to adjust grading tolerances: e.g., significant figure adjustments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grouping10</name>
            <fieldText>&lt;p&gt;INTERACTIVITY&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>INTERACTIVITY1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Interactivity_annotate__c</elementReference>
            </defaultValue>
            <fieldText>Ability for students to highlight and annotate content</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>INTERACTIVITY2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Interactivity_different_representations__c</elementReference>
            </defaultValue>
            <fieldText>Different representations of the same content in learning modules</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>INTERACTIVITY3</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Interactivity_gaming__c</elementReference>
            </defaultValue>
            <fieldText>Gaming components</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>INTERACTIVITY4</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Interactivity_previous_knowledge__c</elementReference>
            </defaultValue>
            <fieldText>System assesses student&apos;s previous knowledge and automatically serves follow-up -- questions for spaced practice</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>INTERACTIVITY5</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Interactivity_simulations__c</elementReference>
            </defaultValue>
            <fieldText>Simulations that allow students to predict outcomes and analyze data</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>INTERACTIVITY6</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Interactivity_varying_means__c</elementReference>
            </defaultValue>
            <fieldText>Offers varying means of learner action and expression (e.g., physical actions, use of multiple media, interactive objects, and executive functions)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grouping11</name>
            <fieldText>&lt;p&gt;LMS INTEGRATION&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LMS1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.LMS_analytics__c</elementReference>
            </defaultValue>
            <fieldText>Gives analytics back to my LMS</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LMS2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.LMS_sends_grades__c</elementReference>
            </defaultValue>
            <fieldText>Sends grade information to my LMS</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LMS3</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.LMS_SSO__c</elementReference>
            </defaultValue>
            <fieldText>Single sign-on (lets students log in with their college account information)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grouping12</name>
            <fieldText>&lt;p&gt;MEASUREMENT&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MEASUREMENT1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Measure_alternate_assessment__c</elementReference>
            </defaultValue>
            <fieldText>Ability to instrument new assessment items or activities based on learner experiences or performance</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MEASUREMENT2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Measure_assessments_in_most__c</elementReference>
            </defaultValue>
            <fieldText>Assessments in most or all learning modules</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MEASUREMENT3</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Measure_mapping__c</elementReference>
            </defaultValue>
            <fieldText>Learning outcomes have been mapped to learning objectives</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grouping13</name>
            <fieldText>&lt;p&gt;REPORTING&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>REPORTING1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Reporting_competency__c</elementReference>
            </defaultValue>
            <fieldText>Competency-based reporting</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>REPORTING2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Reporting_student_workload__c</elementReference>
            </defaultValue>
            <fieldText>Ability to view student workload</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grouping14</name>
            <fieldText>&lt;p&gt;SCAFFOLDING&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SCAFFOLDING1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Scaffolding_hints__c</elementReference>
            </defaultValue>
            <fieldText>Offers hints or prompts to support learners during learning activities or assessment items</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SCAFFOLDING2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Scaffolding_learner_explanations__c</elementReference>
            </defaultValue>
            <fieldText>Prompts learners to generate explanations of how they have approached an activity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SCAFFOLDING3</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Scaffolding_mental_practice__c</elementReference>
            </defaultValue>
            <fieldText>Contains prompts for mental practice</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SCAFFOLDING4</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Scaffolding_narrative__c</elementReference>
            </defaultValue>
            <fieldText>Presents narrative structures that act as guidelines for learning activities</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SCAFFOLDING5</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Scaffolding_social_intervention__c</elementReference>
            </defaultValue>
            <fieldText>Incorporates social / emotional interventions designed to improve learner study skills, work habits, and attitude</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grouping15</name>
            <fieldText>&lt;p&gt;USABILITY&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>USABILITY1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Usability_design_orients_users__c</elementReference>
            </defaultValue>
            <fieldText>Contains design features that help users orient themselves with the software</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>USABILITY2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Usability_glossary__c</elementReference>
            </defaultValue>
            <fieldText>Contains glossary of terms specific to the learning content of the course</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>USABILITY3</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Usability_partial_progress__c</elementReference>
            </defaultValue>
            <fieldText>Ability for learner to save partial progress within a module</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Grouping16</name>
            <fieldText>&lt;p&gt;ACCESSIBILITY&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ACCESSIBILITY1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Accessibility_language_UI__c</elementReference>
            </defaultValue>
            <fieldText>Alternate language support for UI elements</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ACCESSIBILITY2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Accessibility_language_content__c</elementReference>
            </defaultValue>
            <fieldText>Alternate language support for some or most learning content</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ACCESSIBILITY3</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Accessibility_WCAG__c</elementReference>
            </defaultValue>
            <fieldText>Complies with WCAG 2.0 AA standards</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ACCESSIBILITY4</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Accessibility_VPAT__c</elementReference>
            </defaultValue>
            <fieldText>Voluntary Product Accessibility Template (VPAT) available</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ACCESSIBILITY5</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Accessibility_Universal_Design__c</elementReference>
            </defaultValue>
            <fieldText>Aligned with Universal Design for Learning standards</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>586</locationY>
        <connector>
            <targetReference>Partner_Find</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Partner_Find</name>
        <label>Partner Find</label>
        <locationX>462</locationX>
        <locationY>605</locationY>
        <connector>
            <targetReference>Assign_Account_ID</targetReference>
        </connector>
        <flowName>Partner_Find_School</flowName>
        <inputAssignments>
            <name>varUserId</name>
            <value>
                <elementReference>fUserId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
