unpackaged/main/default/flows/Partner_Flow_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>This could be made obsolete if we just changed the partner product builder to look at partner status instead of lead sharing</description>
        <name>Current_Partner_Assign</name>
        <label>Current Partner Assign</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lead_Sharing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Current_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Not_Partner</name>
        <label>Not Partner</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lead_Sharing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Dropped_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Current_or_Dropped</name>
        <label>Current or Dropped</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Not_Partner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dropped</defaultConnectorLabel>
        <rules>
            <name>Current</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Current Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Did_Status_Change</targetReference>
            </connector>
            <label>Current</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Status_Change</name>
        <label>Did Status Change?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Was_Books_Offering_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Stayed the same</defaultConnectorLabel>
        <rules>
            <name>Changed2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Partner_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Current Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Partner_Assign</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Account_Shares_Exist</name>
        <label>Do Account Shares Exist?</label>
        <locationX>710</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_please_delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Share_Dropped</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Dropped_Account_Shares</targetReference>
            </connector>
            <label>Yes, please delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Books_Offering_changed</name>
        <label>Was Books Offering changed?</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>BO_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Books_Offered__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Community_Contacts</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <description>cleaned up unused variables</description>
    <environments>Default</environments>
    <interviewLabel>Partner Flow Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Flow Trigger</label>
    <loops>
        <name>Contact_Loop</name>
        <label>Contact Loop</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <collectionReference>Find_Community_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Permission_Sharing</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Dropped_Account_Shares</name>
        <label>Delete Dropped Account Shares</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <inputReference>Get_Account_Share_Dropped</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Find_Community_Contacts</name>
        <label>Find Community Contacts</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Loop</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Community_User_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Parent_Account_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Share_Dropped</name>
        <label>Get Account Share Dropped</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_Account_Shares_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Partner_Current_Update</name>
        <label>Partner Current Update</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Was_Books_Offering_changed</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Partner_Dropped_Update</name>
        <label>Partner Dropped Update</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_Account_Share_Dropped</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Current_or_Dropped</targetReference>
        </connector>
        <object>Partner__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Permission_Sharing</name>
        <label>Permission Sharing</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Contact_Loop</targetReference>
        </connector>
        <flowName>Community_Permission_Sharing</flowName>
        <inputAssignments>
            <name>RecordID</name>
            <value>
                <elementReference>Contact_Loop.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
