unpackaged/main/default/flows/Partner_General_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Book_Merge</name>
        <label>Book Merge</label>
        <locationX>1336</locationX>
        <locationY>1023</locationY>
        <actionName>MSPLManagement</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Change_Assign_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>subjects1</name>
            <value>
                <elementReference>Get_Change.Books_Offered__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjects2</name>
            <value>
                <elementReference>NewBooksOffered_0</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varChange.Books_Offered__c</assignToReference>
            <name>allSubjects</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Change_Assign</name>
        <label>Change Assign</label>
        <locationX>1164</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>varChange.New_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Display_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Landing_Page_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Landing_Page_URL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Long_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Long_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Books_Offered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBooksOffered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Costs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Main_Partner_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MainType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Instructional_Level_Higher_Ed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supports_higher_ed_customers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Instructional_Level_K12__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supports_K12_customers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.International__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>International</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Affordability_Institutional__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_institutional_pricing_available</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.App_available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_there_an_app_available</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>General</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Partner_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Assign_0</name>
        <label>Change Assign</label>
        <locationX>1505</locationX>
        <locationY>929</locationY>
        <assignmentItems>
            <assignToReference>varChange.New_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Display_Name_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Landing_Page_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Landing_Page_URL_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Long_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Long_Description_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Costs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cost_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Main_Partner_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MainType_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Instructional_Level_Higher_Ed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supports_higher_ed_customers_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Instructional_Level_K12__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supports_K12_customers_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.International__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>International_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Affordability_Institutional__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_institutional_pricing_available_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.App_available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_there_an_app_available_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>General</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Change.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Partner_Change</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CurrentTypeChoice</name>
        <choiceText>{!varAccount.Partner__r.Partner_Type__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varAccount.Partner__r.Partner_Type__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>newTypeChoice</name>
        <choiceText>{!Get_Change.Main_Partner_Type__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Change.Main_Partner_Type__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Has_Books</name>
        <label>Has Books?</label>
        <locationX>1158</locationX>
        <locationY>929</locationY>
        <defaultConnector>
            <targetReference>Book_Merge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Books</defaultConnectorLabel>
        <rules>
            <name>No_Books</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Change.Books_Offered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NewBooksOffered_0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Assign_0</targetReference>
            </connector>
            <label>No Books</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Duplicate_Found</name>
        <label>Was Duplicate Found?</label>
        <locationX>993</locationX>
        <locationY>698</locationY>
        <defaultConnector>
            <targetReference>Field_updates_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Yes_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Change</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_updates_0_0</targetReference>
            </connector>
            <label>Yes Duplicate</label>
        </rules>
    </decisions>
    <description>New Partners instead</description>
    <dynamicChoiceSets>
        <name>AffordabilityCostChoices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Affordability_Cost__c</picklistField>
        <picklistObject>Partner__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Books</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Books_Offered__c</picklistField>
        <picklistObject>Partner__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PartnerTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Partner_Type__c</picklistField>
        <picklistObject>Partner__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fUserId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varUserId}), {!$User.Id},{!varUserId})</expression>
    </formulas>
    <interviewLabel>Partner General Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner General Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Partner_Change</name>
        <label>Create Partner Change</label>
        <locationX>1328</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>EndScreen</targetReference>
        </connector>
        <inputReference>varChange</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Change</name>
        <label>Get Change</label>
        <locationX>842</locationX>
        <locationY>696</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Duplicate_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner_Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>varAccount</name>
        <label>Get Account</label>
        <locationX>671</locationX>
        <locationY>696</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Partner_Change</name>
        <label>Update Partner Change</label>
        <locationX>1505</locationX>
        <locationY>694</locationY>
        <connector>
            <targetReference>EndScreen</targetReference>
        </connector>
        <inputReference>varChange</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>EndScreen</name>
        <label>EndScreen</label>
        <locationX>1505</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndScreenDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Your changes are pending approval and will be updated shortly&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Field_updates_0</name>
        <label>Field updates</label>
        <locationX>1001</locationX>
        <locationY>494</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_Assign</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;You are creating a new General change request&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Display_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Name</elementReference>
            </defaultValue>
            <fieldText>Product Display Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Landing_Page_URL</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Landing_page__c</elementReference>
            </defaultValue>
            <fieldText>Landing Page URL</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;No Spaces&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;No Spaces. Must start with http:// or https://&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
NOT(CONTAINS({!Landing_Page_URL},&quot; &quot;)), 
OR( 
LEFT({!Landing_Page_URL},7) = &quot;http://&quot; ,
LEFT({!Landing_Page_URL},8) = &quot;https://&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Long_Description</name>
            <defaultValue>
                <stringValue>{!varAccount.Partner__r.Description__c}</stringValue>
            </defaultValue>
            <fieldText>Long Description - 1115 characters max</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BooksOfferedDisplay</name>
            <fieldText>&lt;p&gt;Books Offered: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!varAccount.&lt;/span&gt;Partner__r.&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Books_Offered__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewBooksOffered</name>
            <choiceReferences>Books</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Highlight to add new books offered</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <helpText>&lt;p&gt;Hold CTRL to select multiple options.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cost_Display</name>
            <fieldText>&lt;p&gt;Current Costs: {!varAccount.Partner__r.Affordability_Cost__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cost</name>
            <choiceReferences>AffordabilityCostChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Check to add new cost options</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MainType</name>
            <choiceReferences>PartnerTypes</choiceReferences>
            <choiceReferences>CurrentTypeChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CurrentTypeChoice</defaultSelectedChoiceReference>
            <fieldText>What is the main capability of the platform?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Supports_higher_ed_customers</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Instructional_level_higher_ed__c</elementReference>
            </defaultValue>
            <fieldText>Supports higher ed customers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Supports_K12_customers</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Instructional_level_K12__c</elementReference>
            </defaultValue>
            <fieldText>Supports K12 customers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>International</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.International__c</elementReference>
            </defaultValue>
            <fieldText>Available for users outside of the US</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_institutional_pricing_available</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Affordability_Institutional__c</elementReference>
            </defaultValue>
            <fieldText>Is institutional pricing available?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_there_an_app_available</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.App_available__c</elementReference>
            </defaultValue>
            <fieldText>Is there an app available?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Field_updates_0_0</name>
        <label>Field updates</label>
        <locationX>1001</locationX>
        <locationY>927</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Has_Books</targetReference>
        </connector>
        <fields>
            <name>Message_0</name>
            <fieldText>&lt;p&gt;You are updating your General change request&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Display_Name_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Change.New_Name__c</elementReference>
            </defaultValue>
            <fieldText>Product Display Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Landing_Page_URL_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Change.Landing_Page_URL__c</elementReference>
            </defaultValue>
            <fieldText>Landing Page URL</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;No Spaces&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;No Spaces. Must start with http:// or https://&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
NOT(CONTAINS({!Landing_Page_URL_0},&quot; &quot;)), 
OR( 
LEFT({!Landing_Page_URL_0},7) = &quot;http://&quot; ,
LEFT({!Landing_Page_URL_0},8) = &quot;https://&quot;))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Long_Description_0</name>
            <defaultValue>
                <stringValue>{!Get_Change.Long_Description__c}</stringValue>
            </defaultValue>
            <fieldText>Long Description - 1115 characters max</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BooksOfferedDisplay_0</name>
            <fieldText>&lt;p&gt;Books Offered: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!varAccount.Partner__r.Books_Offered__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;New Books in change request already:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Change.Books_Offered__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewBooksOffered_0</name>
            <choiceReferences>Books</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Highlight to add new books offered</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <helpText>&lt;p&gt;Hold CTRL to select multiple options.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cost_Display_0</name>
            <fieldText>&lt;p&gt;Current Costs: {!varAccount.Affordability_cost__c}&lt;/p&gt;&lt;p&gt;New costs in change request:&lt;/p&gt;&lt;p&gt;{!Get_Change.Costs__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cost_0</name>
            <choiceReferences>AffordabilityCostChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Check to add new cost options</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MainType_0</name>
            <choiceReferences>PartnerTypes</choiceReferences>
            <choiceReferences>newTypeChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>newTypeChoice</defaultSelectedChoiceReference>
            <fieldText>What is the main capability of the platform?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Default is what exists in the change request already.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Supports_higher_ed_customers_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Change.Instructional_Level_Higher_Ed__c</elementReference>
            </defaultValue>
            <fieldText>Supports higher ed customers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Supports_K12_customers_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Change.Instructional_Level_K12__c</elementReference>
            </defaultValue>
            <fieldText>Supports K12 customers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>International_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Change.International__c</elementReference>
            </defaultValue>
            <fieldText>Available for users outside of the US</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_institutional_pricing_available_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Change.Affordability_Institutional__c</elementReference>
            </defaultValue>
            <fieldText>Is institutional pricing available?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_there_an_app_available_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Change.App_available__c</elementReference>
            </defaultValue>
            <fieldText>Is there an app available?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>9</locationX>
        <locationY>677</locationY>
        <connector>
            <targetReference>Partner_Find</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Partner_Find</name>
        <label>Partner Find</label>
        <locationX>482</locationX>
        <locationY>696</locationY>
        <connector>
            <targetReference>varAccount</targetReference>
        </connector>
        <flowName>Partner_Find_School</flowName>
        <inputAssignments>
            <name>varUserId</name>
            <value>
                <elementReference>fUserId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <name>varAccountID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChange</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner_Change__c</objectType>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
