unpackaged/main/default/flows/Partner_Review_Before_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Contact</name>
        <label>Assign Contact</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Partner_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_0</name>
        <label>Assign Contact</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Partner_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Partner_Email</name>
        <label>Set Partner Email</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.Partner_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner__r.Email_for_Leads__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Was_Contact_Found</name>
        <label>Was Contact Found?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact</targetReference>
            </connector>
            <label>Yup</label>
        </rules>
    </decisions>
    <description>Now searching UUID instead of ID</description>
    <interviewLabel>Partner Review Before Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Review Before Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Accounts_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OS_Accounts_UUID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Accounts_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OS_Accounts_UUID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <object>Partner_Review__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varTestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
