unpackaged/main/default/flows/Partner_Review_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Appoved_Email_to_Reviewer</name>
        <label>Appoved Email to Reviewer</label>
        <locationX>644</locationX>
        <locationY>1151</locationY>
        <actionName>Partner_Review__c.Partner_Review_Approved_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Approved_Email_to_Partner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Approved_Email_to_Partner</name>
        <label>Approved Email to Partner</label>
        <locationX>644</locationX>
        <locationY>1271</locationY>
        <actionName>Partner_Review__c.Partner_Review_Approved_to_Partner_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Has_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Rejected_Email</name>
        <label>Rejected Email</label>
        <locationX>1018</locationX>
        <locationY>1031</locationY>
        <actionName>Partner_Review__c.Partner_Review_Rejected_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Partner_Review</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Responded_Email</name>
        <label>Responded Email</label>
        <locationX>534</locationX>
        <locationY>575</locationY>
        <actionName>Partner_Review__c.Partner_Review_Responded_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Status_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Review_Received_Email</name>
        <label>Review Received Email</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <actionName>Partner_Review__c.Partner_Review_Received_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Reset_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_PP</name>
        <label>Assign PP</label>
        <locationX>578</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>varPP.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPP.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Partner_Object__r.Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPP.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Using Partner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PP_0</name>
        <label>Assign PP</label>
        <locationX>314</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>Search_PP.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Using Partner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_review</name>
        <label>Clear review</label>
        <locationX>1018</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pending_Customer_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rejected_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Move_values</name>
        <label>Move values</label>
        <locationX>644</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approved_Customer_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pending_Customer_Review__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Move_values_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Move_values_0</name>
        <label>Move values</label>
        <locationX>644</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pending_Customer_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Appoved_Email_to_Reviewer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Response</name>
        <label>Reset Response</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.Partner_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Response_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BlankDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Approved_Customer_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Partner_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_0</name>
        <label>Update Status</label>
        <locationX>534</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Partner_Response_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Responded_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Contact</name>
        <label>Has Contact</label>
        <locationX>644</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>Update_Partner_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_PP</targetReference>
            </connector>
            <label>Yes Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_responded_to_0</name>
        <label>Is it responded to</label>
        <locationX>666</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Status_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed</defaultConnectorLabel>
        <rules>
            <name>Response_present_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Response__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved_Customer_Review__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Response present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Check</name>
        <label>Status Check</label>
        <locationX>666</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Update_Partner_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StatusNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Received_Email</targetReference>
            </connector>
            <label>StatusNew</label>
        </rules>
        <rules>
            <name>StatusApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_values</targetReference>
            </connector>
            <label>StatusApproved</label>
        </rules>
        <rules>
            <name>StatusRejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_review</targetReference>
            </connector>
            <label>StatusRejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_PP_Found</name>
        <label>Was PP Found</label>
        <locationX>446</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Assign_PP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_PP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PP_0</targetReference>
            </connector>
            <label>Yes Found</label>
        </rules>
    </decisions>
    <description>Creates/Updates Partner  Product when using</description>
    <formulas>
        <name>BlankDate</name>
        <dataType>Date</dataType>
        <expression>{!$User.BlankDate__c}</expression>
    </formulas>
    <interviewLabel>Partner Review Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Review Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PP</name>
        <label>Create PP</label>
        <locationX>578</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Update_Partner_Review</targetReference>
        </connector>
        <inputReference>varPP</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Search_PP</name>
        <label>Search PP</label>
        <locationX>446</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_PP_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Partner_Review</name>
        <label>Update Partner Review</label>
        <locationX>666</locationX>
        <locationY>2279</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePP</name>
        <label>UpdatePP</label>
        <locationX>314</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Update_Partner_Review</targetReference>
        </connector>
        <inputReference>Search_PP</inputReference>
    </recordUpdates>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_it_responded_to_0</targetReference>
        </connector>
        <object>Partner_Review__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varPP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner_Product__c</objectType>
    </variables>
    <variables>
        <name>varTestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
