unpackaged/main/default/flows/Partner_Media_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Partner_Change</name>
        <label>Set Partner Change</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>sObjPartnerChange.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Media</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjPartnerChange.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjPartnerChange.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Partner_Change</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>fUserID</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varUserID}), {!$User.Id}, {!varUserID} )</expression>
    </formulas>
    <interviewLabel>Partner Media Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Media Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Partner_Change</name>
        <label>Create Partner Change</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>UploadScreen</targetReference>
        </connector>
        <inputReference>sObjPartnerChange</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UploadScreen_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ertberb</name>
        <label>ertberb</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>jhvc</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Your file(s) has been uploaded and will be updated shortly in Tech Scout, pending approval.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Logo: {!logoUpload.fileNames}&lt;/p&gt;&lt;p&gt;Images: {!imageUpload.fileNames}&lt;/p&gt;&lt;p&gt;Videos: {!videoUpload.fileNames}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UploadScreen</name>
        <label>Upload Screen</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ertberb</targetReference>
        </connector>
        <fields>
            <name>logodisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Upload logo&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please upload .png with transparent background&lt;/span&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;. Please include the word &quot;logo&quot; in the file name.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>logoUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Logo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sObjPartnerChange.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.png</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Success1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Your file(s) has been uploaded and will be updated shortly in Tech Scout, pending approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>logoUpload.fileNames</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>imagesdisplay</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: transparent;&quot;&gt;Upload images&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: transparent;&quot;&gt;Upload up to 5 images or screenshots to display in OpenStax Tech Scout. Must be .png or .jpg format (width 800 px)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>imageUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Images</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sObjPartnerChange.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.png, .jpeg, .jpg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Success2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Your file(s) has been uploaded and will be updated shortly in Tech Scout, pending approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>imageUpload.fileNames</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>videodisplay</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Upload video&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Upload up to 2 videos to display in the OpenStax &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Tech Scout&lt;/span&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;. Must be .mpeg4 or .mp4 format (width 800px)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>videoUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Video</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sObjPartnerChange.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.mpeg4, .mp4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>success3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your file(s) has been uploaded and will be updated shortly in Tech Scout, pending approval.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>videoUpload.fileNames</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <helpText>&lt;p&gt;ISBLANK({!logoUpload.fileNames})&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UploadScreen_0</name>
        <label>Upload Screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Partner_Change</targetReference>
        </connector>
        <fields>
            <name>Intro</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Please click Next to upload files&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>logodisplay_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Logo - &lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please upload .png with transparent background&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>imagesdisplay_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: transparent; font-size: 16px;&quot;&gt;Images - &lt;/b&gt;&lt;span style=&quot;background-color: transparent; font-size: 16px;&quot;&gt;5 max, Must be .png or .jpg format&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>videodisplay_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Video - &lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;2 max&lt;/span&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;, &lt;/b&gt;&lt;span style=&quot;font-size: 16px; background-color: transparent; color: rgb(0, 0, 0);&quot;&gt;Must be .mpeg4 or .mp4 format&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>&lt;p&gt;ISBLANK({!logoUpload.fileNames})&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Partner_Find</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Partner_Find</name>
        <label>Partner Find</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <flowName>Partner_Find_School</flowName>
        <inputAssignments>
            <name>varUserId</name>
            <value>
                <elementReference>fUserID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <name>varAccountID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>colFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjPartnerChange</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner_Change__c</objectType>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
