unpackaged/main/default/flows/Partner_Change_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MergeBooks</name>
        <label>MergeBooks</label>
        <locationX>451</locationX>
        <locationY>791</locationY>
        <actionName>MSPLManagement</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Approval_Status_General_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>subjects1</name>
            <value>
                <elementReference>GetChange.Books_Offered__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjects2</name>
            <value>
                <elementReference>GetChange.Partner__r.Books_Offered__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>GetPartner.Books_Offered__c</assignToReference>
            <name>allSubjects</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>MergeCosts</name>
        <label>MergeCosts</label>
        <locationX>451</locationX>
        <locationY>1008</locationY>
        <actionName>MSPLManagement</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>General_Assign</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>subjects1</name>
            <value>
                <elementReference>GetChange.Costs__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjects2</name>
            <value>
                <elementReference>GetChange.Partner__r.Affordability_Cost__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>GetPartner.Affordability_Cost__c</assignToReference>
            <name>allSubjects</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>General_Assign</name>
        <label>General Assign</label>
        <locationX>227</locationX>
        <locationY>1134</locationY>
        <assignmentItems>
            <assignToReference>GetPartner.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetChange.New_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPartner.Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetChange.Landing_Page_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPartner.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetChange.Long_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPartner.Partner_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetChange.Main_Partner_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPartner.Instructional_level_higher_ed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetChange.Instructional_Level_Higher_Ed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPartner.Instructional_level_K12__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetChange.Instructional_Level_K12__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPartner.International__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetChange.International__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPartner.Affordability_Institutional__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetChange.Affordability_Institutional__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPartner.App_available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetChange.App_available__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Update_General</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Partner</name>
        <label>Set Partner</label>
        <locationX>1102</locationX>
        <locationY>962</locationY>
        <assignmentItems>
            <assignToReference>GetPartner.Equity_configure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetChange.Equity_configure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPartner.Equity_data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetChange.Equity_data__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPartner.Equity_language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetChange.Equity_language__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPartner.Equity_relevant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetChange.Equity_relevant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPartner.Equity_research__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetChange.Equity_research__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPartner.Equity_stories__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetChange.Equity_stories__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Partner_Update_General_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approve</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Approval_Status_General</name>
        <label>Approval Status</label>
        <locationX>216</locationX>
        <locationY>697</locationY>
        <defaultConnector>
            <targetReference>Update_Partner_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Approve_Book</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetChange.Books_Offered__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MergeBooks</targetReference>
            </connector>
            <label>Approve-Book</label>
        </rules>
        <rules>
            <name>ApproveNormal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Status_General_0</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_Status_General_0</name>
        <label>Approval Status</label>
        <locationX>215</locationX>
        <locationY>888</locationY>
        <defaultConnector>
            <targetReference>General_Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Costs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetChange.Costs__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MergeCosts</targetReference>
            </connector>
            <label>Costs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_Status_General_0_0</name>
        <label>Approval Status</label>
        <locationX>1094</locationX>
        <locationY>710</locationY>
        <defaultConnector>
            <targetReference>Update_Partner_Change_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>ApproveNormal_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Partner</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type</name>
        <label>Type</label>
        <locationX>603</locationX>
        <locationY>520</locationY>
        <defaultConnector>
            <targetReference>Other_response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Everyone Else</defaultConnectorLabel>
        <rules>
            <name>General</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetChange.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Changes</targetReference>
            </connector>
            <label>General</label>
        </rules>
        <rules>
            <name>Equity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetChange.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Changes_0</targetReference>
            </connector>
            <label>Equity</label>
        </rules>
    </decisions>
    <description>Updated for Partner object</description>
    <formulas>
        <name>fAppSame</name>
        <dataType>Boolean</dataType>
        <expression>{!GetChange.App_available__c} = {!GetChange.Partner__r.App_available__c}</expression>
    </formulas>
    <formulas>
        <name>fEquityConfigure</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!GetPartner.Equity_configure__c})=TEXT({!GetChange.Equity_configure__c})</expression>
    </formulas>
    <formulas>
        <name>fEquityData</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!GetChange.Equity_data__c})=TEXT({!GetPartner.Equity_data__c})</expression>
    </formulas>
    <formulas>
        <name>fEquityLanguage</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!GetChange.Equity_language__c}) = TEXT({!GetPartner.Equity_language__c})</expression>
    </formulas>
    <formulas>
        <name>fEquityRelevant</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!GetChange.Equity_relevant__c})=TEXT({!GetPartner.Equity_relevant__c})</expression>
    </formulas>
    <formulas>
        <name>fEquityResearch</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!GetChange.Equity_research__c})=TEXT({!GetPartner.Equity_research__c})</expression>
    </formulas>
    <formulas>
        <name>fEquityStories</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!GetChange.Equity_stories__c})=TEXT({!GetPartner.Equity_stories__c})</expression>
    </formulas>
    <formulas>
        <name>fHigherEdSame</name>
        <dataType>Boolean</dataType>
        <expression>{!GetChange.Instructional_Level_Higher_Ed__c} ={!GetChange.Partner__r.Instructional_level_higher_ed__c}</expression>
    </formulas>
    <formulas>
        <name>fInstitutionalPricingSame</name>
        <dataType>Boolean</dataType>
        <expression>{!GetChange.Affordability_Institutional__c} = {!GetChange.Partner__r.Affordability_Institutional__c}</expression>
    </formulas>
    <formulas>
        <name>fInternationalSame</name>
        <dataType>Boolean</dataType>
        <expression>{!GetChange.International__c}= {!GetChange.Partner__r.International__c}</expression>
    </formulas>
    <formulas>
        <name>fK12Same</name>
        <dataType>Boolean</dataType>
        <expression>{!GetChange.Instructional_Level_K12__c} = {!GetChange.Partner__r.Instructional_level_K12__c}</expression>
    </formulas>
    <formulas>
        <name>fPartnerTypeSame</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!GetChange.Main_Partner_Type__c}) = TEXT({!GetChange.Partner__r.Partner_Type__c})</expression>
    </formulas>
    <interviewLabel>Partner Change Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Change Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetChange</name>
        <label>GetChange</label>
        <locationX>611</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPartner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner_Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPartner</name>
        <label>GetPartner</label>
        <locationX>613</locationX>
        <locationY>355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetChange.Partner__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Partner_Update_General</name>
        <label>Partner Update</label>
        <locationX>50</locationX>
        <locationY>1133</locationY>
        <connector>
            <targetReference>Update_Partner_Change</targetReference>
        </connector>
        <inputReference>GetPartner</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Partner_Update_General_0</name>
        <label>Partner Update</label>
        <locationX>871</locationX>
        <locationY>962</locationY>
        <connector>
            <targetReference>Update_Partner_Change_0</targetReference>
        </connector>
        <inputReference>GetPartner</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Partner_Change</name>
        <label>Update Partner Change</label>
        <locationX>50</locationX>
        <locationY>842</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetChange.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </inputAssignments>
        <object>Partner_Change__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Partner_Change_0</name>
        <label>Update Partner Change</label>
        <locationX>871</locationX>
        <locationY>711</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetChange.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </inputAssignments>
        <object>Partner_Change__c</object>
    </recordUpdates>
    <screens>
        <name>Other_response</name>
        <label>Other response</label>
        <locationX>612</locationX>
        <locationY>765</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Other_Display</name>
            <fieldText>&lt;p&gt;No fields to approve, just look at the files to the right.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Partner_Changes</name>
        <label>Partner Changes</label>
        <locationX>224</locationX>
        <locationY>515</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Approval_Status_General</targetReference>
        </connector>
        <fields>
            <name>Select</name>
            <choiceReferences>Approve</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Partner_Changes_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Changes_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TopName</name>
                    <fieldText>&lt;p&gt;Name&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Old</name>
                    <fieldText>&lt;p&gt;Old&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New</name>
                    <fieldText>&lt;p&gt;New&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Partner_Changes_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Changes_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PartnerName</name>
                    <fieldText>&lt;p&gt;Partner Name&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OldName</name>
                    <fieldText>&lt;p&gt;{!GetChange.Partner__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewName</name>
                    <fieldText>&lt;p&gt;{!GetChange.New_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetChange.New_Name__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>GetPartner.Name</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Partner_Changes_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Changes_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Website</name>
                    <fieldText>&lt;p&gt;Website&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OldURL</name>
                    <fieldText>&lt;p&gt;{!GetChange.Partner__r.Website__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewURL</name>
                    <fieldText>&lt;p&gt;{!GetChange.Landing_Page_URL__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetChange.Landing_Page_URL__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>GetPartner.Website__c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Partner_Changes_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Changes_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description</name>
                    <fieldText>&lt;p&gt;Description&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>oldDescription</name>
                    <fieldText>&lt;p&gt;{!GetChange.Partner__r.Description__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newDescription</name>
                    <fieldText>&lt;p&gt;{!GetChange.Long_Description__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetChange.Long_Description__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>GetPartner.Description__c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Partner_Changes_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Changes_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BooksOffered</name>
                    <fieldText>&lt;p&gt;Books Offered (All will be combined)&lt;/p&gt;&lt;p&gt;To remove books see the partner guide.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>oldBooks</name>
                    <fieldText>&lt;p&gt;{!GetChange.Partner__r.Books_Offered__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newBooks</name>
                    <fieldText>&lt;p&gt;{!GetChange.Books_Offered__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetChange.Books_Offered__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Partner_Changes_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Changes_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost</name>
                    <fieldText>&lt;p&gt;Affordability Cost (All will be combined)&lt;/p&gt;&lt;p&gt;To remove just go to the record page and remove.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>oldCosts</name>
                    <fieldText>&lt;p&gt;{!GetChange.Partner__r.Affordability_Cost__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newCosts</name>
                    <fieldText>&lt;p&gt;{!GetChange.Costs__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetChange.Costs__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Partner_Changes_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Changes_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PartnerType</name>
                    <fieldText>&lt;p&gt;PartnerType&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>oldMainType</name>
                    <fieldText>&lt;p&gt;{!GetChange.Partner__r.Partner_Type__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newMainType</name>
                    <fieldText>&lt;p&gt;{!GetChange.Main_Partner_Type__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fPartnerTypeSame</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Partner_Changes_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Changes_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HigherEd</name>
                    <fieldText>&lt;p&gt;Higher Ed&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>oldHigherEd</name>
                    <fieldText>&lt;p&gt;{!GetChange.Partner__r.Instructional_level_higher_ed__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newHigherEd</name>
                    <fieldText>&lt;p&gt;{!GetChange.Instructional_Level_Higher_Ed__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fHigherEdSame</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Partner_Changes_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Changes_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>K12</name>
                    <fieldText>&lt;p&gt;K12&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>oldK12</name>
                    <fieldText>&lt;p&gt;{!GetChange.Partner__r.Instructional_level_K12__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section9_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newK12</name>
                    <fieldText>&lt;p&gt;{!GetChange.Instructional_Level_K12__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fK12Same</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Partner_Changes_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Changes_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>International</name>
                    <fieldText>&lt;p&gt;International&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>oldInternational</name>
                    <fieldText>&lt;p&gt;{!GetChange.Partner__r.International__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section10_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newInternational</name>
                    <fieldText>&lt;p&gt;{!GetChange.International__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fInternationalSame</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Partner_Changes_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Changes_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InstitutionalPricing</name>
                    <fieldText>&lt;p&gt;Institutional Pricing&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>oldInstitutionalPricing</name>
                    <fieldText>&lt;p&gt;{!GetChange.Partner__r.Affordability_Institutional__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section11_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newInstitutionalPricing</name>
                    <fieldText>&lt;p&gt;{!GetChange.Affordability_Institutional__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fInstitutionalPricingSame</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Partner_Changes_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Changes_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>App</name>
                    <fieldText>&lt;p&gt;App Available&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>oldApp</name>
                    <fieldText>&lt;p&gt;{!GetChange.Partner__r.App_available__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_Section12_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newApp</name>
                    <fieldText>&lt;p&gt;{!GetChange.App_available__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fAppSame</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Partner_Changes_0</name>
        <label>Partner Changes</label>
        <locationX>1102</locationX>
        <locationY>522</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Approval_Status_General_0_0</targetReference>
        </connector>
        <fields>
            <name>Select_0</name>
            <choiceReferences>Approve</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Partner_Changes_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Changes_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TopName_0</name>
                    <fieldText>&lt;p&gt;Name&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Old_0</name>
                    <fieldText>&lt;p&gt;Old&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_0_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_0</name>
                    <fieldText>&lt;p&gt;New&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Partner_Changes_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Changes_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EquityLanguage</name>
                    <fieldText>&lt;p&gt;Equity Language&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LanguageOld</name>
                    <fieldText>&lt;p&gt;{!GetPartner.Equity_language__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_0_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LanguageNew</name>
                    <fieldText>&lt;p&gt;{!GetChange.Equity_language__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>LanguageLong</name>
                    <fieldText>&lt;p&gt;{!GetChange.Equity_language_long__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fEquityLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Partner_Changes_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Changes_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EquityStories</name>
                    <fieldText>&lt;p&gt;Equity Stories&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_0_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StoriesOld</name>
                    <fieldText>&lt;p&gt;{!GetPartner.Equity_stories__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_0_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StoriesNew</name>
                    <fieldText>&lt;p&gt;{!GetChange.Equity_stories__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>StoriesLong</name>
                    <fieldText>&lt;p&gt;{!GetChange.Equity_stories_long__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fEquityStories</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Partner_Changes_0_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Changes_0_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EquityRelevant</name>
                    <fieldText>&lt;p&gt;Equity Relevant&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_0_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RelevantOld</name>
                    <fieldText>&lt;p&gt;{!GetPartner.Equity_relevant__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_0_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RelevantNew</name>
                    <fieldText>&lt;p&gt;{!GetChange.Equity_relevant__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>RelevantLong</name>
                    <fieldText>&lt;p&gt;{!GetChange.Equity_relevant_long__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fEquityRelevant</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Partner_Changes_0_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Changes_0_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EquityConfigure</name>
                    <fieldText>&lt;p&gt;Equity Configure&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_0_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ConfigureOld</name>
                    <fieldText>&lt;p&gt;{!GetPartner.Equity_configure__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_0_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ConfigureNew</name>
                    <fieldText>&lt;p&gt;{!GetChange.Equity_configure__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ConfigureLong</name>
                    <fieldText>&lt;p&gt;{!GetChange.Equity_configure_long__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fEquityConfigure</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Partner_Changes_0_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Changes_0_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EquityResearch</name>
                    <fieldText>&lt;p&gt;Equity Research&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_0_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ResearchOld</name>
                    <fieldText>&lt;p&gt;{!GetPartner.Equity_research__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_0_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ResearchNew</name>
                    <fieldText>&lt;p&gt;{!GetChange.Equity_research__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ResearchLong</name>
                    <fieldText>&lt;p&gt;{!GetChange.Equity_research_long__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fEquityResearch</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Partner_Changes_0_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Partner_Changes_0_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EquityData</name>
                    <fieldText>&lt;p&gt;Equity Data&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_0_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DataOld</name>
                    <fieldText>&lt;p&gt;{!GetPartner.Equity_data__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Partner_Changes_0_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DataNew</name>
                    <fieldText>&lt;p&gt;{!GetChange.Equity_data__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DataLong</name>
                    <fieldText>&lt;p&gt;{!GetChange.Equity_data_long__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fEquityData</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetChange</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
