unpackaged/main/default/flows/Partner_Equity_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Change_Assign</name>
        <label>Change Assign</label>
        <locationX>1218</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>varChange.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Equity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equity_language</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_stories__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equity_stories</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_relevant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equity_relevant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_configure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equity_configure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_research__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equity_research</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equity_data</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_language_long__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Further_Information_language</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_stories_long__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Further_Information_stories</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_relevant_long__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Further_Information_relevant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_configure_long__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Further_Information_configure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_research_long__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Further_Information_research</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_data_long__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Further_Information_data</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Partner_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Assign_0</name>
        <label>Change Assign</label>
        <locationX>1219</locationX>
        <locationY>927</locationY>
        <assignmentItems>
            <assignToReference>varChange.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Equity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Change.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equity_language_change</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_stories__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equity_stories_Change</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_relevant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equity_relevant_Change</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_configure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equity_configure_Change</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_research__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equity_research_Change</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equity_data_Change</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_language_long__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Further_Information_language_change</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_stories_long__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Further_Information_stories_change</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_relevant_long__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Further_Information_relevant_change</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_configure_long__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Further_Information_configure_change</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_research_long__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Further_Information_research_change</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varChange.Equity_data_long__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Further_Information_data_change</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Partner_Change</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Was_Duplicate_Found</name>
        <label>Was Duplicate Found?</label>
        <locationX>993</locationX>
        <locationY>698</locationY>
        <defaultConnector>
            <targetReference>Field_updates_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>Yes_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Change</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Field_updates_0_0</targetReference>
            </connector>
            <label>Yes Duplicate</label>
        </rules>
    </decisions>
    <description>Only slightly different with new partner object</description>
    <dynamicChoiceSets>
        <name>Equity_configure_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Equity_configure__c</picklistField>
        <picklistObject>Partner__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Equity_data_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Equity_data__c</picklistField>
        <picklistObject>Partner__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Equity_language_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Equity_language__c</picklistField>
        <picklistObject>Partner__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Equity_relevant_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Equity_relevant__c</picklistField>
        <picklistObject>Partner__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Equity_research_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Equity_research__c</picklistField>
        <picklistObject>Partner__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Equity_stories_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Equity_stories__c</picklistField>
        <picklistObject>Partner__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>fUserId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varUserId}), {!$User.Id},{!varUserId})</expression>
    </formulas>
    <interviewLabel>Partner Equity Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Equity Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Partner_Change</name>
        <label>Create Partner Change</label>
        <locationX>1439</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Media_Screen</targetReference>
        </connector>
        <inputReference>varChange</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Change</name>
        <label>Get Change</label>
        <locationX>842</locationX>
        <locationY>696</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Duplicate_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partner_Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>varAccount</name>
        <label>Get Account</label>
        <locationX>619</locationX>
        <locationY>696</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Partner_Change</name>
        <label>Update Partner Change</label>
        <locationX>1439</locationX>
        <locationY>927</locationY>
        <connector>
            <targetReference>Media_Screen</targetReference>
        </connector>
        <inputReference>varChange</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>EndScreen_0</name>
        <label>EndScreen</label>
        <locationX>1647</locationX>
        <locationY>702</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndScreenDisplay_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Your changes are pending approval and will be updated shortly&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Field_updates_0</name>
        <label>Field updates</label>
        <locationX>1001</locationX>
        <locationY>494</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_Assign</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;You are creating a new Equity change request&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Equity_language</name>
            <choiceReferences>Equity_language_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Equity_language__c</elementReference>
            </defaultValue>
            <fieldText>1. Product uses equity-minded language in directions, prompts, visuals, stories, examples, and other product attributes.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Further_Information_language</name>
            <fieldText>Further Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Equity_stories</name>
            <choiceReferences>Equity_stories_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Equity_stories__c</elementReference>
            </defaultValue>
            <fieldText>2. Product consistently includes images and stories that positively reflect students from a range of populations across race, income, and intersectional identities.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Further_Information_stories</name>
            <fieldText>Further Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Equity_relevant</name>
            <choiceReferences>Equity_relevant_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Equity_relevant__c</elementReference>
            </defaultValue>
            <fieldText>3. Product centers social, emotional, and academic supports that are culturally relevant and affirming to diverse student populations, and are customizable and embedded throughout the tool.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Further_Information_relevant</name>
            <fieldText>Further Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Equity_configure</name>
            <choiceReferences>Equity_configure_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Equity_configure__c</elementReference>
            </defaultValue>
            <fieldText>4. Learning activities can be configured and adapted in a multitude of ways to be culturally relevant to diverse student populations; e.g., creating and editing learning content and/ or assessments to adapt to various communications styles and prior learning experiences.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Further_Information_configure</name>
            <fieldText>Further Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Equity_research</name>
            <choiceReferences>Equity_research_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Equity_research__c</elementReference>
            </defaultValue>
            <fieldText>5. Research used to inform the design of the digital learning product (including use of AI and predictive analytics) is transparent and considers student populations by race and income.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Further_Information_research</name>
            <fieldText>Further Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Equity_data</name>
            <choiceReferences>Equity_data_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varAccount.Partner__r.Equity_data__c</elementReference>
            </defaultValue>
            <fieldText>6. Product provides student outcome data disaggregated by race and income and shares how this disaggregated data is incorporated into the design, implementation, and continuous improvement of the product.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Further_Information_data</name>
            <fieldText>Further Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Field_updates_0_0</name>
        <label>Field updates</label>
        <locationX>1001</locationX>
        <locationY>927</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_Assign_0</targetReference>
        </connector>
        <fields>
            <name>Message_0</name>
            <fieldText>&lt;p&gt;You are updating your Equity change request&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Equity_language_change</name>
            <choiceReferences>Equity_language_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Change.Equity_language__c</elementReference>
            </defaultValue>
            <fieldText>1. Product uses equity-minded language in directions, prompts, visuals, stories, examples, and other product attributes.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Further_Information_language_change</name>
            <defaultValue>
                <stringValue>{!varChange.Equity_language_long__c}</stringValue>
            </defaultValue>
            <fieldText>Further Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Equity_stories_Change</name>
            <choiceReferences>Equity_stories_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Change.Equity_stories__c</elementReference>
            </defaultValue>
            <fieldText>2. Product consistently includes images and stories that positively reflect students from a range of populations across race, income, and intersectional identities.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Further_Information_stories_change</name>
            <defaultValue>
                <stringValue>{!varChange.Equity_stories_long__c}</stringValue>
            </defaultValue>
            <fieldText>Further Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Equity_relevant_Change</name>
            <choiceReferences>Equity_relevant_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Change.Equity_relevant__c</elementReference>
            </defaultValue>
            <fieldText>3. Product centers social, emotional, and academic supports that are culturally relevant and affirming to diverse student populations, and are customizable and embedded throughout the tool.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Further_Information_relevant_change</name>
            <defaultValue>
                <stringValue>{!varChange.Equity_relevant_long__c}</stringValue>
            </defaultValue>
            <fieldText>Further Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Equity_configure_Change</name>
            <choiceReferences>Equity_configure_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Change.Equity_configure__c</elementReference>
            </defaultValue>
            <fieldText>4. Learning activities can be configured and adapted in a multitude of ways to be culturally relevant to diverse student populations; e.g., creating and editing learning content and/ or assessments to adapt to various communications styles and prior learning experiences.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Further_Information_configure_change</name>
            <defaultValue>
                <stringValue>{!varChange.Equity_configure_long__c}</stringValue>
            </defaultValue>
            <fieldText>Further Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Equity_research_Change</name>
            <choiceReferences>Equity_research_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Change.Equity_research__c</elementReference>
            </defaultValue>
            <fieldText>5. Research used to inform the design of the digital learning product (including use of AI and predictive analytics) is transparent and considers student populations by race and income.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Further_Information_research_change</name>
            <defaultValue>
                <stringValue>{!varChange.Equity_research_long__c}</stringValue>
            </defaultValue>
            <fieldText>Further Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Equity_data_Change</name>
            <choiceReferences>Equity_data_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Change.Equity_data__c</elementReference>
            </defaultValue>
            <fieldText>6. Product provides student outcome data disaggregated by race and income and shares how this disaggregated data is incorporated into the design, implementation, and continuous improvement of the product.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Further_Information_data_change</name>
            <defaultValue>
                <stringValue>{!varChange.Equity_data_long__c}</stringValue>
            </defaultValue>
            <fieldText>Further Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Media_Screen</name>
        <label>Media Screen</label>
        <locationX>1439</locationX>
        <locationY>702</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EndScreen_0</targetReference>
        </connector>
        <fields>
            <name>MediaScreenDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Please upload some images that count as evidence of your equity efforts. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Evidence_of_Equity</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Evidence of Equity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg, .jpeg, .gif</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Allowable formats: .jpg, .jpeg, .gif</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varChange.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Uploaded</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your file(s) has been uploaded.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Evidence_of_Equity.fileNames</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>9</locationX>
        <locationY>677</locationY>
        <connector>
            <targetReference>Partner_Find</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Partner_Find</name>
        <label>Partner Find</label>
        <locationX>410</locationX>
        <locationY>696</locationY>
        <connector>
            <targetReference>varAccount</targetReference>
        </connector>
        <flowName>Partner_Find_School</flowName>
        <inputAssignments>
            <name>varUserId</name>
            <value>
                <elementReference>fUserId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <name>varAccountID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChange</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner_Change__c</objectType>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
