unpackaged/main/default/flows/Partner_Lead_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_New_Receiver</name>
        <label>Set New Receiver</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>objPartnerNotificationReceiver.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPartnerNotificationReceiver.Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FrequencyInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPartnerNotificationReceiver.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPartnerNotificationReceiver.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Partner_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUpdate</name>
        <label>SetUpdate</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>objPartnerNotificationReceiver.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_email_to_edit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPartnerNotificationReceiver.Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FrequencyInput_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPartnerNotificationReceiver.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objPartnerNotificationReceiver.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Partner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Partner_Lead_Notification_Receiver</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddNewEmail</name>
        <choiceText>Add New Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <decisions>
        <name>New_Email</name>
        <label>New Email?</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>EupdateEmailScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Make_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_email_to_edit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewEmailScreen</targetReference>
            </connector>
            <label>Make New</label>
        </rules>
    </decisions>
    <description>Lets partners add new emails to receive leads</description>
    <dynamicChoiceSets>
        <name>Frequencies</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_Email_Frequency__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PartnerNotificationReceivers</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Partner_Notification__c</object>
        <outputAssignments>
            <assignToReference>varEmail</assignToReference>
            <field>Email__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>fUserId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varUserID}), {!$User.Id},{!varUserID})</expression>
    </formulas>
    <interviewLabel>Partner Lead Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Lead Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Partner_Notification</name>
        <label>Create Partner Notification</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <inputReference>objPartnerNotificationReceiver</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUser</name>
        <label>GetUser</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Email_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Partner_Lead_Notification_Receiver</name>
        <label>Update Partner Lead Notification Receiver</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <inputReference>objPartnerNotificationReceiver</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>EupdateEmailScreen</name>
        <label>EupdateEmailScreen</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetUpdate</targetReference>
        </connector>
        <fields>
            <name>Email_0</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varEmail</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FrequencyInput_0</name>
            <choiceReferences>Frequencies</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Frequency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NewEmailScreen</name>
        <label>NewEmailScreen</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_New_Receiver</targetReference>
        </connector>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>$User.Email</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FrequencyInput</name>
            <choiceReferences>Frequencies</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Frequency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Which_Email_Screen</name>
        <label>Which Email Screen</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Email</targetReference>
        </connector>
        <fields>
            <name>Which_email_to_edit</name>
            <choiceReferences>PartnerNotificationReceivers</choiceReferences>
            <choiceReferences>AddNewEmail</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which email to edit</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Partner_Child</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Find_Partner_Child</name>
        <label>Find Partner Child</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <flowName>Partner_Find_School</flowName>
        <inputAssignments>
            <name>varUserId</name>
            <value>
                <elementReference>fUserId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <name>varAccountID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>objPartnerNotificationReceiver</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Partner_Notification__c</objectType>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
