unpackaged/main/default/flows/Reported_Adoptions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parse_JSONString</name>
        <label>Parse JSONString</label>
        <locationX>418</locationX>
        <locationY>398</locationY>
        <actionName>AdoptionsJSON_Parser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>isNew</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>GetContact.AdoptionsJSON__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>parsedAdoptions</assignToReference>
            <name>resultAdoptions</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>use this to bail out of the flow if the string is Empty</description>
        <name>Bail_out</name>
        <label>Bail out</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Parse_JSONString</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed</defaultConnectorLabel>
        <rules>
            <name>Bail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContact.AdoptionsJSON__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Empty</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContact.AdoptionsJSON__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Bail</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the AdoptionJSON String new</description>
        <name>isNew</name>
        <label>isNew</label>
        <locationX>418</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parsedAdoptions.Books</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Books</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Allow passing in string</description>
    <interviewLabel>Reported Adoptions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process JSON Flow</label>
    <loops>
        <description>Look through books list</description>
        <name>Loop_through_Books</name>
        <label>Loop through Books</label>
        <locationX>286</locationX>
        <locationY>638</locationY>
        <collectionReference>parsedAdoptions.Books</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Opps</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Contact to be Processed</description>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bail_out</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Build_Opps</name>
        <label>Build Opps</label>
        <locationX>374</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Loop_through_Books</targetReference>
        </connector>
        <flowName>Build_Better_Opportunities</flowName>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <elementReference>GetContact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varBookID</name>
            <value>
                <elementReference>Loop_through_Books.bookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContactID</name>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContactName</name>
            <value>
                <elementReference>GetContact.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCSD</name>
            <value>
                <elementReference>varCSD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDesc</name>
            <value>
                <stringValue>Adoption Form Filled out (JSON)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLeadSource</name>
            <value>
                <stringValue>OS Interest Form</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStage</name>
            <value>
                <stringValue>Confirmed Adoption Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStudents</name>
            <value>
                <elementReference>Loop_through_Books.students</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCSD</assignToReference>
            <name>varCSD</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BookOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to hold AdoptionJSON from Contact</description>
        <name>JSONString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parsedAdoptions</name>
        <apexClass>AdoptionsJSON</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCSD</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
