unpackaged/main/default/flows/Resource_Flow_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assignment_Resource_Missing_Contact</name>
        <label>Assignment - Resource - Missing Contact</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>$Record.Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Contact Found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Original_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iterate_Found</name>
        <label>Iterate Found</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>Find_Duplicate.Number_of_times_accessed__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Duplicate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact</name>
        <label>Set Contact</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Original_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Original_Count</name>
        <label>Set Original Count</label>
        <locationX>644</locationX>
        <locationY>1583</locationY>
        <assignmentItems>
            <assignToReference>$Record.Number_of_times_accessed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_This</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Resource_Name_0</name>
        <label>Set Resource Name</label>
        <locationX>215</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Book__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Duplicate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Name_Blank_0</name>
        <label>Is Name Blank?</label>
        <locationX>347</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Find_Duplicate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yes_Blank_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a29</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Resource_Name_0</targetReference>
            </connector>
            <label>Yes Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Contact</name>
        <label>Is there a Contact?</label>
        <locationX>644</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Set_Original_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed</defaultConnectorLabel>
        <rules>
            <name>Needs_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Needs Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_contact_Found</name>
        <label>Was contact Found?</label>
        <locationX>446</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Assignment_Resource_Missing_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Duplicate_Found</name>
        <label>Was Duplicate Found?</label>
        <locationX>347</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Is_there_a_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New</defaultConnectorLabel>
        <rules>
            <name>FoundDup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Duplicate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Found</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>stopped overwriting names with book</description>
    <interviewLabel>Resource Flow Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resource Flow Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_this</name>
        <label>Delete this</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Find_Duplicate</name>
        <label>Find Duplicate</label>
        <locationX>347</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Duplicate_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Book__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Accounts_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Accounts_UUID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>446</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_contact_Found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Accounts_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Accounts_UUID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Duplicate</name>
        <label>Update Duplicate</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Delete_this</targetReference>
        </connector>
        <inputReference>Find_Duplicate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_This</name>
        <label>Update This</label>
        <locationX>644</locationX>
        <locationY>1703</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Name_Blank_0</targetReference>
        </connector>
        <object>Resource__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
