unpackaged/main/default/flows/Rollover_Opps_Auto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Does_opp_need_to_be_renewed</name>
        <label>Does opp need to be renewed</label>
        <locationX>417</locationX>
        <locationY>255</locationY>
        <defaultConnector>
            <targetReference>Update_Opp2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope - End</defaultConnectorLabel>
        <rules>
            <name>Department</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpp.Department_Adoption__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp2</targetReference>
            </connector>
            <label>Department</label>
        </rules>
        <rules>
            <name>Yes_needs_renewed</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>varOpp.Renewal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Needs Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpp.Last_In_Touch_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateValue>2018-06-30</dateValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOpp.Recent_Resource_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateValue>2018-06-30</dateValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp</targetReference>
            </connector>
            <label>Yes needs renewed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dup_Check</name>
        <label>Dup Check</label>
        <locationX>607</locationX>
        <locationY>255</locationY>
        <defaultConnector>
            <targetReference>New_ClassStartDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDupOppID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Dupe</targetReference>
            </connector>
            <label>Duplicate Found</label>
        </rules>
    </decisions>
    <description>recent resource date</description>
    <formulas>
        <name>fCurrentDate</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Flow.CurrentDate}))
&amp;&quot;-&quot;&amp;
IF(LEN(TEXT(MONTH({!$Flow.CurrentDate})))&lt;2,&quot;0&quot;,&quot;&quot;)&amp;TEXT(MONTH({!$Flow.CurrentDate}))
&amp;&quot;-&quot;&amp;
IF(LEN(TEXT(DAY({!$Flow.CurrentDate})))&lt;2,&quot;0&quot;,&quot;&quot;)&amp;TEXT(DAY({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>fDescription</name>
        <dataType>String</dataType>
        <expression>{!fCurrentDate}&amp;&quot;, &quot;&amp;{!$User.FirstName}&amp;{!$User.LastName}&amp;&quot;, &quot;&amp;&quot; Rollover &quot;&amp;SUBSTITUTE({!$Label.NewLine},&quot;-&quot;,&quot;&quot;)&amp;{!varOpp.Description}</expression>
    </formulas>
    <formulas>
        <name>fDupCheck</name>
        <dataType>String</dataType>
        <expression>LEFT({!varOpp.sort__c}, LEN({!varOpp.sort__c})-4)&amp;TEXT({!varOpp.Base_Year__c}+1)</expression>
    </formulas>
    <formulas>
        <name>fDupType</name>
        <dataType>String</dataType>
        <expression>IF( {!varDupType} = &quot;Renewal - Verified&quot; , {!varDupType} , &quot;Renewal&quot;)</expression>
    </formulas>
    <formulas>
        <name>fFutureBaseYear</name>
        <dataType>Number</dataType>
        <expression>{!varOpp.Base_Year__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Rollover Opps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rollover Opps Auto</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_duplicate</name>
        <label>Find duplicate</label>
        <locationX>615</locationX>
        <locationY>103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dup_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpp.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Base_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fFutureBaseYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>Book_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpp.Book_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpp.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>sort__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fDupCheck</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varDupOppID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDupType</assignToReference>
            <field>Type</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_full_Opp</name>
        <label>Get full Opp</label>
        <locationX>259</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_opp_need_to_be_renewed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>varOpp</outputReference>
        <queriedFields>Renewal_Status__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>AccountName__c</queriedFields>
        <queriedFields>Book_ID__c</queriedFields>
        <queriedFields>Book_Text__c</queriedFields>
        <queriedFields>Class_Start_Date__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Contact_Name__c</queriedFields>
        <queriedFields>Department_Adoption__c</queriedFields>
        <queriedFields>Department_Total__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>FromTutorTemp__c</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Student_No_Status__c</queriedFields>
        <queriedFields>Students__c</queriedFields>
        <queriedFields>Time_Period__c</queriedFields>
        <queriedFields>sort__c</queriedFields>
        <queriedFields>Base_Year__c</queriedFields>
        <queriedFields>Max_Student_Number__c</queriedFields>
        <queriedFields>Last_In_Touch_Date__c</queriedFields>
        <queriedFields>Recent_Resource_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>New_ClassStartDate</name>
        <label>New ClassStartDate</label>
        <locationX>794</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Better_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Beginning__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>varOpp.Class_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fall</stringValue>
            </value>
        </filters>
        <object>CSD__mdt</object>
        <outputAssignments>
            <assignToReference>varCSD</assignToReference>
            <field>Date__c</field>
        </outputAssignments>
        <sortField>Date__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Dupe</name>
        <label>Update Dupe</label>
        <locationX>619</locationX>
        <locationY>476</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDupOppID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Need_Rollup__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>varOpp.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>fDupType</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>425</locationX>
        <locationY>103</locationY>
        <connector>
            <targetReference>Find_duplicate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Renewal_Status__c</field>
            <value>
                <stringValue>Done Renewed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp2</name>
        <label>Update Opp</label>
        <locationX>428</locationX>
        <locationY>508</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Renewal_Status__c</field>
            <value>
                <stringValue>Dropped</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_full_Opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Build_Better_Opportunities</name>
        <label>Build Better Opportunities</label>
        <locationX>967</locationX>
        <locationY>256</locationY>
        <flowName>Build_Better_Opportunities</flowName>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <elementReference>varOpp.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountName</name>
            <value>
                <elementReference>varOpp.AccountName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varBookID</name>
            <value>
                <elementReference>varOpp.Book_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varBookName</name>
            <value>
                <elementReference>varOpp.Book_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCSD</name>
            <value>
                <elementReference>varCSD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContactID</name>
            <value>
                <elementReference>varOpp.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContactName</name>
            <value>
                <elementReference>varOpp.Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDept</name>
            <value>
                <elementReference>varOpp.Department_Adoption__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDeptTotal</name>
            <value>
                <elementReference>varOpp.Department_Total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varDesc</name>
            <value>
                <elementReference>fDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFromTutor</name>
            <value>
                <elementReference>varOpp.FromTutorTemp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varLeadSource</name>
            <value>
                <elementReference>varOpp.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStage</name>
            <value>
                <elementReference>varOpp.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStudentNoStatus</name>
            <value>
                <elementReference>varOpp.Student_No_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStudents</name>
            <value>
                <elementReference>varOpp.Max_Student_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTimePeriod</name>
            <value>
                <elementReference>varOpp.Time_Period__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varCSD</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDupOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDupType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
