unpackaged/main/default/flows/Tutor_Course_Flow_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Opp_Student_Numbers</name>
        <label>Set Opp Student Numbers</label>
        <locationX>1054</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>Get_Opp.Tutor_Students_Comped__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStudentsCompedNum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opp.Tutor_Students_Paid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStudentsPaidNum</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp_with_Student_Numbers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Student_Numbers</name>
        <label>Set Student Numbers</label>
        <locationX>854</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>varStudentsCompedNum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Tutor_Courses.Students_Comped__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStudentsPaidNum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Tutor_Courses.Students_Paid__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tutor_Courses</targetReference>
        </connector>
    </assignments>
    <description>Sums numbers from tutor course to opportunity</description>
    <interviewLabel>Tutor Course Flow Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tutor Course Flow Trigger</label>
    <loops>
        <name>Tutor_Courses</name>
        <label>Tutor Courses</label>
        <locationX>856</locationX>
        <locationY>291</locationY>
        <collectionReference>Get_All_Tutor_Course_Sections</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Student_Numbers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Opp_Student_Numbers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Tutor_Course_Sections</name>
        <label>Get All Tutor Course Sections</label>
        <locationX>704</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tutor_Courses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_UUID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tutor_Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opp</label>
        <locationX>523</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Tutor_Course_Sections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_with_Student_Numbers</name>
        <label>Update Opp with Student Numbers</label>
        <locationX>1244</locationX>
        <locationY>287</locationY>
        <inputReference>Get_Opp</inputReference>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>199</locationY>
        <connector>
            <targetReference>Get_Opp</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Students_Paid__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Students_Comped__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Tutor_Course__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varStudentsCompedNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varStudentsPaidNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
