unpackaged/main/default/flows/Tutor_Sub_Course_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Opp_and_Book_Ids</name>
        <label>Set Opp and Book Ids</label>
        <locationX>604</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>Sub_Course_Loop.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMainCourse.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sub_Course_Loop.Book__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMainCourse.Book__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Update_Col</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Update_Col</name>
        <label>Set Update Col</label>
        <locationX>605</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>colSubCoursesforUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sub_Course_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sub_Course_Loop</targetReference>
        </connector>
    </assignments>
    <description>Update sub courses with Opportunity and Book Id&apos;s</description>
    <formulas>
        <name>fBookId</name>
        <dataType>String</dataType>
        <expression>{!varMainCourse.Book__c}</expression>
    </formulas>
    <formulas>
        <name>fOppId</name>
        <dataType>String</dataType>
        <expression>{!varMainCourse.Opportunity__c}</expression>
    </formulas>
    <interviewLabel>Tutor Sub Course Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tutor Sub Course Flow</label>
    <loops>
        <name>Sub_Course_Loop</name>
        <label>Sub Course Loop</label>
        <locationX>261</locationX>
        <locationY>395</locationY>
        <collectionReference>colSubCourses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Opp_and_Book_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Sub_Courses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Sub_Courses</name>
        <label>Get Sub Courses</label>
        <locationX>262</locationX>
        <locationY>225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sub_Course_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_UUID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMainCourse.External_UUID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Tutor_Course__c</object>
        <outputReference>colSubCourses</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Book__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sub_Courses</name>
        <label>Update Sub Courses</label>
        <locationX>262</locationX>
        <locationY>677</locationY>
        <inputReference>colSubCoursesforUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>136</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_Sub_Courses</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colSubCourses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tutor_Course__c</objectType>
    </variables>
    <variables>
        <name>colSubCoursesforUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tutor_Course__c</objectType>
    </variables>
    <variables>
        <name>varMainCourse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Tutor_Course__c</objectType>
    </variables>
</Flow>
