unpackaged/main/default/flows/Tutor_Main_Course_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_Book_Id</name>
        <label>Set Book Id</label>
        <locationX>672</locationX>
        <locationY>273</locationY>
        <assignmentItems>
            <assignToReference>$Record.Book__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Book.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_Id</name>
        <label>Set Opp Id</label>
        <locationX>380</locationX>
        <locationY>747</locationY>
        <assignmentItems>
            <assignToReference>$Record.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Build_Opp.varOppID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Needs_Campaign</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>MainCampaignId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>7014C0000003f6oQAA</stringValue>
        </value>
    </constants>
    <constants>
        <name>NomadCampaignId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>7014C0000003ftHQAQ</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Book_Id</name>
        <label>Book Id?</label>
        <locationX>516</locationX>
        <locationY>139</locationY>
        <defaultConnector>
            <targetReference>Has_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proceed</defaultConnectorLabel>
        <rules>
            <name>Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Book__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Book</targetReference>
            </connector>
            <label>Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Opp</name>
        <label>Has Opp ?</label>
        <locationX>515</locationX>
        <locationY>330</locationY>
        <defaultConnector>
            <targetReference>Find_New_CSD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Preview_Course</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preview</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Needs_Campaign</targetReference>
            </connector>
            <label>Preview Course</label>
        </rules>
        <rules>
            <name>Yes_just_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Needs_Campaign</targetReference>
            </connector>
            <label>Yes, just update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Needs_Campaign</name>
        <label>Needs Campaign ?</label>
        <locationX>513</locationX>
        <locationY>846</locationY>
        <defaultConnector>
            <targetReference>Update_Tutor_Course_Section</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Carry On</defaultConnectorLabel>
        <rules>
            <name>Nope</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign_Member_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Tutor_Course_Section</targetReference>
            </connector>
            <label>Nope</label>
        </rules>
        <rules>
            <name>First</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_in_Main_Campaign</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_in_Main_Campaign</targetReference>
            </connector>
            <label>First</label>
        </rules>
        <rules>
            <name>Second</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_in_Nomad_Campaign</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_in_Nomad_Campaign</targetReference>
            </connector>
            <label>Second</label>
        </rules>
    </decisions>
    <description>Flow to process Tutor Course Sections where Main_Course = True
Then update the Sub Courses with the Opp and Book Id&apos;s</description>
    <formulas>
        <name>fContactName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Contact__r.Name}</expression>
    </formulas>
    <formulas>
        <name>fTerm</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Term__c})= &quot;Winter&quot;, &quot;Fall&quot;, TEXT({!$Record.Term__c}))</expression>
    </formulas>
    <formulas>
        <name>vAccountId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Contact__r.Account.Id}</expression>
    </formulas>
    <interviewLabel>Tutor Main Course Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tutor Main Course Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_New_CSD</name>
        <label>Find New CSD</label>
        <locationX>380</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Beginning__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Class_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fTerm</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CSD__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Book</name>
        <label>Get Book</label>
        <locationX>673</locationX>
        <locationY>135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Book_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Book_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Book__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_in_Main_Campaign</name>
        <label>Look in Main Campaign</label>
        <locationX>259</locationX>
        <locationY>849</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Needs_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MainCampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>varCampaignId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Look_in_Nomad_Campaign</name>
        <label>Look in Nomad Campaign</label>
        <locationX>794</locationX>
        <locationY>846</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Needs_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NomadCampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>varCampaignId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Tutor_Course_Section</name>
        <label>Update Tutor Course Section</label>
        <locationX>519</locationX>
        <locationY>1088</locationY>
        <connector>
            <targetReference>Process_Sub_Courses</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Book_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Main_Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Tutor_Course__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Build_Opp</name>
        <label>Build Opp</label>
        <locationX>380</locationX>
        <locationY>587</locationY>
        <connector>
            <targetReference>Set_Opp_Id</targetReference>
        </connector>
        <flowName>Build_Better_Opportunities</flowName>
        <inputAssignments>
            <name>varAccountID</name>
            <value>
                <elementReference>vAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varBookID</name>
            <value>
                <elementReference>$Record.Book__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContactID</name>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContactName</name>
            <value>
                <elementReference>fContactName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCSD</name>
            <value>
                <elementReference>Find_New_CSD.Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStudents</name>
            <value>
                <elementReference>$Record.Estimated_Enrollment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTutorStage</name>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Process_Sub_Courses</name>
        <label>Process Sub Courses</label>
        <locationX>519</locationX>
        <locationY>1309</locationY>
        <flowName>Tutor_Sub_Course_Flow</flowName>
        <inputAssignments>
            <name>varMainCourse</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
