unpackaged/main/default/flows/Weeklies_Base.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assignments</name>
        <label>Assignments</label>
        <locationX>675</locationX>
        <locationY>1441</locationY>
        <assignmentItems>
            <assignToReference>Get_Weekly.Fac_Verified_K12__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_K12_Faculty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Weekly.Fac_verified_Higher_Ed__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_HE_Faculty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Weekly.New_Renewals_K12__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Renew_Opps_K12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Weekly.New_Renewals_Higher_Ed__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Renew_Opps_HE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Weekly.New_Adopts_Higher_Ed__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Opps_HE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Weekly.New_Students_Higher_Ed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHEStudents</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Weekly.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Weekly.New_Students_K12__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varK12Students</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Weekly.New_Adopts_K12__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Opps_K12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Weekly.Fac_Verified_Other__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Other_Faculty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Weekly.New_Adopts_Other__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Opps_Other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Weekly.New_Renewals_Other__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Renew_Opps_Other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Weekly.New_Students_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOtherStudents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum</name>
        <label>Sum</label>
        <locationX>503</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>varHEStudents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOpps.Yearly_Students__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOpps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_0</name>
        <label>Sum</label>
        <locationX>682</locationX>
        <locationY>1010</locationY>
        <assignmentItems>
            <assignToReference>varK12Students</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOpps2.Yearly_Students__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOpps2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_0_0</name>
        <label>Sum</label>
        <locationX>880</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>varOtherStudents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOpps3.Yearly_Students__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOpps3</targetReference>
        </connector>
    </assignments>
    <description>Now with Other students</description>
    <formulas>
        <name>EndOfLastWeek</name>
        <dataType>Date</dataType>
        <expression>{!Get_Weekly.Recorded_Date__c}-1</expression>
    </formulas>
    <formulas>
        <name>fName</name>
        <dataType>String</dataType>
        <expression>TEXT({!StartOfLastWeek})&amp;&quot; - &quot;&amp;TEXT({!EndOfLastWeek})</expression>
    </formulas>
    <formulas>
        <name>StartOfLastWeek</name>
        <dataType>Date</dataType>
        <expression>{!Get_Weekly.Recorded_Date__c}-7</expression>
    </formulas>
    <interviewLabel>Weeklies Base {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Weeklies Base</label>
    <loops>
        <name>LoopOpps</name>
        <label>LoopOpps</label>
        <locationX>319</locationX>
        <locationY>803</locationY>
        <collectionReference>Get_Opps_HE</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opps_K12</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOpps2</name>
        <label>LoopOpps2</label>
        <locationX>509</locationX>
        <locationY>1010</locationY>
        <collectionReference>Get_Opps_K12</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Opps_Other</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOpps3</name>
        <label>LoopOpps3</label>
        <locationX>675</locationX>
        <locationY>1224</locationY>
        <collectionReference>Get_Opps_Other</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_HE_Faculty</name>
        <label>Get HE Faculty</label>
        <locationX>137</locationX>
        <locationY>448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_K12_Faculty</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 6) AND 4 AND 5</filterLogic>
        <filters>
            <field>Faculty_Confirmed_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartOfLastWeek</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>College/University (4)</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical/Community College (2)</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartOfLastWeek</elementReference>
            </value>
        </filters>
        <filters>
            <field>Faculty_Confirmed_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Get_Weekly.Recorded_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Career School/For-Profit (2)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_K12_Faculty</name>
        <label>Get K12 Faculty</label>
        <locationX>324</locationX>
        <locationY>448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Other_Faculty</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 8) AND 6 AND 7</filterLogic>
        <filters>
            <field>Faculty_Confirmed_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartOfLastWeek</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>High School</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Elementary School</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Middle/Junior High School</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>K-12 School</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartOfLastWeek</elementReference>
            </value>
        </filters>
        <filters>
            <field>Faculty_Confirmed_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Get_Weekly.Recorded_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>School District</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opps_HE</name>
        <label>Get Opps HE</label>
        <locationX>140</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOpps</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 7) AND 6</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartOfLastWeek</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical/Community College (2)</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>College/University (4)</stringValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Get_Weekly.Recorded_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Career School/For-Profit (2)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opps_K12</name>
        <label>Get Opps K12</label>
        <locationX>320</locationX>
        <locationY>1011</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOpps2</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 7 OR 8 OR 9) AND 6</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartOfLastWeek</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>High School</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Elementary School</stringValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Get_Weekly.Recorded_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Middle/Junior High School</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>K-12 School</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>School District</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opps_Other</name>
        <label>Get Opps Other</label>
        <locationX>510</locationX>
        <locationY>1224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOpps3</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND 7 AND 8 AND 9 AND 6 AND 10 AND 11 AND 12</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartOfLastWeek</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>High School</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Elementary School</stringValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Get_Weekly.Recorded_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Middle/Junior High School</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>K-12 School</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>School District</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>College/University (4)</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Technical/Community College (2)</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Career School/For-Profit (2)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Other_Faculty</name>
        <label>Get Other Faculty</label>
        <locationX>486</locationX>
        <locationY>448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Renew_Opps_Other</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND 8 AND 9 AND 10 AND 11 AND 6 AND 7</filterLogic>
        <filters>
            <field>Faculty_Confirmed_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartOfLastWeek</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>High School</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Elementary School</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Middle/Junior High School</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>K-12 School</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartOfLastWeek</elementReference>
            </value>
        </filters>
        <filters>
            <field>Faculty_Confirmed_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Get_Weekly.Recorded_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>School District</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>College/University (4)</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Technical/Community College (2)</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Career School/For-Profit (2)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Weekly</name>
        <label>Get Weekly</label>
        <locationX>49</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_HE_Faculty</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Recorded_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Weekly__c</object>
        <sortField>Recorded_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Renew_Opps_HE</name>
        <label>Renew Opps HE</label>
        <locationX>140</locationX>
        <locationY>612</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opps_HE</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 6) AND 5</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal - Verified</stringValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartOfLastWeek</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>College/University (4)</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical/Community College (2)</stringValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Get_Weekly.Recorded_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Career School/For-Profit (2)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Renew_Opps_K12</name>
        <label>Renew Opps K12</label>
        <locationX>324</locationX>
        <locationY>612</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Renew_Opps_HE</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 8) AND 7</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal - Verified</stringValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartOfLastWeek</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>High School</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Elementary School</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Middle/Junior High School</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>K-12 School</stringValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Get_Weekly.Recorded_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>School District</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Renew_Opps_Other</name>
        <label>Renew Opps Other</label>
        <locationX>486</locationX>
        <locationY>612</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Renew_Opps_K12</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND  3 AND 4 AND 5 AND 6 AND 8 AND 7 AND 9 AND 10 AND 11</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal - Verified</stringValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartOfLastWeek</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>High School</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Elementary School</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Middle/Junior High School</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>K-12 School</stringValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Get_Weekly.Recorded_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>School District</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>College/University (4)</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Technical/Community College (2)</stringValue>
            </value>
        </filters>
        <filters>
            <field>School_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Career School/For-Profit (2)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>184</locationX>
        <locationY>1442</locationY>
        <inputReference>Get_Weekly</inputReference>
    </recordUpdates>
    <start>
        <locationX>20</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Weekly</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>HigherEd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>College/University (4), Technical/Community College (2)</stringValue>
        </value>
    </variables>
    <variables>
        <name>Type_K12</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>High School, Elementary School, Middle/Junior High School, K-12 School</stringValue>
        </value>
    </variables>
    <variables>
        <name>varHEAdopts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varHEStudents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varK12Students</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varOtherStudents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
