unpackaged/main/default/flows/Weeklies_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <interviewLabel>Weeklies Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Weeklies Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Screen_Init</name>
        <label>Screen Init</label>
        <locationX>226</locationX>
        <locationY>252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Weeklies_Base</targetReference>
        </connector>
        <fields>
            <name>Sending</name>
            <fieldText>&lt;p&gt;Click Next to recalculate the numbers.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Screen_Init</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Weeklies_Base</name>
        <label>Weeklies Base</label>
        <locationX>311</locationX>
        <locationY>433</locationY>
        <flowName>Weeklies_Base</flowName>
        <inputAssignments>
            <name>varRecordID</name>
            <value>
                <elementReference>varRecordID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
